=begin
#InvoicePDFs

#InvoicePDFs turns a JSON document into a polished PDF — invoices, credit notes, quotes, receipts, proformas, purchase orders and delivery notes. The API validates your data, computes totals correctly (tax, discounts, shipping), and returns a downloadable, professional PDF.  This package is the official client for the InvoicePDFs API, generated from the OpenAPI specification.  Documentation: https://invoicepdfs.com

The version of the OpenAPI document: 0.2.0

Generated by: https://openapi-generator.tech
Generator version: 7.7.0

=end

require 'cgi'

module InvoicePDFs
  class ApiKeysApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Api Key
    # @param api_key_create_request [ApiKeyCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ApiKeyCreateResponse]
    def create_api_key_api_v1_api_keys_post(api_key_create_request, opts = {})
      data, _status_code, _headers = create_api_key_api_v1_api_keys_post_with_http_info(api_key_create_request, opts)
      data
    end

    # Create Api Key
    # @param api_key_create_request [ApiKeyCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApiKeyCreateResponse, Integer, Hash)>] ApiKeyCreateResponse data, response status code and response headers
    def create_api_key_api_v1_api_keys_post_with_http_info(api_key_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApiKeysApi.create_api_key_api_v1_api_keys_post ...'
      end
      # verify the required parameter 'api_key_create_request' is set
      if @api_client.config.client_side_validation && api_key_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'api_key_create_request' when calling ApiKeysApi.create_api_key_api_v1_api_keys_post"
      end
      # resource path
      local_var_path = '/api/v1/api-keys'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(api_key_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ApiKeyCreateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"ApiKeysApi.create_api_key_api_v1_api_keys_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApiKeysApi#create_api_key_api_v1_api_keys_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Api Key
    # @param api_key_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ApiKeyDetailResponse]
    def get_api_key_api_v1_api_keys_api_key_id_get(api_key_id, opts = {})
      data, _status_code, _headers = get_api_key_api_v1_api_keys_api_key_id_get_with_http_info(api_key_id, opts)
      data
    end

    # Get Api Key
    # @param api_key_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApiKeyDetailResponse, Integer, Hash)>] ApiKeyDetailResponse data, response status code and response headers
    def get_api_key_api_v1_api_keys_api_key_id_get_with_http_info(api_key_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApiKeysApi.get_api_key_api_v1_api_keys_api_key_id_get ...'
      end
      # verify the required parameter 'api_key_id' is set
      if @api_client.config.client_side_validation && api_key_id.nil?
        fail ArgumentError, "Missing the required parameter 'api_key_id' when calling ApiKeysApi.get_api_key_api_v1_api_keys_api_key_id_get"
      end
      # resource path
      local_var_path = '/api/v1/api-keys/{api_key_id}'.sub('{' + 'api_key_id' + '}', CGI.escape(api_key_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ApiKeyDetailResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"ApiKeysApi.get_api_key_api_v1_api_keys_api_key_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApiKeysApi#get_api_key_api_v1_api_keys_api_key_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Api Keys
    # @param [Hash] opts the optional parameters
    # @return [ApiKeyListResponse]
    def list_api_keys_api_v1_api_keys_get(opts = {})
      data, _status_code, _headers = list_api_keys_api_v1_api_keys_get_with_http_info(opts)
      data
    end

    # List Api Keys
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApiKeyListResponse, Integer, Hash)>] ApiKeyListResponse data, response status code and response headers
    def list_api_keys_api_v1_api_keys_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApiKeysApi.list_api_keys_api_v1_api_keys_get ...'
      end
      # resource path
      local_var_path = '/api/v1/api-keys'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ApiKeyListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"ApiKeysApi.list_api_keys_api_v1_api_keys_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApiKeysApi#list_api_keys_api_v1_api_keys_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch Api Key
    # @param api_key_id [String] 
    # @param api_key_patch_request [ApiKeyPatchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ApiKeyDetailResponse]
    def patch_api_key_api_v1_api_keys_api_key_id_patch(api_key_id, api_key_patch_request, opts = {})
      data, _status_code, _headers = patch_api_key_api_v1_api_keys_api_key_id_patch_with_http_info(api_key_id, api_key_patch_request, opts)
      data
    end

    # Patch Api Key
    # @param api_key_id [String] 
    # @param api_key_patch_request [ApiKeyPatchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApiKeyDetailResponse, Integer, Hash)>] ApiKeyDetailResponse data, response status code and response headers
    def patch_api_key_api_v1_api_keys_api_key_id_patch_with_http_info(api_key_id, api_key_patch_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApiKeysApi.patch_api_key_api_v1_api_keys_api_key_id_patch ...'
      end
      # verify the required parameter 'api_key_id' is set
      if @api_client.config.client_side_validation && api_key_id.nil?
        fail ArgumentError, "Missing the required parameter 'api_key_id' when calling ApiKeysApi.patch_api_key_api_v1_api_keys_api_key_id_patch"
      end
      # verify the required parameter 'api_key_patch_request' is set
      if @api_client.config.client_side_validation && api_key_patch_request.nil?
        fail ArgumentError, "Missing the required parameter 'api_key_patch_request' when calling ApiKeysApi.patch_api_key_api_v1_api_keys_api_key_id_patch"
      end
      # resource path
      local_var_path = '/api/v1/api-keys/{api_key_id}'.sub('{' + 'api_key_id' + '}', CGI.escape(api_key_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(api_key_patch_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ApiKeyDetailResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"ApiKeysApi.patch_api_key_api_v1_api_keys_api_key_id_patch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApiKeysApi#patch_api_key_api_v1_api_keys_api_key_id_patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Revoke Api Key
    # @param api_key_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ApiKeyRevokeResponse]
    def revoke_api_key_api_v1_api_keys_api_key_id_delete(api_key_id, opts = {})
      data, _status_code, _headers = revoke_api_key_api_v1_api_keys_api_key_id_delete_with_http_info(api_key_id, opts)
      data
    end

    # Revoke Api Key
    # @param api_key_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApiKeyRevokeResponse, Integer, Hash)>] ApiKeyRevokeResponse data, response status code and response headers
    def revoke_api_key_api_v1_api_keys_api_key_id_delete_with_http_info(api_key_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApiKeysApi.revoke_api_key_api_v1_api_keys_api_key_id_delete ...'
      end
      # verify the required parameter 'api_key_id' is set
      if @api_client.config.client_side_validation && api_key_id.nil?
        fail ArgumentError, "Missing the required parameter 'api_key_id' when calling ApiKeysApi.revoke_api_key_api_v1_api_keys_api_key_id_delete"
      end
      # resource path
      local_var_path = '/api/v1/api-keys/{api_key_id}'.sub('{' + 'api_key_id' + '}', CGI.escape(api_key_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ApiKeyRevokeResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"ApiKeysApi.revoke_api_key_api_v1_api_keys_api_key_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApiKeysApi#revoke_api_key_api_v1_api_keys_api_key_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Rotate Api Key
    # Revoke the existing key and create a new one with the same name.
    # @param api_key_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ApiKeyRotateResponse]
    def rotate_api_key_api_v1_api_keys_api_key_id_rotate_post(api_key_id, opts = {})
      data, _status_code, _headers = rotate_api_key_api_v1_api_keys_api_key_id_rotate_post_with_http_info(api_key_id, opts)
      data
    end

    # Rotate Api Key
    # Revoke the existing key and create a new one with the same name.
    # @param api_key_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApiKeyRotateResponse, Integer, Hash)>] ApiKeyRotateResponse data, response status code and response headers
    def rotate_api_key_api_v1_api_keys_api_key_id_rotate_post_with_http_info(api_key_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApiKeysApi.rotate_api_key_api_v1_api_keys_api_key_id_rotate_post ...'
      end
      # verify the required parameter 'api_key_id' is set
      if @api_client.config.client_side_validation && api_key_id.nil?
        fail ArgumentError, "Missing the required parameter 'api_key_id' when calling ApiKeysApi.rotate_api_key_api_v1_api_keys_api_key_id_rotate_post"
      end
      # resource path
      local_var_path = '/api/v1/api-keys/{api_key_id}/rotate'.sub('{' + 'api_key_id' + '}', CGI.escape(api_key_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ApiKeyRotateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"ApiKeysApi.rotate_api_key_api_v1_api_keys_api_key_id_rotate_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApiKeysApi#rotate_api_key_api_v1_api_keys_api_key_id_rotate_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
