=begin
#InvoicePDFs

#InvoicePDFs turns a JSON document into a polished PDF — invoices, credit notes, quotes, receipts, proformas, purchase orders and delivery notes. The API validates your data, computes totals correctly (tax, discounts, shipping), and returns a downloadable, professional PDF.  This package is the official client for the InvoicePDFs API, generated from the OpenAPI specification.  Documentation: https://invoicepdfs.com

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.7.0

=end

require 'cgi'

module InvoicePDFs
  class AuditLogApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get Audit Event
    # @param audit_event_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AuditEventResponse]
    def get_audit_event_api_v1_audit_events_audit_event_id_get(audit_event_id, opts = {})
      data, _status_code, _headers = get_audit_event_api_v1_audit_events_audit_event_id_get_with_http_info(audit_event_id, opts)
      data
    end

    # Get Audit Event
    # @param audit_event_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuditEventResponse, Integer, Hash)>] AuditEventResponse data, response status code and response headers
    def get_audit_event_api_v1_audit_events_audit_event_id_get_with_http_info(audit_event_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuditLogApi.get_audit_event_api_v1_audit_events_audit_event_id_get ...'
      end
      # verify the required parameter 'audit_event_id' is set
      if @api_client.config.client_side_validation && audit_event_id.nil?
        fail ArgumentError, "Missing the required parameter 'audit_event_id' when calling AuditLogApi.get_audit_event_api_v1_audit_events_audit_event_id_get"
      end
      # resource path
      local_var_path = '/api/v1/audit-events/{audit_event_id}'.sub('{' + 'audit_event_id' + '}', CGI.escape(audit_event_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AuditEventResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"AuditLogApi.get_audit_event_api_v1_audit_events_audit_event_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuditLogApi#get_audit_event_api_v1_audit_events_audit_event_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Audit Events
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [String] :cursor 
    # @option opts [String] :action 
    # @option opts [String] :resource_type 
    # @option opts [String] :resource_id 
    # @return [AuditEventsListResponse]
    def list_audit_events_api_v1_audit_events_get(opts = {})
      data, _status_code, _headers = list_audit_events_api_v1_audit_events_get_with_http_info(opts)
      data
    end

    # List Audit Events
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [String] :cursor 
    # @option opts [String] :action 
    # @option opts [String] :resource_type 
    # @option opts [String] :resource_id 
    # @return [Array<(AuditEventsListResponse, Integer, Hash)>] AuditEventsListResponse data, response status code and response headers
    def list_audit_events_api_v1_audit_events_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuditLogApi.list_audit_events_api_v1_audit_events_get ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling AuditLogApi.list_audit_events_api_v1_audit_events_get, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling AuditLogApi.list_audit_events_api_v1_audit_events_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/v1/audit-events'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'action'] = opts[:'action'] if !opts[:'action'].nil?
      query_params[:'resource_type'] = opts[:'resource_type'] if !opts[:'resource_type'].nil?
      query_params[:'resource_id'] = opts[:'resource_id'] if !opts[:'resource_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AuditEventsListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"AuditLogApi.list_audit_events_api_v1_audit_events_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuditLogApi#list_audit_events_api_v1_audit_events_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
