=begin
#InvoicePDFs

#InvoicePDFs turns a JSON document into a polished PDF — invoices, credit notes, quotes, receipts, proformas, purchase orders and delivery notes. The API validates your data, computes totals correctly (tax, discounts, shipping), and returns a downloadable, professional PDF.  This package is the official client for the InvoicePDFs API, generated from the OpenAPI specification.  Documentation: https://invoicepdfs.com

The version of the OpenAPI document: 0.1.2

Generated by: https://openapi-generator.tech
Generator version: 7.7.0

=end

require 'cgi'

module InvoicePDFs
  class BillingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Checkout
    # Create a Stripe Checkout session for a subscription.
    # @param billing_checkout_request [BillingCheckoutRequest] 
    # @param [Hash] opts the optional parameters
    # @return [BillingCheckoutResponse]
    def create_checkout_api_v1_billing_checkout_session_post(billing_checkout_request, opts = {})
      data, _status_code, _headers = create_checkout_api_v1_billing_checkout_session_post_with_http_info(billing_checkout_request, opts)
      data
    end

    # Create Checkout
    # Create a Stripe Checkout session for a subscription.
    # @param billing_checkout_request [BillingCheckoutRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BillingCheckoutResponse, Integer, Hash)>] BillingCheckoutResponse data, response status code and response headers
    def create_checkout_api_v1_billing_checkout_session_post_with_http_info(billing_checkout_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.create_checkout_api_v1_billing_checkout_session_post ...'
      end
      # verify the required parameter 'billing_checkout_request' is set
      if @api_client.config.client_side_validation && billing_checkout_request.nil?
        fail ArgumentError, "Missing the required parameter 'billing_checkout_request' when calling BillingApi.create_checkout_api_v1_billing_checkout_session_post"
      end
      # resource path
      local_var_path = '/api/v1/billing/checkout-session'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(billing_checkout_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BillingCheckoutResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"BillingApi.create_checkout_api_v1_billing_checkout_session_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#create_checkout_api_v1_billing_checkout_session_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Portal
    # Create a Stripe Customer Portal session for self-service management.
    # @param [Hash] opts the optional parameters
    # @return [BillingPortalResponse]
    def create_portal_api_v1_billing_portal_session_post(opts = {})
      data, _status_code, _headers = create_portal_api_v1_billing_portal_session_post_with_http_info(opts)
      data
    end

    # Create Portal
    # Create a Stripe Customer Portal session for self-service management.
    # @param [Hash] opts the optional parameters
    # @return [Array<(BillingPortalResponse, Integer, Hash)>] BillingPortalResponse data, response status code and response headers
    def create_portal_api_v1_billing_portal_session_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.create_portal_api_v1_billing_portal_session_post ...'
      end
      # resource path
      local_var_path = '/api/v1/billing/portal-session'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BillingPortalResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"BillingApi.create_portal_api_v1_billing_portal_session_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#create_portal_api_v1_billing_portal_session_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Subscription
    # Get current subscription status (from DB, no Stripe API call).
    # @param [Hash] opts the optional parameters
    # @return [BillingSubscriptionResponse]
    def get_subscription_api_v1_billing_subscription_get(opts = {})
      data, _status_code, _headers = get_subscription_api_v1_billing_subscription_get_with_http_info(opts)
      data
    end

    # Get Subscription
    # Get current subscription status (from DB, no Stripe API call).
    # @param [Hash] opts the optional parameters
    # @return [Array<(BillingSubscriptionResponse, Integer, Hash)>] BillingSubscriptionResponse data, response status code and response headers
    def get_subscription_api_v1_billing_subscription_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.get_subscription_api_v1_billing_subscription_get ...'
      end
      # resource path
      local_var_path = '/api/v1/billing/subscription'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BillingSubscriptionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"BillingApi.get_subscription_api_v1_billing_subscription_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#get_subscription_api_v1_billing_subscription_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
