=begin
#InvoicePDFs

#InvoicePDFs turns a JSON document into a polished PDF — invoices, credit notes, quotes, receipts, proformas, purchase orders and delivery notes. The API validates your data, computes totals correctly (tax, discounts, shipping), and returns a downloadable, professional PDF.  This package is the official client for the InvoicePDFs API, generated from the OpenAPI specification.  Documentation: https://invoicepdfs.com

The version of the OpenAPI document: 0.2.0

Generated by: https://openapi-generator.tech
Generator version: 7.7.0

=end

require 'cgi'

module InvoicePDFs
  class BrandingProfilesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Profile
    # @param branding_profile_create_request [BrandingProfileCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [BrandingProfileResponse]
    def create_profile_api_v1_branding_profiles_post(branding_profile_create_request, opts = {})
      data, _status_code, _headers = create_profile_api_v1_branding_profiles_post_with_http_info(branding_profile_create_request, opts)
      data
    end

    # Create Profile
    # @param branding_profile_create_request [BrandingProfileCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BrandingProfileResponse, Integer, Hash)>] BrandingProfileResponse data, response status code and response headers
    def create_profile_api_v1_branding_profiles_post_with_http_info(branding_profile_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BrandingProfilesApi.create_profile_api_v1_branding_profiles_post ...'
      end
      # verify the required parameter 'branding_profile_create_request' is set
      if @api_client.config.client_side_validation && branding_profile_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'branding_profile_create_request' when calling BrandingProfilesApi.create_profile_api_v1_branding_profiles_post"
      end
      # resource path
      local_var_path = '/api/v1/branding-profiles'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(branding_profile_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BrandingProfileResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"BrandingProfilesApi.create_profile_api_v1_branding_profiles_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BrandingProfilesApi#create_profile_api_v1_branding_profiles_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Logo
    # @param profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [SimpleBoolResponse]
    def delete_logo_api_v1_branding_profiles_profile_id_logo_delete(profile_id, opts = {})
      data, _status_code, _headers = delete_logo_api_v1_branding_profiles_profile_id_logo_delete_with_http_info(profile_id, opts)
      data
    end

    # Delete Logo
    # @param profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SimpleBoolResponse, Integer, Hash)>] SimpleBoolResponse data, response status code and response headers
    def delete_logo_api_v1_branding_profiles_profile_id_logo_delete_with_http_info(profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BrandingProfilesApi.delete_logo_api_v1_branding_profiles_profile_id_logo_delete ...'
      end
      # verify the required parameter 'profile_id' is set
      if @api_client.config.client_side_validation && profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'profile_id' when calling BrandingProfilesApi.delete_logo_api_v1_branding_profiles_profile_id_logo_delete"
      end
      # resource path
      local_var_path = '/api/v1/branding-profiles/{profile_id}/logo'.sub('{' + 'profile_id' + '}', CGI.escape(profile_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SimpleBoolResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"BrandingProfilesApi.delete_logo_api_v1_branding_profiles_profile_id_logo_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BrandingProfilesApi#delete_logo_api_v1_branding_profiles_profile_id_logo_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Profile
    # @param profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [SimpleBoolResponse]
    def delete_profile_api_v1_branding_profiles_profile_id_delete(profile_id, opts = {})
      data, _status_code, _headers = delete_profile_api_v1_branding_profiles_profile_id_delete_with_http_info(profile_id, opts)
      data
    end

    # Delete Profile
    # @param profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SimpleBoolResponse, Integer, Hash)>] SimpleBoolResponse data, response status code and response headers
    def delete_profile_api_v1_branding_profiles_profile_id_delete_with_http_info(profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BrandingProfilesApi.delete_profile_api_v1_branding_profiles_profile_id_delete ...'
      end
      # verify the required parameter 'profile_id' is set
      if @api_client.config.client_side_validation && profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'profile_id' when calling BrandingProfilesApi.delete_profile_api_v1_branding_profiles_profile_id_delete"
      end
      # resource path
      local_var_path = '/api/v1/branding-profiles/{profile_id}'.sub('{' + 'profile_id' + '}', CGI.escape(profile_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SimpleBoolResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"BrandingProfilesApi.delete_profile_api_v1_branding_profiles_profile_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BrandingProfilesApi#delete_profile_api_v1_branding_profiles_profile_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Profile
    # @param profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [BrandingProfileResponse]
    def get_profile_api_v1_branding_profiles_profile_id_get(profile_id, opts = {})
      data, _status_code, _headers = get_profile_api_v1_branding_profiles_profile_id_get_with_http_info(profile_id, opts)
      data
    end

    # Get Profile
    # @param profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BrandingProfileResponse, Integer, Hash)>] BrandingProfileResponse data, response status code and response headers
    def get_profile_api_v1_branding_profiles_profile_id_get_with_http_info(profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BrandingProfilesApi.get_profile_api_v1_branding_profiles_profile_id_get ...'
      end
      # verify the required parameter 'profile_id' is set
      if @api_client.config.client_side_validation && profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'profile_id' when calling BrandingProfilesApi.get_profile_api_v1_branding_profiles_profile_id_get"
      end
      # resource path
      local_var_path = '/api/v1/branding-profiles/{profile_id}'.sub('{' + 'profile_id' + '}', CGI.escape(profile_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BrandingProfileResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"BrandingProfilesApi.get_profile_api_v1_branding_profiles_profile_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BrandingProfilesApi#get_profile_api_v1_branding_profiles_profile_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Profiles
    # @param [Hash] opts the optional parameters
    # @return [BrandingProfilesListResponse]
    def list_profiles_api_v1_branding_profiles_get(opts = {})
      data, _status_code, _headers = list_profiles_api_v1_branding_profiles_get_with_http_info(opts)
      data
    end

    # List Profiles
    # @param [Hash] opts the optional parameters
    # @return [Array<(BrandingProfilesListResponse, Integer, Hash)>] BrandingProfilesListResponse data, response status code and response headers
    def list_profiles_api_v1_branding_profiles_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BrandingProfilesApi.list_profiles_api_v1_branding_profiles_get ...'
      end
      # resource path
      local_var_path = '/api/v1/branding-profiles'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BrandingProfilesListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"BrandingProfilesApi.list_profiles_api_v1_branding_profiles_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BrandingProfilesApi#list_profiles_api_v1_branding_profiles_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Set Default
    # @param profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [BrandingProfileResponse]
    def set_default_api_v1_branding_profiles_profile_id_default_post(profile_id, opts = {})
      data, _status_code, _headers = set_default_api_v1_branding_profiles_profile_id_default_post_with_http_info(profile_id, opts)
      data
    end

    # Set Default
    # @param profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BrandingProfileResponse, Integer, Hash)>] BrandingProfileResponse data, response status code and response headers
    def set_default_api_v1_branding_profiles_profile_id_default_post_with_http_info(profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BrandingProfilesApi.set_default_api_v1_branding_profiles_profile_id_default_post ...'
      end
      # verify the required parameter 'profile_id' is set
      if @api_client.config.client_side_validation && profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'profile_id' when calling BrandingProfilesApi.set_default_api_v1_branding_profiles_profile_id_default_post"
      end
      # resource path
      local_var_path = '/api/v1/branding-profiles/{profile_id}/default'.sub('{' + 'profile_id' + '}', CGI.escape(profile_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BrandingProfileResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"BrandingProfilesApi.set_default_api_v1_branding_profiles_profile_id_default_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BrandingProfilesApi#set_default_api_v1_branding_profiles_profile_id_default_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Profile
    # @param profile_id [String] 
    # @param branding_profile_patch_request [BrandingProfilePatchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [BrandingProfileResponse]
    def update_profile_api_v1_branding_profiles_profile_id_patch(profile_id, branding_profile_patch_request, opts = {})
      data, _status_code, _headers = update_profile_api_v1_branding_profiles_profile_id_patch_with_http_info(profile_id, branding_profile_patch_request, opts)
      data
    end

    # Update Profile
    # @param profile_id [String] 
    # @param branding_profile_patch_request [BrandingProfilePatchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BrandingProfileResponse, Integer, Hash)>] BrandingProfileResponse data, response status code and response headers
    def update_profile_api_v1_branding_profiles_profile_id_patch_with_http_info(profile_id, branding_profile_patch_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BrandingProfilesApi.update_profile_api_v1_branding_profiles_profile_id_patch ...'
      end
      # verify the required parameter 'profile_id' is set
      if @api_client.config.client_side_validation && profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'profile_id' when calling BrandingProfilesApi.update_profile_api_v1_branding_profiles_profile_id_patch"
      end
      # verify the required parameter 'branding_profile_patch_request' is set
      if @api_client.config.client_side_validation && branding_profile_patch_request.nil?
        fail ArgumentError, "Missing the required parameter 'branding_profile_patch_request' when calling BrandingProfilesApi.update_profile_api_v1_branding_profiles_profile_id_patch"
      end
      # resource path
      local_var_path = '/api/v1/branding-profiles/{profile_id}'.sub('{' + 'profile_id' + '}', CGI.escape(profile_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(branding_profile_patch_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BrandingProfileResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"BrandingProfilesApi.update_profile_api_v1_branding_profiles_profile_id_patch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BrandingProfilesApi#update_profile_api_v1_branding_profiles_profile_id_patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Upload Logo
    # @param profile_id [String] 
    # @param file [File] 
    # @param [Hash] opts the optional parameters
    # @return [BrandingProfileResponse]
    def upload_logo_api_v1_branding_profiles_profile_id_logo_post(profile_id, file, opts = {})
      data, _status_code, _headers = upload_logo_api_v1_branding_profiles_profile_id_logo_post_with_http_info(profile_id, file, opts)
      data
    end

    # Upload Logo
    # @param profile_id [String] 
    # @param file [File] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BrandingProfileResponse, Integer, Hash)>] BrandingProfileResponse data, response status code and response headers
    def upload_logo_api_v1_branding_profiles_profile_id_logo_post_with_http_info(profile_id, file, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BrandingProfilesApi.upload_logo_api_v1_branding_profiles_profile_id_logo_post ...'
      end
      # verify the required parameter 'profile_id' is set
      if @api_client.config.client_side_validation && profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'profile_id' when calling BrandingProfilesApi.upload_logo_api_v1_branding_profiles_profile_id_logo_post"
      end
      # verify the required parameter 'file' is set
      if @api_client.config.client_side_validation && file.nil?
        fail ArgumentError, "Missing the required parameter 'file' when calling BrandingProfilesApi.upload_logo_api_v1_branding_profiles_profile_id_logo_post"
      end
      # resource path
      local_var_path = '/api/v1/branding-profiles/{profile_id}/logo'.sub('{' + 'profile_id' + '}', CGI.escape(profile_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['file'] = file

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BrandingProfileResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"BrandingProfilesApi.upload_logo_api_v1_branding_profiles_profile_id_logo_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BrandingProfilesApi#upload_logo_api_v1_branding_profiles_profile_id_logo_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
