=begin
#InvoicePDFs

#InvoicePDFs turns a JSON document into a polished PDF — invoices, credit notes, quotes, receipts, proformas, purchase orders and delivery notes. The API validates your data, computes totals correctly (tax, discounts, shipping), and returns a downloadable, professional PDF.  This package is the official client for the InvoicePDFs API, generated from the OpenAPI specification.  Documentation: https://invoicepdfs.com

The version of the OpenAPI document: 0.1.2

Generated by: https://openapi-generator.tech
Generator version: 7.7.0

=end

require 'cgi'

module InvoicePDFs
  class BusinessProfilesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Business Profile
    # @param business_profile_create [BusinessProfileCreate] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key 
    # @return [BusinessProfileResponse]
    def create_business_profile_api_v1_business_profiles_post(business_profile_create, opts = {})
      data, _status_code, _headers = create_business_profile_api_v1_business_profiles_post_with_http_info(business_profile_create, opts)
      data
    end

    # Create Business Profile
    # @param business_profile_create [BusinessProfileCreate] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key 
    # @return [Array<(BusinessProfileResponse, Integer, Hash)>] BusinessProfileResponse data, response status code and response headers
    def create_business_profile_api_v1_business_profiles_post_with_http_info(business_profile_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessProfilesApi.create_business_profile_api_v1_business_profiles_post ...'
      end
      # verify the required parameter 'business_profile_create' is set
      if @api_client.config.client_side_validation && business_profile_create.nil?
        fail ArgumentError, "Missing the required parameter 'business_profile_create' when calling BusinessProfilesApi.create_business_profile_api_v1_business_profiles_post"
      end
      # resource path
      local_var_path = '/api/v1/business-profiles'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(business_profile_create)

      # return_type
      return_type = opts[:debug_return_type] || 'BusinessProfileResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"BusinessProfilesApi.create_business_profile_api_v1_business_profiles_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessProfilesApi#create_business_profile_api_v1_business_profiles_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Business Profile
    # @param business_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [SimpleBoolResponse]
    def delete_business_profile_api_v1_business_profiles_business_profile_id_delete(business_profile_id, opts = {})
      data, _status_code, _headers = delete_business_profile_api_v1_business_profiles_business_profile_id_delete_with_http_info(business_profile_id, opts)
      data
    end

    # Delete Business Profile
    # @param business_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SimpleBoolResponse, Integer, Hash)>] SimpleBoolResponse data, response status code and response headers
    def delete_business_profile_api_v1_business_profiles_business_profile_id_delete_with_http_info(business_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessProfilesApi.delete_business_profile_api_v1_business_profiles_business_profile_id_delete ...'
      end
      # verify the required parameter 'business_profile_id' is set
      if @api_client.config.client_side_validation && business_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'business_profile_id' when calling BusinessProfilesApi.delete_business_profile_api_v1_business_profiles_business_profile_id_delete"
      end
      # resource path
      local_var_path = '/api/v1/business-profiles/{business_profile_id}'.sub('{' + 'business_profile_id' + '}', CGI.escape(business_profile_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SimpleBoolResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"BusinessProfilesApi.delete_business_profile_api_v1_business_profiles_business_profile_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessProfilesApi#delete_business_profile_api_v1_business_profiles_business_profile_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Business Profile
    # @param business_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [BusinessProfileResponse]
    def get_business_profile_api_v1_business_profiles_business_profile_id_get(business_profile_id, opts = {})
      data, _status_code, _headers = get_business_profile_api_v1_business_profiles_business_profile_id_get_with_http_info(business_profile_id, opts)
      data
    end

    # Get Business Profile
    # @param business_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BusinessProfileResponse, Integer, Hash)>] BusinessProfileResponse data, response status code and response headers
    def get_business_profile_api_v1_business_profiles_business_profile_id_get_with_http_info(business_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessProfilesApi.get_business_profile_api_v1_business_profiles_business_profile_id_get ...'
      end
      # verify the required parameter 'business_profile_id' is set
      if @api_client.config.client_side_validation && business_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'business_profile_id' when calling BusinessProfilesApi.get_business_profile_api_v1_business_profiles_business_profile_id_get"
      end
      # resource path
      local_var_path = '/api/v1/business-profiles/{business_profile_id}'.sub('{' + 'business_profile_id' + '}', CGI.escape(business_profile_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BusinessProfileResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"BusinessProfilesApi.get_business_profile_api_v1_business_profiles_business_profile_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessProfilesApi#get_business_profile_api_v1_business_profiles_business_profile_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Business Profiles
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [String] :cursor 
    # @return [BusinessProfilesListResponse]
    def list_business_profiles_api_v1_business_profiles_get(opts = {})
      data, _status_code, _headers = list_business_profiles_api_v1_business_profiles_get_with_http_info(opts)
      data
    end

    # List Business Profiles
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [String] :cursor 
    # @return [Array<(BusinessProfilesListResponse, Integer, Hash)>] BusinessProfilesListResponse data, response status code and response headers
    def list_business_profiles_api_v1_business_profiles_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessProfilesApi.list_business_profiles_api_v1_business_profiles_get ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling BusinessProfilesApi.list_business_profiles_api_v1_business_profiles_get, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling BusinessProfilesApi.list_business_profiles_api_v1_business_profiles_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/v1/business-profiles'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BusinessProfilesListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"BusinessProfilesApi.list_business_profiles_api_v1_business_profiles_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessProfilesApi#list_business_profiles_api_v1_business_profiles_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch Business Profile
    # @param business_profile_id [String] 
    # @param business_profile_patch [BusinessProfilePatch] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key 
    # @return [BusinessProfileResponse]
    def patch_business_profile_api_v1_business_profiles_business_profile_id_patch(business_profile_id, business_profile_patch, opts = {})
      data, _status_code, _headers = patch_business_profile_api_v1_business_profiles_business_profile_id_patch_with_http_info(business_profile_id, business_profile_patch, opts)
      data
    end

    # Patch Business Profile
    # @param business_profile_id [String] 
    # @param business_profile_patch [BusinessProfilePatch] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key 
    # @return [Array<(BusinessProfileResponse, Integer, Hash)>] BusinessProfileResponse data, response status code and response headers
    def patch_business_profile_api_v1_business_profiles_business_profile_id_patch_with_http_info(business_profile_id, business_profile_patch, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessProfilesApi.patch_business_profile_api_v1_business_profiles_business_profile_id_patch ...'
      end
      # verify the required parameter 'business_profile_id' is set
      if @api_client.config.client_side_validation && business_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'business_profile_id' when calling BusinessProfilesApi.patch_business_profile_api_v1_business_profiles_business_profile_id_patch"
      end
      # verify the required parameter 'business_profile_patch' is set
      if @api_client.config.client_side_validation && business_profile_patch.nil?
        fail ArgumentError, "Missing the required parameter 'business_profile_patch' when calling BusinessProfilesApi.patch_business_profile_api_v1_business_profiles_business_profile_id_patch"
      end
      # resource path
      local_var_path = '/api/v1/business-profiles/{business_profile_id}'.sub('{' + 'business_profile_id' + '}', CGI.escape(business_profile_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(business_profile_patch)

      # return_type
      return_type = opts[:debug_return_type] || 'BusinessProfileResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"BusinessProfilesApi.patch_business_profile_api_v1_business_profiles_business_profile_id_patch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessProfilesApi#patch_business_profile_api_v1_business_profiles_business_profile_id_patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
