=begin
#InvoicePDFs

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.7.0

=end

require 'cgi'

module InvoicePDFs
  class CreditNotesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Credit Note
    # @param credit_note_create_request [CreditNoteCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreditNoteResponse]
    def create_credit_note_api_v1_credit_notes_post(credit_note_create_request, opts = {})
      data, _status_code, _headers = create_credit_note_api_v1_credit_notes_post_with_http_info(credit_note_create_request, opts)
      data
    end

    # Create Credit Note
    # @param credit_note_create_request [CreditNoteCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreditNoteResponse, Integer, Hash)>] CreditNoteResponse data, response status code and response headers
    def create_credit_note_api_v1_credit_notes_post_with_http_info(credit_note_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CreditNotesApi.create_credit_note_api_v1_credit_notes_post ...'
      end
      # verify the required parameter 'credit_note_create_request' is set
      if @api_client.config.client_side_validation && credit_note_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'credit_note_create_request' when calling CreditNotesApi.create_credit_note_api_v1_credit_notes_post"
      end
      # resource path
      local_var_path = '/api/v1/credit-notes'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(credit_note_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreditNoteResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"CreditNotesApi.create_credit_note_api_v1_credit_notes_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CreditNotesApi#create_credit_note_api_v1_credit_notes_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Finalize Credit Note
    # @param credit_note_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CreditNoteResponse]
    def finalize_credit_note_api_v1_credit_notes_credit_note_id_finalize_post(credit_note_id, opts = {})
      data, _status_code, _headers = finalize_credit_note_api_v1_credit_notes_credit_note_id_finalize_post_with_http_info(credit_note_id, opts)
      data
    end

    # Finalize Credit Note
    # @param credit_note_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreditNoteResponse, Integer, Hash)>] CreditNoteResponse data, response status code and response headers
    def finalize_credit_note_api_v1_credit_notes_credit_note_id_finalize_post_with_http_info(credit_note_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CreditNotesApi.finalize_credit_note_api_v1_credit_notes_credit_note_id_finalize_post ...'
      end
      # verify the required parameter 'credit_note_id' is set
      if @api_client.config.client_side_validation && credit_note_id.nil?
        fail ArgumentError, "Missing the required parameter 'credit_note_id' when calling CreditNotesApi.finalize_credit_note_api_v1_credit_notes_credit_note_id_finalize_post"
      end
      # resource path
      local_var_path = '/api/v1/credit-notes/{credit_note_id}/finalize'.sub('{' + 'credit_note_id' + '}', CGI.escape(credit_note_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreditNoteResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"CreditNotesApi.finalize_credit_note_api_v1_credit_notes_credit_note_id_finalize_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CreditNotesApi#finalize_credit_note_api_v1_credit_notes_credit_note_id_finalize_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Credit Note
    # @param credit_note_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CreditNoteResponse]
    def get_credit_note_api_v1_credit_notes_credit_note_id_get(credit_note_id, opts = {})
      data, _status_code, _headers = get_credit_note_api_v1_credit_notes_credit_note_id_get_with_http_info(credit_note_id, opts)
      data
    end

    # Get Credit Note
    # @param credit_note_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreditNoteResponse, Integer, Hash)>] CreditNoteResponse data, response status code and response headers
    def get_credit_note_api_v1_credit_notes_credit_note_id_get_with_http_info(credit_note_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CreditNotesApi.get_credit_note_api_v1_credit_notes_credit_note_id_get ...'
      end
      # verify the required parameter 'credit_note_id' is set
      if @api_client.config.client_side_validation && credit_note_id.nil?
        fail ArgumentError, "Missing the required parameter 'credit_note_id' when calling CreditNotesApi.get_credit_note_api_v1_credit_notes_credit_note_id_get"
      end
      # resource path
      local_var_path = '/api/v1/credit-notes/{credit_note_id}'.sub('{' + 'credit_note_id' + '}', CGI.escape(credit_note_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreditNoteResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"CreditNotesApi.get_credit_note_api_v1_credit_notes_credit_note_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CreditNotesApi#get_credit_note_api_v1_credit_notes_credit_note_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Credit Notes
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [String] :cursor 
    # @return [CreditNotesListResponse]
    def list_credit_notes_api_v1_credit_notes_get(opts = {})
      data, _status_code, _headers = list_credit_notes_api_v1_credit_notes_get_with_http_info(opts)
      data
    end

    # List Credit Notes
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [String] :cursor 
    # @return [Array<(CreditNotesListResponse, Integer, Hash)>] CreditNotesListResponse data, response status code and response headers
    def list_credit_notes_api_v1_credit_notes_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CreditNotesApi.list_credit_notes_api_v1_credit_notes_get ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling CreditNotesApi.list_credit_notes_api_v1_credit_notes_get, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling CreditNotesApi.list_credit_notes_api_v1_credit_notes_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/v1/credit-notes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreditNotesListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"CreditNotesApi.list_credit_notes_api_v1_credit_notes_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CreditNotesApi#list_credit_notes_api_v1_credit_notes_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Render Credit Note
    # @param credit_note_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [CreditNoteRenderRequest] :credit_note_render_request 
    # @return [Object]
    def render_credit_note_api_v1_credit_notes_credit_note_id_renders_post(credit_note_id, opts = {})
      data, _status_code, _headers = render_credit_note_api_v1_credit_notes_credit_note_id_renders_post_with_http_info(credit_note_id, opts)
      data
    end

    # Render Credit Note
    # @param credit_note_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [CreditNoteRenderRequest] :credit_note_render_request 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def render_credit_note_api_v1_credit_notes_credit_note_id_renders_post_with_http_info(credit_note_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CreditNotesApi.render_credit_note_api_v1_credit_notes_credit_note_id_renders_post ...'
      end
      # verify the required parameter 'credit_note_id' is set
      if @api_client.config.client_side_validation && credit_note_id.nil?
        fail ArgumentError, "Missing the required parameter 'credit_note_id' when calling CreditNotesApi.render_credit_note_api_v1_credit_notes_credit_note_id_renders_post"
      end
      # resource path
      local_var_path = '/api/v1/credit-notes/{credit_note_id}/renders'.sub('{' + 'credit_note_id' + '}', CGI.escape(credit_note_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'credit_note_render_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"CreditNotesApi.render_credit_note_api_v1_credit_notes_credit_note_id_renders_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CreditNotesApi#render_credit_note_api_v1_credit_notes_credit_note_id_renders_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
