=begin
#InvoicePDFs

#InvoicePDFs turns a JSON document into a polished PDF — invoices, credit notes, quotes, receipts, proformas, purchase orders and delivery notes. The API validates your data, computes totals correctly (tax, discounts, shipping), and returns a downloadable, professional PDF.  This package is the official client for the InvoicePDFs API, generated from the OpenAPI specification.  Documentation: https://invoicepdfs.com

The version of the OpenAPI document: 0.2.0

Generated by: https://openapi-generator.tech
Generator version: 7.7.0

=end

require 'cgi'

module InvoicePDFs
  class DocumentAttachmentsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Document Attachment
    # @param document_id [String] 
    # @param invoice_attachment_create_request [InvoiceAttachmentCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [InvoiceAttachmentResponse]
    def create_document_attachment(document_id, invoice_attachment_create_request, opts = {})
      data, _status_code, _headers = create_document_attachment_with_http_info(document_id, invoice_attachment_create_request, opts)
      data
    end

    # Create Document Attachment
    # @param document_id [String] 
    # @param invoice_attachment_create_request [InvoiceAttachmentCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InvoiceAttachmentResponse, Integer, Hash)>] InvoiceAttachmentResponse data, response status code and response headers
    def create_document_attachment_with_http_info(document_id, invoice_attachment_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DocumentAttachmentsApi.create_document_attachment ...'
      end
      # verify the required parameter 'document_id' is set
      if @api_client.config.client_side_validation && document_id.nil?
        fail ArgumentError, "Missing the required parameter 'document_id' when calling DocumentAttachmentsApi.create_document_attachment"
      end
      # verify the required parameter 'invoice_attachment_create_request' is set
      if @api_client.config.client_side_validation && invoice_attachment_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_attachment_create_request' when calling DocumentAttachmentsApi.create_document_attachment"
      end
      # resource path
      local_var_path = '/api/v1/documents/{document_id}/attachments'.sub('{' + 'document_id' + '}', CGI.escape(document_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(invoice_attachment_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'InvoiceAttachmentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"DocumentAttachmentsApi.create_document_attachment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DocumentAttachmentsApi#create_document_attachment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Document Attachment
    # @param document_id [String] 
    # @param attachment_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [SimpleBoolResponse]
    def delete_document_attachment(document_id, attachment_id, opts = {})
      data, _status_code, _headers = delete_document_attachment_with_http_info(document_id, attachment_id, opts)
      data
    end

    # Delete Document Attachment
    # @param document_id [String] 
    # @param attachment_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SimpleBoolResponse, Integer, Hash)>] SimpleBoolResponse data, response status code and response headers
    def delete_document_attachment_with_http_info(document_id, attachment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DocumentAttachmentsApi.delete_document_attachment ...'
      end
      # verify the required parameter 'document_id' is set
      if @api_client.config.client_side_validation && document_id.nil?
        fail ArgumentError, "Missing the required parameter 'document_id' when calling DocumentAttachmentsApi.delete_document_attachment"
      end
      # verify the required parameter 'attachment_id' is set
      if @api_client.config.client_side_validation && attachment_id.nil?
        fail ArgumentError, "Missing the required parameter 'attachment_id' when calling DocumentAttachmentsApi.delete_document_attachment"
      end
      # resource path
      local_var_path = '/api/v1/documents/{document_id}/attachments/{attachment_id}'.sub('{' + 'document_id' + '}', CGI.escape(document_id.to_s)).sub('{' + 'attachment_id' + '}', CGI.escape(attachment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SimpleBoolResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"DocumentAttachmentsApi.delete_document_attachment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DocumentAttachmentsApi#delete_document_attachment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Document Attachments
    # @param document_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [InvoiceAttachmentsListResponse]
    def list_document_attachments(document_id, opts = {})
      data, _status_code, _headers = list_document_attachments_with_http_info(document_id, opts)
      data
    end

    # List Document Attachments
    # @param document_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InvoiceAttachmentsListResponse, Integer, Hash)>] InvoiceAttachmentsListResponse data, response status code and response headers
    def list_document_attachments_with_http_info(document_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DocumentAttachmentsApi.list_document_attachments ...'
      end
      # verify the required parameter 'document_id' is set
      if @api_client.config.client_side_validation && document_id.nil?
        fail ArgumentError, "Missing the required parameter 'document_id' when calling DocumentAttachmentsApi.list_document_attachments"
      end
      # resource path
      local_var_path = '/api/v1/documents/{document_id}/attachments'.sub('{' + 'document_id' + '}', CGI.escape(document_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InvoiceAttachmentsListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"DocumentAttachmentsApi.list_document_attachments",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DocumentAttachmentsApi#list_document_attachments\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
