=begin
#InvoicePDFs

#InvoicePDFs turns a JSON document into a polished PDF — invoices, credit notes, quotes, receipts, proformas, purchase orders and delivery notes. The API validates your data, computes totals correctly (tax, discounts, shipping), and returns a downloadable, professional PDF.  This package is the official client for the InvoicePDFs API, generated from the OpenAPI specification.  Documentation: https://invoicepdfs.com

The version of the OpenAPI document: 0.1.2

Generated by: https://openapi-generator.tech
Generator version: 7.7.0

=end

require 'cgi'

module InvoicePDFs
  class DocumentsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Archive Document
    # @param document_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DocumentResponse]
    def archive_document_api_v1_documents_document_id_archive_post(document_id, opts = {})
      data, _status_code, _headers = archive_document_api_v1_documents_document_id_archive_post_with_http_info(document_id, opts)
      data
    end

    # Archive Document
    # @param document_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DocumentResponse, Integer, Hash)>] DocumentResponse data, response status code and response headers
    def archive_document_api_v1_documents_document_id_archive_post_with_http_info(document_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DocumentsApi.archive_document_api_v1_documents_document_id_archive_post ...'
      end
      # verify the required parameter 'document_id' is set
      if @api_client.config.client_side_validation && document_id.nil?
        fail ArgumentError, "Missing the required parameter 'document_id' when calling DocumentsApi.archive_document_api_v1_documents_document_id_archive_post"
      end
      # resource path
      local_var_path = '/api/v1/documents/{document_id}/archive'.sub('{' + 'document_id' + '}', CGI.escape(document_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DocumentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"DocumentsApi.archive_document_api_v1_documents_document_id_archive_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DocumentsApi#archive_document_api_v1_documents_document_id_archive_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Calculate Document
    # @param document_calculate_request [DocumentCalculateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [DocumentCalculateResponse]
    def calculate_document_api_v1_documents_calculate_post(document_calculate_request, opts = {})
      data, _status_code, _headers = calculate_document_api_v1_documents_calculate_post_with_http_info(document_calculate_request, opts)
      data
    end

    # Calculate Document
    # @param document_calculate_request [DocumentCalculateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DocumentCalculateResponse, Integer, Hash)>] DocumentCalculateResponse data, response status code and response headers
    def calculate_document_api_v1_documents_calculate_post_with_http_info(document_calculate_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DocumentsApi.calculate_document_api_v1_documents_calculate_post ...'
      end
      # verify the required parameter 'document_calculate_request' is set
      if @api_client.config.client_side_validation && document_calculate_request.nil?
        fail ArgumentError, "Missing the required parameter 'document_calculate_request' when calling DocumentsApi.calculate_document_api_v1_documents_calculate_post"
      end
      # resource path
      local_var_path = '/api/v1/documents/calculate'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(document_calculate_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DocumentCalculateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"DocumentsApi.calculate_document_api_v1_documents_calculate_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DocumentsApi#calculate_document_api_v1_documents_calculate_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Document
    # @param document_create_request [DocumentCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key 
    # @return [DocumentResponse]
    def create_document_api_v1_documents_post(document_create_request, opts = {})
      data, _status_code, _headers = create_document_api_v1_documents_post_with_http_info(document_create_request, opts)
      data
    end

    # Create Document
    # @param document_create_request [DocumentCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key 
    # @return [Array<(DocumentResponse, Integer, Hash)>] DocumentResponse data, response status code and response headers
    def create_document_api_v1_documents_post_with_http_info(document_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DocumentsApi.create_document_api_v1_documents_post ...'
      end
      # verify the required parameter 'document_create_request' is set
      if @api_client.config.client_side_validation && document_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'document_create_request' when calling DocumentsApi.create_document_api_v1_documents_post"
      end
      # resource path
      local_var_path = '/api/v1/documents'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(document_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DocumentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"DocumentsApi.create_document_api_v1_documents_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DocumentsApi#create_document_api_v1_documents_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Document
    # @param document_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [SimpleBoolResponse]
    def delete_document_api_v1_documents_document_id_delete(document_id, opts = {})
      data, _status_code, _headers = delete_document_api_v1_documents_document_id_delete_with_http_info(document_id, opts)
      data
    end

    # Delete Document
    # @param document_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SimpleBoolResponse, Integer, Hash)>] SimpleBoolResponse data, response status code and response headers
    def delete_document_api_v1_documents_document_id_delete_with_http_info(document_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DocumentsApi.delete_document_api_v1_documents_document_id_delete ...'
      end
      # verify the required parameter 'document_id' is set
      if @api_client.config.client_side_validation && document_id.nil?
        fail ArgumentError, "Missing the required parameter 'document_id' when calling DocumentsApi.delete_document_api_v1_documents_document_id_delete"
      end
      # resource path
      local_var_path = '/api/v1/documents/{document_id}'.sub('{' + 'document_id' + '}', CGI.escape(document_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SimpleBoolResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"DocumentsApi.delete_document_api_v1_documents_document_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DocumentsApi#delete_document_api_v1_documents_document_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Duplicate Document
    # @param document_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DocumentResponse]
    def duplicate_document_api_v1_documents_document_id_duplicate_post(document_id, opts = {})
      data, _status_code, _headers = duplicate_document_api_v1_documents_document_id_duplicate_post_with_http_info(document_id, opts)
      data
    end

    # Duplicate Document
    # @param document_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DocumentResponse, Integer, Hash)>] DocumentResponse data, response status code and response headers
    def duplicate_document_api_v1_documents_document_id_duplicate_post_with_http_info(document_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DocumentsApi.duplicate_document_api_v1_documents_document_id_duplicate_post ...'
      end
      # verify the required parameter 'document_id' is set
      if @api_client.config.client_side_validation && document_id.nil?
        fail ArgumentError, "Missing the required parameter 'document_id' when calling DocumentsApi.duplicate_document_api_v1_documents_document_id_duplicate_post"
      end
      # resource path
      local_var_path = '/api/v1/documents/{document_id}/duplicate'.sub('{' + 'document_id' + '}', CGI.escape(document_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DocumentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"DocumentsApi.duplicate_document_api_v1_documents_document_id_duplicate_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DocumentsApi#duplicate_document_api_v1_documents_document_id_duplicate_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Finalize Document
    # @param document_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DocumentResponse]
    def finalize_document_api_v1_documents_document_id_finalize_post(document_id, opts = {})
      data, _status_code, _headers = finalize_document_api_v1_documents_document_id_finalize_post_with_http_info(document_id, opts)
      data
    end

    # Finalize Document
    # @param document_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DocumentResponse, Integer, Hash)>] DocumentResponse data, response status code and response headers
    def finalize_document_api_v1_documents_document_id_finalize_post_with_http_info(document_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DocumentsApi.finalize_document_api_v1_documents_document_id_finalize_post ...'
      end
      # verify the required parameter 'document_id' is set
      if @api_client.config.client_side_validation && document_id.nil?
        fail ArgumentError, "Missing the required parameter 'document_id' when calling DocumentsApi.finalize_document_api_v1_documents_document_id_finalize_post"
      end
      # resource path
      local_var_path = '/api/v1/documents/{document_id}/finalize'.sub('{' + 'document_id' + '}', CGI.escape(document_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DocumentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"DocumentsApi.finalize_document_api_v1_documents_document_id_finalize_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DocumentsApi#finalize_document_api_v1_documents_document_id_finalize_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Document
    # @param document_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DocumentResponse]
    def get_document_api_v1_documents_document_id_get(document_id, opts = {})
      data, _status_code, _headers = get_document_api_v1_documents_document_id_get_with_http_info(document_id, opts)
      data
    end

    # Get Document
    # @param document_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DocumentResponse, Integer, Hash)>] DocumentResponse data, response status code and response headers
    def get_document_api_v1_documents_document_id_get_with_http_info(document_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DocumentsApi.get_document_api_v1_documents_document_id_get ...'
      end
      # verify the required parameter 'document_id' is set
      if @api_client.config.client_side_validation && document_id.nil?
        fail ArgumentError, "Missing the required parameter 'document_id' when calling DocumentsApi.get_document_api_v1_documents_document_id_get"
      end
      # resource path
      local_var_path = '/api/v1/documents/{document_id}'.sub('{' + 'document_id' + '}', CGI.escape(document_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DocumentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"DocumentsApi.get_document_api_v1_documents_document_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DocumentsApi#get_document_api_v1_documents_document_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Document Deliveries
    # @param document_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [String] :cursor 
    # @return [DeliveriesListResponse]
    def list_document_deliveries_api_v1_documents_document_id_deliveries_get(document_id, opts = {})
      data, _status_code, _headers = list_document_deliveries_api_v1_documents_document_id_deliveries_get_with_http_info(document_id, opts)
      data
    end

    # List Document Deliveries
    # @param document_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [String] :cursor 
    # @return [Array<(DeliveriesListResponse, Integer, Hash)>] DeliveriesListResponse data, response status code and response headers
    def list_document_deliveries_api_v1_documents_document_id_deliveries_get_with_http_info(document_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DocumentsApi.list_document_deliveries_api_v1_documents_document_id_deliveries_get ...'
      end
      # verify the required parameter 'document_id' is set
      if @api_client.config.client_side_validation && document_id.nil?
        fail ArgumentError, "Missing the required parameter 'document_id' when calling DocumentsApi.list_document_deliveries_api_v1_documents_document_id_deliveries_get"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DocumentsApi.list_document_deliveries_api_v1_documents_document_id_deliveries_get, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DocumentsApi.list_document_deliveries_api_v1_documents_document_id_deliveries_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/v1/documents/{document_id}/deliveries'.sub('{' + 'document_id' + '}', CGI.escape(document_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeliveriesListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"DocumentsApi.list_document_deliveries_api_v1_documents_document_id_deliveries_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DocumentsApi#list_document_deliveries_api_v1_documents_document_id_deliveries_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Documents
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [String] :cursor 
    # @option opts [String] :document_type 
    # @option opts [String] :status 
    # @return [DocumentsListResponse]
    def list_documents_api_v1_documents_get(opts = {})
      data, _status_code, _headers = list_documents_api_v1_documents_get_with_http_info(opts)
      data
    end

    # List Documents
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [String] :cursor 
    # @option opts [String] :document_type 
    # @option opts [String] :status 
    # @return [Array<(DocumentsListResponse, Integer, Hash)>] DocumentsListResponse data, response status code and response headers
    def list_documents_api_v1_documents_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DocumentsApi.list_documents_api_v1_documents_get ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DocumentsApi.list_documents_api_v1_documents_get, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DocumentsApi.list_documents_api_v1_documents_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/v1/documents'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'document_type'] = opts[:'document_type'] if !opts[:'document_type'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DocumentsListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"DocumentsApi.list_documents_api_v1_documents_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DocumentsApi#list_documents_api_v1_documents_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mark Paid
    # @param document_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DocumentResponse]
    def mark_paid_api_v1_documents_document_id_mark_paid_post(document_id, opts = {})
      data, _status_code, _headers = mark_paid_api_v1_documents_document_id_mark_paid_post_with_http_info(document_id, opts)
      data
    end

    # Mark Paid
    # @param document_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DocumentResponse, Integer, Hash)>] DocumentResponse data, response status code and response headers
    def mark_paid_api_v1_documents_document_id_mark_paid_post_with_http_info(document_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DocumentsApi.mark_paid_api_v1_documents_document_id_mark_paid_post ...'
      end
      # verify the required parameter 'document_id' is set
      if @api_client.config.client_side_validation && document_id.nil?
        fail ArgumentError, "Missing the required parameter 'document_id' when calling DocumentsApi.mark_paid_api_v1_documents_document_id_mark_paid_post"
      end
      # resource path
      local_var_path = '/api/v1/documents/{document_id}/mark-paid'.sub('{' + 'document_id' + '}', CGI.escape(document_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DocumentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"DocumentsApi.mark_paid_api_v1_documents_document_id_mark_paid_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DocumentsApi#mark_paid_api_v1_documents_document_id_mark_paid_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mark Sent
    # @param document_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DocumentResponse]
    def mark_sent_api_v1_documents_document_id_mark_sent_post(document_id, opts = {})
      data, _status_code, _headers = mark_sent_api_v1_documents_document_id_mark_sent_post_with_http_info(document_id, opts)
      data
    end

    # Mark Sent
    # @param document_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DocumentResponse, Integer, Hash)>] DocumentResponse data, response status code and response headers
    def mark_sent_api_v1_documents_document_id_mark_sent_post_with_http_info(document_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DocumentsApi.mark_sent_api_v1_documents_document_id_mark_sent_post ...'
      end
      # verify the required parameter 'document_id' is set
      if @api_client.config.client_side_validation && document_id.nil?
        fail ArgumentError, "Missing the required parameter 'document_id' when calling DocumentsApi.mark_sent_api_v1_documents_document_id_mark_sent_post"
      end
      # resource path
      local_var_path = '/api/v1/documents/{document_id}/mark-sent'.sub('{' + 'document_id' + '}', CGI.escape(document_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DocumentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"DocumentsApi.mark_sent_api_v1_documents_document_id_mark_sent_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DocumentsApi#mark_sent_api_v1_documents_document_id_mark_sent_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mark Unpaid
    # @param document_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DocumentResponse]
    def mark_unpaid_api_v1_documents_document_id_mark_unpaid_post(document_id, opts = {})
      data, _status_code, _headers = mark_unpaid_api_v1_documents_document_id_mark_unpaid_post_with_http_info(document_id, opts)
      data
    end

    # Mark Unpaid
    # @param document_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DocumentResponse, Integer, Hash)>] DocumentResponse data, response status code and response headers
    def mark_unpaid_api_v1_documents_document_id_mark_unpaid_post_with_http_info(document_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DocumentsApi.mark_unpaid_api_v1_documents_document_id_mark_unpaid_post ...'
      end
      # verify the required parameter 'document_id' is set
      if @api_client.config.client_side_validation && document_id.nil?
        fail ArgumentError, "Missing the required parameter 'document_id' when calling DocumentsApi.mark_unpaid_api_v1_documents_document_id_mark_unpaid_post"
      end
      # resource path
      local_var_path = '/api/v1/documents/{document_id}/mark-unpaid'.sub('{' + 'document_id' + '}', CGI.escape(document_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DocumentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"DocumentsApi.mark_unpaid_api_v1_documents_document_id_mark_unpaid_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DocumentsApi#mark_unpaid_api_v1_documents_document_id_mark_unpaid_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch Document
    # @param document_id [String] 
    # @param document_patch_request [DocumentPatchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [DocumentResponse]
    def patch_document_api_v1_documents_document_id_patch(document_id, document_patch_request, opts = {})
      data, _status_code, _headers = patch_document_api_v1_documents_document_id_patch_with_http_info(document_id, document_patch_request, opts)
      data
    end

    # Patch Document
    # @param document_id [String] 
    # @param document_patch_request [DocumentPatchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DocumentResponse, Integer, Hash)>] DocumentResponse data, response status code and response headers
    def patch_document_api_v1_documents_document_id_patch_with_http_info(document_id, document_patch_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DocumentsApi.patch_document_api_v1_documents_document_id_patch ...'
      end
      # verify the required parameter 'document_id' is set
      if @api_client.config.client_side_validation && document_id.nil?
        fail ArgumentError, "Missing the required parameter 'document_id' when calling DocumentsApi.patch_document_api_v1_documents_document_id_patch"
      end
      # verify the required parameter 'document_patch_request' is set
      if @api_client.config.client_side_validation && document_patch_request.nil?
        fail ArgumentError, "Missing the required parameter 'document_patch_request' when calling DocumentsApi.patch_document_api_v1_documents_document_id_patch"
      end
      # resource path
      local_var_path = '/api/v1/documents/{document_id}'.sub('{' + 'document_id' + '}', CGI.escape(document_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(document_patch_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DocumentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"DocumentsApi.patch_document_api_v1_documents_document_id_patch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DocumentsApi#patch_document_api_v1_documents_document_id_patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Render Document
    # @param document_id [String] 
    # @param app_documents_schemas_document_render_request [AppDocumentsSchemasDocumentRenderRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key 
    # @return [Object]
    def render_document_api_v1_documents_document_id_renders_post(document_id, app_documents_schemas_document_render_request, opts = {})
      data, _status_code, _headers = render_document_api_v1_documents_document_id_renders_post_with_http_info(document_id, app_documents_schemas_document_render_request, opts)
      data
    end

    # Render Document
    # @param document_id [String] 
    # @param app_documents_schemas_document_render_request [AppDocumentsSchemasDocumentRenderRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def render_document_api_v1_documents_document_id_renders_post_with_http_info(document_id, app_documents_schemas_document_render_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DocumentsApi.render_document_api_v1_documents_document_id_renders_post ...'
      end
      # verify the required parameter 'document_id' is set
      if @api_client.config.client_side_validation && document_id.nil?
        fail ArgumentError, "Missing the required parameter 'document_id' when calling DocumentsApi.render_document_api_v1_documents_document_id_renders_post"
      end
      # verify the required parameter 'app_documents_schemas_document_render_request' is set
      if @api_client.config.client_side_validation && app_documents_schemas_document_render_request.nil?
        fail ArgumentError, "Missing the required parameter 'app_documents_schemas_document_render_request' when calling DocumentsApi.render_document_api_v1_documents_document_id_renders_post"
      end
      # resource path
      local_var_path = '/api/v1/documents/{document_id}/renders'.sub('{' + 'document_id' + '}', CGI.escape(document_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(app_documents_schemas_document_render_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"DocumentsApi.render_document_api_v1_documents_document_id_renders_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DocumentsApi#render_document_api_v1_documents_document_id_renders_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Render Document
    # @param app_schemas_v1_document_render_request [AppSchemasV1DocumentRenderRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key 
    # @return [Object]
    def render_document_api_v1_documents_render_post(app_schemas_v1_document_render_request, opts = {})
      data, _status_code, _headers = render_document_api_v1_documents_render_post_with_http_info(app_schemas_v1_document_render_request, opts)
      data
    end

    # Render Document
    # @param app_schemas_v1_document_render_request [AppSchemasV1DocumentRenderRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def render_document_api_v1_documents_render_post_with_http_info(app_schemas_v1_document_render_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DocumentsApi.render_document_api_v1_documents_render_post ...'
      end
      # verify the required parameter 'app_schemas_v1_document_render_request' is set
      if @api_client.config.client_side_validation && app_schemas_v1_document_render_request.nil?
        fail ArgumentError, "Missing the required parameter 'app_schemas_v1_document_render_request' when calling DocumentsApi.render_document_api_v1_documents_render_post"
      end
      # resource path
      local_var_path = '/api/v1/documents/render'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(app_schemas_v1_document_render_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"DocumentsApi.render_document_api_v1_documents_render_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DocumentsApi#render_document_api_v1_documents_render_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Restore Document
    # @param document_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DocumentResponse]
    def restore_document_api_v1_documents_document_id_restore_post(document_id, opts = {})
      data, _status_code, _headers = restore_document_api_v1_documents_document_id_restore_post_with_http_info(document_id, opts)
      data
    end

    # Restore Document
    # @param document_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DocumentResponse, Integer, Hash)>] DocumentResponse data, response status code and response headers
    def restore_document_api_v1_documents_document_id_restore_post_with_http_info(document_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DocumentsApi.restore_document_api_v1_documents_document_id_restore_post ...'
      end
      # verify the required parameter 'document_id' is set
      if @api_client.config.client_side_validation && document_id.nil?
        fail ArgumentError, "Missing the required parameter 'document_id' when calling DocumentsApi.restore_document_api_v1_documents_document_id_restore_post"
      end
      # resource path
      local_var_path = '/api/v1/documents/{document_id}/restore'.sub('{' + 'document_id' + '}', CGI.escape(document_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DocumentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"DocumentsApi.restore_document_api_v1_documents_document_id_restore_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DocumentsApi#restore_document_api_v1_documents_document_id_restore_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send Document
    # @param document_id [String] 
    # @param delivery_send_request [DeliverySendRequest] 
    # @param [Hash] opts the optional parameters
    # @return [DeliveryResponse]
    def send_document_api_v1_documents_document_id_send_post(document_id, delivery_send_request, opts = {})
      data, _status_code, _headers = send_document_api_v1_documents_document_id_send_post_with_http_info(document_id, delivery_send_request, opts)
      data
    end

    # Send Document
    # @param document_id [String] 
    # @param delivery_send_request [DeliverySendRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeliveryResponse, Integer, Hash)>] DeliveryResponse data, response status code and response headers
    def send_document_api_v1_documents_document_id_send_post_with_http_info(document_id, delivery_send_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DocumentsApi.send_document_api_v1_documents_document_id_send_post ...'
      end
      # verify the required parameter 'document_id' is set
      if @api_client.config.client_side_validation && document_id.nil?
        fail ArgumentError, "Missing the required parameter 'document_id' when calling DocumentsApi.send_document_api_v1_documents_document_id_send_post"
      end
      # verify the required parameter 'delivery_send_request' is set
      if @api_client.config.client_side_validation && delivery_send_request.nil?
        fail ArgumentError, "Missing the required parameter 'delivery_send_request' when calling DocumentsApi.send_document_api_v1_documents_document_id_send_post"
      end
      # resource path
      local_var_path = '/api/v1/documents/{document_id}/send'.sub('{' + 'document_id' + '}', CGI.escape(document_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(delivery_send_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DeliveryResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"DocumentsApi.send_document_api_v1_documents_document_id_send_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DocumentsApi#send_document_api_v1_documents_document_id_send_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Validate Document
    # @param document_validate_request [DocumentValidateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [DocumentValidateResponse]
    def validate_document_api_v1_documents_validate_post(document_validate_request, opts = {})
      data, _status_code, _headers = validate_document_api_v1_documents_validate_post_with_http_info(document_validate_request, opts)
      data
    end

    # Validate Document
    # @param document_validate_request [DocumentValidateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DocumentValidateResponse, Integer, Hash)>] DocumentValidateResponse data, response status code and response headers
    def validate_document_api_v1_documents_validate_post_with_http_info(document_validate_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DocumentsApi.validate_document_api_v1_documents_validate_post ...'
      end
      # verify the required parameter 'document_validate_request' is set
      if @api_client.config.client_side_validation && document_validate_request.nil?
        fail ArgumentError, "Missing the required parameter 'document_validate_request' when calling DocumentsApi.validate_document_api_v1_documents_validate_post"
      end
      # resource path
      local_var_path = '/api/v1/documents/validate'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(document_validate_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DocumentValidateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"DocumentsApi.validate_document_api_v1_documents_validate_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DocumentsApi#validate_document_api_v1_documents_validate_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Void Document
    # @param document_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DocumentResponse]
    def void_document_api_v1_documents_document_id_void_post(document_id, opts = {})
      data, _status_code, _headers = void_document_api_v1_documents_document_id_void_post_with_http_info(document_id, opts)
      data
    end

    # Void Document
    # @param document_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DocumentResponse, Integer, Hash)>] DocumentResponse data, response status code and response headers
    def void_document_api_v1_documents_document_id_void_post_with_http_info(document_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DocumentsApi.void_document_api_v1_documents_document_id_void_post ...'
      end
      # verify the required parameter 'document_id' is set
      if @api_client.config.client_side_validation && document_id.nil?
        fail ArgumentError, "Missing the required parameter 'document_id' when calling DocumentsApi.void_document_api_v1_documents_document_id_void_post"
      end
      # resource path
      local_var_path = '/api/v1/documents/{document_id}/void'.sub('{' + 'document_id' + '}', CGI.escape(document_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DocumentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"DocumentsApi.void_document_api_v1_documents_document_id_void_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DocumentsApi#void_document_api_v1_documents_document_id_void_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
