=begin
#InvoicePDFs

#InvoicePDFs turns a JSON document into a polished PDF — invoices, credit notes, quotes, receipts, proformas, purchase orders and delivery notes. The API validates your data, computes totals correctly (tax, discounts, shipping), and returns a downloadable, professional PDF.  This package is the official client for the InvoicePDFs API, generated from the OpenAPI specification.  Documentation: https://invoicepdfs.com

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.7.0

=end

require 'cgi'

module InvoicePDFs
  class DocumentsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Calculate Document
    # @param document_calculate_request [DocumentCalculateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [DocumentCalculateResponse]
    def calculate_document_api_v1_documents_calculate_post(document_calculate_request, opts = {})
      data, _status_code, _headers = calculate_document_api_v1_documents_calculate_post_with_http_info(document_calculate_request, opts)
      data
    end

    # Calculate Document
    # @param document_calculate_request [DocumentCalculateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DocumentCalculateResponse, Integer, Hash)>] DocumentCalculateResponse data, response status code and response headers
    def calculate_document_api_v1_documents_calculate_post_with_http_info(document_calculate_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DocumentsApi.calculate_document_api_v1_documents_calculate_post ...'
      end
      # verify the required parameter 'document_calculate_request' is set
      if @api_client.config.client_side_validation && document_calculate_request.nil?
        fail ArgumentError, "Missing the required parameter 'document_calculate_request' when calling DocumentsApi.calculate_document_api_v1_documents_calculate_post"
      end
      # resource path
      local_var_path = '/api/v1/documents/calculate'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(document_calculate_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DocumentCalculateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"DocumentsApi.calculate_document_api_v1_documents_calculate_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DocumentsApi#calculate_document_api_v1_documents_calculate_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Render Document
    # @param document_render_request [DocumentRenderRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key 
    # @return [Object]
    def render_document_api_v1_documents_render_post(document_render_request, opts = {})
      data, _status_code, _headers = render_document_api_v1_documents_render_post_with_http_info(document_render_request, opts)
      data
    end

    # Render Document
    # @param document_render_request [DocumentRenderRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def render_document_api_v1_documents_render_post_with_http_info(document_render_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DocumentsApi.render_document_api_v1_documents_render_post ...'
      end
      # verify the required parameter 'document_render_request' is set
      if @api_client.config.client_side_validation && document_render_request.nil?
        fail ArgumentError, "Missing the required parameter 'document_render_request' when calling DocumentsApi.render_document_api_v1_documents_render_post"
      end
      # resource path
      local_var_path = '/api/v1/documents/render'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(document_render_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"DocumentsApi.render_document_api_v1_documents_render_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DocumentsApi#render_document_api_v1_documents_render_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Validate Document
    # @param document_validate_request [DocumentValidateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [DocumentValidateResponse]
    def validate_document_api_v1_documents_validate_post(document_validate_request, opts = {})
      data, _status_code, _headers = validate_document_api_v1_documents_validate_post_with_http_info(document_validate_request, opts)
      data
    end

    # Validate Document
    # @param document_validate_request [DocumentValidateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DocumentValidateResponse, Integer, Hash)>] DocumentValidateResponse data, response status code and response headers
    def validate_document_api_v1_documents_validate_post_with_http_info(document_validate_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DocumentsApi.validate_document_api_v1_documents_validate_post ...'
      end
      # verify the required parameter 'document_validate_request' is set
      if @api_client.config.client_side_validation && document_validate_request.nil?
        fail ArgumentError, "Missing the required parameter 'document_validate_request' when calling DocumentsApi.validate_document_api_v1_documents_validate_post"
      end
      # resource path
      local_var_path = '/api/v1/documents/validate'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(document_validate_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DocumentValidateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"DocumentsApi.validate_document_api_v1_documents_validate_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DocumentsApi#validate_document_api_v1_documents_validate_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
