=begin
#InvoicePDFs

#InvoicePDFs turns a JSON document into a polished PDF — invoices, credit notes, quotes, receipts, proformas, purchase orders and delivery notes. The API validates your data, computes totals correctly (tax, discounts, shipping), and returns a downloadable, professional PDF.  This package is the official client for the InvoicePDFs API, generated from the OpenAPI specification.  Documentation: https://invoicepdfs.com

The version of the OpenAPI document: 0.1.2

Generated by: https://openapi-generator.tech
Generator version: 7.7.0

=end

require 'cgi'

module InvoicePDFs
  class ImportsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Cancel Import
    # @param import_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ImportResponse]
    def cancel_import_api_v1_imports_import_id_cancel_post(import_id, opts = {})
      data, _status_code, _headers = cancel_import_api_v1_imports_import_id_cancel_post_with_http_info(import_id, opts)
      data
    end

    # Cancel Import
    # @param import_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ImportResponse, Integer, Hash)>] ImportResponse data, response status code and response headers
    def cancel_import_api_v1_imports_import_id_cancel_post_with_http_info(import_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ImportsApi.cancel_import_api_v1_imports_import_id_cancel_post ...'
      end
      # verify the required parameter 'import_id' is set
      if @api_client.config.client_side_validation && import_id.nil?
        fail ArgumentError, "Missing the required parameter 'import_id' when calling ImportsApi.cancel_import_api_v1_imports_import_id_cancel_post"
      end
      # resource path
      local_var_path = '/api/v1/imports/{import_id}/cancel'.sub('{' + 'import_id' + '}', CGI.escape(import_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ImportResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"ImportsApi.cancel_import_api_v1_imports_import_id_cancel_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ImportsApi#cancel_import_api_v1_imports_import_id_cancel_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Confirm Import
    # @param import_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ImportResponse]
    def confirm_import_api_v1_imports_import_id_confirm_post(import_id, opts = {})
      data, _status_code, _headers = confirm_import_api_v1_imports_import_id_confirm_post_with_http_info(import_id, opts)
      data
    end

    # Confirm Import
    # @param import_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ImportResponse, Integer, Hash)>] ImportResponse data, response status code and response headers
    def confirm_import_api_v1_imports_import_id_confirm_post_with_http_info(import_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ImportsApi.confirm_import_api_v1_imports_import_id_confirm_post ...'
      end
      # verify the required parameter 'import_id' is set
      if @api_client.config.client_side_validation && import_id.nil?
        fail ArgumentError, "Missing the required parameter 'import_id' when calling ImportsApi.confirm_import_api_v1_imports_import_id_confirm_post"
      end
      # resource path
      local_var_path = '/api/v1/imports/{import_id}/confirm'.sub('{' + 'import_id' + '}', CGI.escape(import_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ImportResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"ImportsApi.confirm_import_api_v1_imports_import_id_confirm_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ImportsApi#confirm_import_api_v1_imports_import_id_confirm_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Import
    # @param import_create_request [ImportCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ImportResponse]
    def create_import_api_v1_imports_post(import_create_request, opts = {})
      data, _status_code, _headers = create_import_api_v1_imports_post_with_http_info(import_create_request, opts)
      data
    end

    # Create Import
    # @param import_create_request [ImportCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ImportResponse, Integer, Hash)>] ImportResponse data, response status code and response headers
    def create_import_api_v1_imports_post_with_http_info(import_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ImportsApi.create_import_api_v1_imports_post ...'
      end
      # verify the required parameter 'import_create_request' is set
      if @api_client.config.client_side_validation && import_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'import_create_request' when calling ImportsApi.create_import_api_v1_imports_post"
      end
      # resource path
      local_var_path = '/api/v1/imports'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(import_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ImportResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"ImportsApi.create_import_api_v1_imports_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ImportsApi#create_import_api_v1_imports_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Import
    # @param import_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ImportResponse]
    def get_import_api_v1_imports_import_id_get(import_id, opts = {})
      data, _status_code, _headers = get_import_api_v1_imports_import_id_get_with_http_info(import_id, opts)
      data
    end

    # Get Import
    # @param import_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ImportResponse, Integer, Hash)>] ImportResponse data, response status code and response headers
    def get_import_api_v1_imports_import_id_get_with_http_info(import_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ImportsApi.get_import_api_v1_imports_import_id_get ...'
      end
      # verify the required parameter 'import_id' is set
      if @api_client.config.client_side_validation && import_id.nil?
        fail ArgumentError, "Missing the required parameter 'import_id' when calling ImportsApi.get_import_api_v1_imports_import_id_get"
      end
      # resource path
      local_var_path = '/api/v1/imports/{import_id}'.sub('{' + 'import_id' + '}', CGI.escape(import_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ImportResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"ImportsApi.get_import_api_v1_imports_import_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ImportsApi#get_import_api_v1_imports_import_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
