=begin
#InvoicePDFs

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.7.0

=end

require 'cgi'

module InvoicePDFs
  class InvoicesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Archive Invoice
    # @param invoice_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [InvoiceResponse]
    def archive_invoice_api_v1_invoices_invoice_id_archive_post(invoice_id, opts = {})
      data, _status_code, _headers = archive_invoice_api_v1_invoices_invoice_id_archive_post_with_http_info(invoice_id, opts)
      data
    end

    # Archive Invoice
    # @param invoice_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InvoiceResponse, Integer, Hash)>] InvoiceResponse data, response status code and response headers
    def archive_invoice_api_v1_invoices_invoice_id_archive_post_with_http_info(invoice_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoicesApi.archive_invoice_api_v1_invoices_invoice_id_archive_post ...'
      end
      # verify the required parameter 'invoice_id' is set
      if @api_client.config.client_side_validation && invoice_id.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_id' when calling InvoicesApi.archive_invoice_api_v1_invoices_invoice_id_archive_post"
      end
      # resource path
      local_var_path = '/api/v1/invoices/{invoice_id}/archive'.sub('{' + 'invoice_id' + '}', CGI.escape(invoice_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InvoiceResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"InvoicesApi.archive_invoice_api_v1_invoices_invoice_id_archive_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#archive_invoice_api_v1_invoices_invoice_id_archive_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Calculate Invoice
    # @param invoice_draft_request [InvoiceDraftRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def calculate_invoice_api_v1_invoices_calculate_post(invoice_draft_request, opts = {})
      data, _status_code, _headers = calculate_invoice_api_v1_invoices_calculate_post_with_http_info(invoice_draft_request, opts)
      data
    end

    # Calculate Invoice
    # @param invoice_draft_request [InvoiceDraftRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def calculate_invoice_api_v1_invoices_calculate_post_with_http_info(invoice_draft_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoicesApi.calculate_invoice_api_v1_invoices_calculate_post ...'
      end
      # verify the required parameter 'invoice_draft_request' is set
      if @api_client.config.client_side_validation && invoice_draft_request.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_draft_request' when calling InvoicesApi.calculate_invoice_api_v1_invoices_calculate_post"
      end
      # resource path
      local_var_path = '/api/v1/invoices/calculate'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(invoice_draft_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"InvoicesApi.calculate_invoice_api_v1_invoices_calculate_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#calculate_invoice_api_v1_invoices_calculate_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Invoice
    # @param invoice_create_request [InvoiceCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key 
    # @return [InvoiceResponse]
    def create_invoice_api_v1_invoices_post(invoice_create_request, opts = {})
      data, _status_code, _headers = create_invoice_api_v1_invoices_post_with_http_info(invoice_create_request, opts)
      data
    end

    # Create Invoice
    # @param invoice_create_request [InvoiceCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key 
    # @return [Array<(InvoiceResponse, Integer, Hash)>] InvoiceResponse data, response status code and response headers
    def create_invoice_api_v1_invoices_post_with_http_info(invoice_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoicesApi.create_invoice_api_v1_invoices_post ...'
      end
      # verify the required parameter 'invoice_create_request' is set
      if @api_client.config.client_side_validation && invoice_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_create_request' when calling InvoicesApi.create_invoice_api_v1_invoices_post"
      end
      # resource path
      local_var_path = '/api/v1/invoices'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(invoice_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'InvoiceResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"InvoicesApi.create_invoice_api_v1_invoices_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#create_invoice_api_v1_invoices_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Invoice
    # @param invoice_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [SimpleBoolResponse]
    def delete_invoice_api_v1_invoices_invoice_id_delete(invoice_id, opts = {})
      data, _status_code, _headers = delete_invoice_api_v1_invoices_invoice_id_delete_with_http_info(invoice_id, opts)
      data
    end

    # Delete Invoice
    # @param invoice_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SimpleBoolResponse, Integer, Hash)>] SimpleBoolResponse data, response status code and response headers
    def delete_invoice_api_v1_invoices_invoice_id_delete_with_http_info(invoice_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoicesApi.delete_invoice_api_v1_invoices_invoice_id_delete ...'
      end
      # verify the required parameter 'invoice_id' is set
      if @api_client.config.client_side_validation && invoice_id.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_id' when calling InvoicesApi.delete_invoice_api_v1_invoices_invoice_id_delete"
      end
      # resource path
      local_var_path = '/api/v1/invoices/{invoice_id}'.sub('{' + 'invoice_id' + '}', CGI.escape(invoice_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SimpleBoolResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"InvoicesApi.delete_invoice_api_v1_invoices_invoice_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#delete_invoice_api_v1_invoices_invoice_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Duplicate Invoice
    # @param invoice_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [InvoiceResponse]
    def duplicate_invoice_api_v1_invoices_invoice_id_duplicate_post(invoice_id, opts = {})
      data, _status_code, _headers = duplicate_invoice_api_v1_invoices_invoice_id_duplicate_post_with_http_info(invoice_id, opts)
      data
    end

    # Duplicate Invoice
    # @param invoice_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InvoiceResponse, Integer, Hash)>] InvoiceResponse data, response status code and response headers
    def duplicate_invoice_api_v1_invoices_invoice_id_duplicate_post_with_http_info(invoice_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoicesApi.duplicate_invoice_api_v1_invoices_invoice_id_duplicate_post ...'
      end
      # verify the required parameter 'invoice_id' is set
      if @api_client.config.client_side_validation && invoice_id.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_id' when calling InvoicesApi.duplicate_invoice_api_v1_invoices_invoice_id_duplicate_post"
      end
      # resource path
      local_var_path = '/api/v1/invoices/{invoice_id}/duplicate'.sub('{' + 'invoice_id' + '}', CGI.escape(invoice_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InvoiceResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"InvoicesApi.duplicate_invoice_api_v1_invoices_invoice_id_duplicate_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#duplicate_invoice_api_v1_invoices_invoice_id_duplicate_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Finalize Invoice
    # @param invoice_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key 
    # @return [Hash<String, Object>]
    def finalize_invoice_api_v1_invoices_invoice_id_finalize_post(invoice_id, opts = {})
      data, _status_code, _headers = finalize_invoice_api_v1_invoices_invoice_id_finalize_post_with_http_info(invoice_id, opts)
      data
    end

    # Finalize Invoice
    # @param invoice_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key 
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def finalize_invoice_api_v1_invoices_invoice_id_finalize_post_with_http_info(invoice_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoicesApi.finalize_invoice_api_v1_invoices_invoice_id_finalize_post ...'
      end
      # verify the required parameter 'invoice_id' is set
      if @api_client.config.client_side_validation && invoice_id.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_id' when calling InvoicesApi.finalize_invoice_api_v1_invoices_invoice_id_finalize_post"
      end
      # resource path
      local_var_path = '/api/v1/invoices/{invoice_id}/finalize'.sub('{' + 'invoice_id' + '}', CGI.escape(invoice_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'Idempotency-Key'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"InvoicesApi.finalize_invoice_api_v1_invoices_invoice_id_finalize_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#finalize_invoice_api_v1_invoices_invoice_id_finalize_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Invoice
    # @param invoice_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [InvoiceResponse]
    def get_invoice_api_v1_invoices_invoice_id_get(invoice_id, opts = {})
      data, _status_code, _headers = get_invoice_api_v1_invoices_invoice_id_get_with_http_info(invoice_id, opts)
      data
    end

    # Get Invoice
    # @param invoice_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InvoiceResponse, Integer, Hash)>] InvoiceResponse data, response status code and response headers
    def get_invoice_api_v1_invoices_invoice_id_get_with_http_info(invoice_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoicesApi.get_invoice_api_v1_invoices_invoice_id_get ...'
      end
      # verify the required parameter 'invoice_id' is set
      if @api_client.config.client_side_validation && invoice_id.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_id' when calling InvoicesApi.get_invoice_api_v1_invoices_invoice_id_get"
      end
      # resource path
      local_var_path = '/api/v1/invoices/{invoice_id}'.sub('{' + 'invoice_id' + '}', CGI.escape(invoice_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InvoiceResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"InvoicesApi.get_invoice_api_v1_invoices_invoice_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#get_invoice_api_v1_invoices_invoice_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Invoice Deliveries
    # @param invoice_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [String] :cursor 
    # @return [DeliveriesListResponse]
    def list_invoice_deliveries_api_v1_invoices_invoice_id_deliveries_get(invoice_id, opts = {})
      data, _status_code, _headers = list_invoice_deliveries_api_v1_invoices_invoice_id_deliveries_get_with_http_info(invoice_id, opts)
      data
    end

    # List Invoice Deliveries
    # @param invoice_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [String] :cursor 
    # @return [Array<(DeliveriesListResponse, Integer, Hash)>] DeliveriesListResponse data, response status code and response headers
    def list_invoice_deliveries_api_v1_invoices_invoice_id_deliveries_get_with_http_info(invoice_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoicesApi.list_invoice_deliveries_api_v1_invoices_invoice_id_deliveries_get ...'
      end
      # verify the required parameter 'invoice_id' is set
      if @api_client.config.client_side_validation && invoice_id.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_id' when calling InvoicesApi.list_invoice_deliveries_api_v1_invoices_invoice_id_deliveries_get"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling InvoicesApi.list_invoice_deliveries_api_v1_invoices_invoice_id_deliveries_get, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling InvoicesApi.list_invoice_deliveries_api_v1_invoices_invoice_id_deliveries_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/v1/invoices/{invoice_id}/deliveries'.sub('{' + 'invoice_id' + '}', CGI.escape(invoice_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeliveriesListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"InvoicesApi.list_invoice_deliveries_api_v1_invoices_invoice_id_deliveries_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#list_invoice_deliveries_api_v1_invoices_invoice_id_deliveries_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Invoices
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [String] :cursor 
    # @option opts [String] :status 
    # @return [InvoicesListResponse]
    def list_invoices_api_v1_invoices_get(opts = {})
      data, _status_code, _headers = list_invoices_api_v1_invoices_get_with_http_info(opts)
      data
    end

    # List Invoices
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [String] :cursor 
    # @option opts [String] :status 
    # @return [Array<(InvoicesListResponse, Integer, Hash)>] InvoicesListResponse data, response status code and response headers
    def list_invoices_api_v1_invoices_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoicesApi.list_invoices_api_v1_invoices_get ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling InvoicesApi.list_invoices_api_v1_invoices_get, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling InvoicesApi.list_invoices_api_v1_invoices_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/v1/invoices'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InvoicesListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"InvoicesApi.list_invoices_api_v1_invoices_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#list_invoices_api_v1_invoices_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mark Paid
    # @param invoice_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [InvoiceResponse]
    def mark_paid_api_v1_invoices_invoice_id_mark_paid_post(invoice_id, opts = {})
      data, _status_code, _headers = mark_paid_api_v1_invoices_invoice_id_mark_paid_post_with_http_info(invoice_id, opts)
      data
    end

    # Mark Paid
    # @param invoice_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InvoiceResponse, Integer, Hash)>] InvoiceResponse data, response status code and response headers
    def mark_paid_api_v1_invoices_invoice_id_mark_paid_post_with_http_info(invoice_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoicesApi.mark_paid_api_v1_invoices_invoice_id_mark_paid_post ...'
      end
      # verify the required parameter 'invoice_id' is set
      if @api_client.config.client_side_validation && invoice_id.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_id' when calling InvoicesApi.mark_paid_api_v1_invoices_invoice_id_mark_paid_post"
      end
      # resource path
      local_var_path = '/api/v1/invoices/{invoice_id}/mark-paid'.sub('{' + 'invoice_id' + '}', CGI.escape(invoice_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InvoiceResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"InvoicesApi.mark_paid_api_v1_invoices_invoice_id_mark_paid_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#mark_paid_api_v1_invoices_invoice_id_mark_paid_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mark Sent
    # @param invoice_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [InvoiceResponse]
    def mark_sent_api_v1_invoices_invoice_id_mark_sent_post(invoice_id, opts = {})
      data, _status_code, _headers = mark_sent_api_v1_invoices_invoice_id_mark_sent_post_with_http_info(invoice_id, opts)
      data
    end

    # Mark Sent
    # @param invoice_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InvoiceResponse, Integer, Hash)>] InvoiceResponse data, response status code and response headers
    def mark_sent_api_v1_invoices_invoice_id_mark_sent_post_with_http_info(invoice_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoicesApi.mark_sent_api_v1_invoices_invoice_id_mark_sent_post ...'
      end
      # verify the required parameter 'invoice_id' is set
      if @api_client.config.client_side_validation && invoice_id.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_id' when calling InvoicesApi.mark_sent_api_v1_invoices_invoice_id_mark_sent_post"
      end
      # resource path
      local_var_path = '/api/v1/invoices/{invoice_id}/mark-sent'.sub('{' + 'invoice_id' + '}', CGI.escape(invoice_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InvoiceResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"InvoicesApi.mark_sent_api_v1_invoices_invoice_id_mark_sent_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#mark_sent_api_v1_invoices_invoice_id_mark_sent_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mark Unpaid
    # @param invoice_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [InvoiceResponse]
    def mark_unpaid_api_v1_invoices_invoice_id_mark_unpaid_post(invoice_id, opts = {})
      data, _status_code, _headers = mark_unpaid_api_v1_invoices_invoice_id_mark_unpaid_post_with_http_info(invoice_id, opts)
      data
    end

    # Mark Unpaid
    # @param invoice_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InvoiceResponse, Integer, Hash)>] InvoiceResponse data, response status code and response headers
    def mark_unpaid_api_v1_invoices_invoice_id_mark_unpaid_post_with_http_info(invoice_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoicesApi.mark_unpaid_api_v1_invoices_invoice_id_mark_unpaid_post ...'
      end
      # verify the required parameter 'invoice_id' is set
      if @api_client.config.client_side_validation && invoice_id.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_id' when calling InvoicesApi.mark_unpaid_api_v1_invoices_invoice_id_mark_unpaid_post"
      end
      # resource path
      local_var_path = '/api/v1/invoices/{invoice_id}/mark-unpaid'.sub('{' + 'invoice_id' + '}', CGI.escape(invoice_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InvoiceResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"InvoicesApi.mark_unpaid_api_v1_invoices_invoice_id_mark_unpaid_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#mark_unpaid_api_v1_invoices_invoice_id_mark_unpaid_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch Invoice
    # @param invoice_id [String] 
    # @param invoice_patch_request [InvoicePatchRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key 
    # @return [InvoiceResponse]
    def patch_invoice_api_v1_invoices_invoice_id_patch(invoice_id, invoice_patch_request, opts = {})
      data, _status_code, _headers = patch_invoice_api_v1_invoices_invoice_id_patch_with_http_info(invoice_id, invoice_patch_request, opts)
      data
    end

    # Patch Invoice
    # @param invoice_id [String] 
    # @param invoice_patch_request [InvoicePatchRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key 
    # @return [Array<(InvoiceResponse, Integer, Hash)>] InvoiceResponse data, response status code and response headers
    def patch_invoice_api_v1_invoices_invoice_id_patch_with_http_info(invoice_id, invoice_patch_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoicesApi.patch_invoice_api_v1_invoices_invoice_id_patch ...'
      end
      # verify the required parameter 'invoice_id' is set
      if @api_client.config.client_side_validation && invoice_id.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_id' when calling InvoicesApi.patch_invoice_api_v1_invoices_invoice_id_patch"
      end
      # verify the required parameter 'invoice_patch_request' is set
      if @api_client.config.client_side_validation && invoice_patch_request.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_patch_request' when calling InvoicesApi.patch_invoice_api_v1_invoices_invoice_id_patch"
      end
      # resource path
      local_var_path = '/api/v1/invoices/{invoice_id}'.sub('{' + 'invoice_id' + '}', CGI.escape(invoice_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(invoice_patch_request)

      # return_type
      return_type = opts[:debug_return_type] || 'InvoiceResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"InvoicesApi.patch_invoice_api_v1_invoices_invoice_id_patch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#patch_invoice_api_v1_invoices_invoice_id_patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Preview Invoice
    # @param invoice_preview_request [InvoicePreviewRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def preview_invoice_api_v1_invoices_preview_post(invoice_preview_request, opts = {})
      data, _status_code, _headers = preview_invoice_api_v1_invoices_preview_post_with_http_info(invoice_preview_request, opts)
      data
    end

    # Preview Invoice
    # @param invoice_preview_request [InvoicePreviewRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def preview_invoice_api_v1_invoices_preview_post_with_http_info(invoice_preview_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoicesApi.preview_invoice_api_v1_invoices_preview_post ...'
      end
      # verify the required parameter 'invoice_preview_request' is set
      if @api_client.config.client_side_validation && invoice_preview_request.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_preview_request' when calling InvoicesApi.preview_invoice_api_v1_invoices_preview_post"
      end
      # resource path
      local_var_path = '/api/v1/invoices/preview'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(invoice_preview_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"InvoicesApi.preview_invoice_api_v1_invoices_preview_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#preview_invoice_api_v1_invoices_preview_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Render Invoice
    # @param invoice_id [String] 
    # @param invoice_render_request [InvoiceRenderRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key 
    # @return [Object]
    def render_invoice_api_v1_invoices_invoice_id_renders_post(invoice_id, invoice_render_request, opts = {})
      data, _status_code, _headers = render_invoice_api_v1_invoices_invoice_id_renders_post_with_http_info(invoice_id, invoice_render_request, opts)
      data
    end

    # Render Invoice
    # @param invoice_id [String] 
    # @param invoice_render_request [InvoiceRenderRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def render_invoice_api_v1_invoices_invoice_id_renders_post_with_http_info(invoice_id, invoice_render_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoicesApi.render_invoice_api_v1_invoices_invoice_id_renders_post ...'
      end
      # verify the required parameter 'invoice_id' is set
      if @api_client.config.client_side_validation && invoice_id.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_id' when calling InvoicesApi.render_invoice_api_v1_invoices_invoice_id_renders_post"
      end
      # verify the required parameter 'invoice_render_request' is set
      if @api_client.config.client_side_validation && invoice_render_request.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_render_request' when calling InvoicesApi.render_invoice_api_v1_invoices_invoice_id_renders_post"
      end
      # resource path
      local_var_path = '/api/v1/invoices/{invoice_id}/renders'.sub('{' + 'invoice_id' + '}', CGI.escape(invoice_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(invoice_render_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"InvoicesApi.render_invoice_api_v1_invoices_invoice_id_renders_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#render_invoice_api_v1_invoices_invoice_id_renders_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Replace Invoice
    # @param invoice_id [String] 
    # @param invoice_create_request [InvoiceCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key 
    # @return [InvoiceResponse]
    def replace_invoice_api_v1_invoices_invoice_id_put(invoice_id, invoice_create_request, opts = {})
      data, _status_code, _headers = replace_invoice_api_v1_invoices_invoice_id_put_with_http_info(invoice_id, invoice_create_request, opts)
      data
    end

    # Replace Invoice
    # @param invoice_id [String] 
    # @param invoice_create_request [InvoiceCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key 
    # @return [Array<(InvoiceResponse, Integer, Hash)>] InvoiceResponse data, response status code and response headers
    def replace_invoice_api_v1_invoices_invoice_id_put_with_http_info(invoice_id, invoice_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoicesApi.replace_invoice_api_v1_invoices_invoice_id_put ...'
      end
      # verify the required parameter 'invoice_id' is set
      if @api_client.config.client_side_validation && invoice_id.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_id' when calling InvoicesApi.replace_invoice_api_v1_invoices_invoice_id_put"
      end
      # verify the required parameter 'invoice_create_request' is set
      if @api_client.config.client_side_validation && invoice_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_create_request' when calling InvoicesApi.replace_invoice_api_v1_invoices_invoice_id_put"
      end
      # resource path
      local_var_path = '/api/v1/invoices/{invoice_id}'.sub('{' + 'invoice_id' + '}', CGI.escape(invoice_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(invoice_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'InvoiceResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"InvoicesApi.replace_invoice_api_v1_invoices_invoice_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#replace_invoice_api_v1_invoices_invoice_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Restore Invoice
    # @param invoice_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [InvoiceResponse]
    def restore_invoice_api_v1_invoices_invoice_id_restore_post(invoice_id, opts = {})
      data, _status_code, _headers = restore_invoice_api_v1_invoices_invoice_id_restore_post_with_http_info(invoice_id, opts)
      data
    end

    # Restore Invoice
    # @param invoice_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InvoiceResponse, Integer, Hash)>] InvoiceResponse data, response status code and response headers
    def restore_invoice_api_v1_invoices_invoice_id_restore_post_with_http_info(invoice_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoicesApi.restore_invoice_api_v1_invoices_invoice_id_restore_post ...'
      end
      # verify the required parameter 'invoice_id' is set
      if @api_client.config.client_side_validation && invoice_id.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_id' when calling InvoicesApi.restore_invoice_api_v1_invoices_invoice_id_restore_post"
      end
      # resource path
      local_var_path = '/api/v1/invoices/{invoice_id}/restore'.sub('{' + 'invoice_id' + '}', CGI.escape(invoice_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InvoiceResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"InvoicesApi.restore_invoice_api_v1_invoices_invoice_id_restore_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#restore_invoice_api_v1_invoices_invoice_id_restore_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send Invoice
    # @param invoice_id [String] 
    # @param delivery_send_request [DeliverySendRequest] 
    # @param [Hash] opts the optional parameters
    # @return [DeliveryResponse]
    def send_invoice_api_v1_invoices_invoice_id_send_post(invoice_id, delivery_send_request, opts = {})
      data, _status_code, _headers = send_invoice_api_v1_invoices_invoice_id_send_post_with_http_info(invoice_id, delivery_send_request, opts)
      data
    end

    # Send Invoice
    # @param invoice_id [String] 
    # @param delivery_send_request [DeliverySendRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeliveryResponse, Integer, Hash)>] DeliveryResponse data, response status code and response headers
    def send_invoice_api_v1_invoices_invoice_id_send_post_with_http_info(invoice_id, delivery_send_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoicesApi.send_invoice_api_v1_invoices_invoice_id_send_post ...'
      end
      # verify the required parameter 'invoice_id' is set
      if @api_client.config.client_side_validation && invoice_id.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_id' when calling InvoicesApi.send_invoice_api_v1_invoices_invoice_id_send_post"
      end
      # verify the required parameter 'delivery_send_request' is set
      if @api_client.config.client_side_validation && delivery_send_request.nil?
        fail ArgumentError, "Missing the required parameter 'delivery_send_request' when calling InvoicesApi.send_invoice_api_v1_invoices_invoice_id_send_post"
      end
      # resource path
      local_var_path = '/api/v1/invoices/{invoice_id}/send'.sub('{' + 'invoice_id' + '}', CGI.escape(invoice_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(delivery_send_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DeliveryResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"InvoicesApi.send_invoice_api_v1_invoices_invoice_id_send_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#send_invoice_api_v1_invoices_invoice_id_send_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Validate Invoice
    # @param invoice_draft_request [InvoiceDraftRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def validate_invoice_api_v1_invoices_validate_post(invoice_draft_request, opts = {})
      data, _status_code, _headers = validate_invoice_api_v1_invoices_validate_post_with_http_info(invoice_draft_request, opts)
      data
    end

    # Validate Invoice
    # @param invoice_draft_request [InvoiceDraftRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def validate_invoice_api_v1_invoices_validate_post_with_http_info(invoice_draft_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoicesApi.validate_invoice_api_v1_invoices_validate_post ...'
      end
      # verify the required parameter 'invoice_draft_request' is set
      if @api_client.config.client_side_validation && invoice_draft_request.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_draft_request' when calling InvoicesApi.validate_invoice_api_v1_invoices_validate_post"
      end
      # resource path
      local_var_path = '/api/v1/invoices/validate'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(invoice_draft_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"InvoicesApi.validate_invoice_api_v1_invoices_validate_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#validate_invoice_api_v1_invoices_validate_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Void Invoice
    # @param invoice_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [InvoiceResponse]
    def void_invoice_api_v1_invoices_invoice_id_void_post(invoice_id, opts = {})
      data, _status_code, _headers = void_invoice_api_v1_invoices_invoice_id_void_post_with_http_info(invoice_id, opts)
      data
    end

    # Void Invoice
    # @param invoice_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InvoiceResponse, Integer, Hash)>] InvoiceResponse data, response status code and response headers
    def void_invoice_api_v1_invoices_invoice_id_void_post_with_http_info(invoice_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoicesApi.void_invoice_api_v1_invoices_invoice_id_void_post ...'
      end
      # verify the required parameter 'invoice_id' is set
      if @api_client.config.client_side_validation && invoice_id.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_id' when calling InvoicesApi.void_invoice_api_v1_invoices_invoice_id_void_post"
      end
      # resource path
      local_var_path = '/api/v1/invoices/{invoice_id}/void'.sub('{' + 'invoice_id' + '}', CGI.escape(invoice_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InvoiceResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"InvoicesApi.void_invoice_api_v1_invoices_invoice_id_void_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#void_invoice_api_v1_invoices_invoice_id_void_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
