=begin
#InvoicePDFs

#InvoicePDFs turns a JSON document into a polished PDF — invoices, credit notes, quotes, receipts, proformas, purchase orders and delivery notes. The API validates your data, computes totals correctly (tax, discounts, shipping), and returns a downloadable, professional PDF.  This package is the official client for the InvoicePDFs API, generated from the OpenAPI specification.  Documentation: https://invoicepdfs.com

The version of the OpenAPI document: 0.1.3

Generated by: https://openapi-generator.tech
Generator version: 7.7.0

=end

require 'cgi'

module InvoicePDFs
  class InvoiceAttachmentsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Attachment
    # @param invoice_id [String] 
    # @param invoice_attachment_create_request [InvoiceAttachmentCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [InvoiceAttachmentResponse]
    def create_attachment_api_v1_documents_invoice_id_attachments_post(invoice_id, invoice_attachment_create_request, opts = {})
      data, _status_code, _headers = create_attachment_api_v1_documents_invoice_id_attachments_post_with_http_info(invoice_id, invoice_attachment_create_request, opts)
      data
    end

    # Create Attachment
    # @param invoice_id [String] 
    # @param invoice_attachment_create_request [InvoiceAttachmentCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InvoiceAttachmentResponse, Integer, Hash)>] InvoiceAttachmentResponse data, response status code and response headers
    def create_attachment_api_v1_documents_invoice_id_attachments_post_with_http_info(invoice_id, invoice_attachment_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoiceAttachmentsApi.create_attachment_api_v1_documents_invoice_id_attachments_post ...'
      end
      # verify the required parameter 'invoice_id' is set
      if @api_client.config.client_side_validation && invoice_id.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_id' when calling InvoiceAttachmentsApi.create_attachment_api_v1_documents_invoice_id_attachments_post"
      end
      # verify the required parameter 'invoice_attachment_create_request' is set
      if @api_client.config.client_side_validation && invoice_attachment_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_attachment_create_request' when calling InvoiceAttachmentsApi.create_attachment_api_v1_documents_invoice_id_attachments_post"
      end
      # resource path
      local_var_path = '/api/v1/documents/{invoice_id}/attachments'.sub('{' + 'invoice_id' + '}', CGI.escape(invoice_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(invoice_attachment_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'InvoiceAttachmentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"InvoiceAttachmentsApi.create_attachment_api_v1_documents_invoice_id_attachments_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoiceAttachmentsApi#create_attachment_api_v1_documents_invoice_id_attachments_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Attachment
    # @param invoice_id [String] 
    # @param attachment_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [SimpleBoolResponse]
    def delete_attachment_api_v1_documents_invoice_id_attachments_attachment_id_delete(invoice_id, attachment_id, opts = {})
      data, _status_code, _headers = delete_attachment_api_v1_documents_invoice_id_attachments_attachment_id_delete_with_http_info(invoice_id, attachment_id, opts)
      data
    end

    # Delete Attachment
    # @param invoice_id [String] 
    # @param attachment_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SimpleBoolResponse, Integer, Hash)>] SimpleBoolResponse data, response status code and response headers
    def delete_attachment_api_v1_documents_invoice_id_attachments_attachment_id_delete_with_http_info(invoice_id, attachment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoiceAttachmentsApi.delete_attachment_api_v1_documents_invoice_id_attachments_attachment_id_delete ...'
      end
      # verify the required parameter 'invoice_id' is set
      if @api_client.config.client_side_validation && invoice_id.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_id' when calling InvoiceAttachmentsApi.delete_attachment_api_v1_documents_invoice_id_attachments_attachment_id_delete"
      end
      # verify the required parameter 'attachment_id' is set
      if @api_client.config.client_side_validation && attachment_id.nil?
        fail ArgumentError, "Missing the required parameter 'attachment_id' when calling InvoiceAttachmentsApi.delete_attachment_api_v1_documents_invoice_id_attachments_attachment_id_delete"
      end
      # resource path
      local_var_path = '/api/v1/documents/{invoice_id}/attachments/{attachment_id}'.sub('{' + 'invoice_id' + '}', CGI.escape(invoice_id.to_s)).sub('{' + 'attachment_id' + '}', CGI.escape(attachment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SimpleBoolResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"InvoiceAttachmentsApi.delete_attachment_api_v1_documents_invoice_id_attachments_attachment_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoiceAttachmentsApi#delete_attachment_api_v1_documents_invoice_id_attachments_attachment_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Attachments
    # @param invoice_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [InvoiceAttachmentsListResponse]
    def list_attachments_api_v1_documents_invoice_id_attachments_get(invoice_id, opts = {})
      data, _status_code, _headers = list_attachments_api_v1_documents_invoice_id_attachments_get_with_http_info(invoice_id, opts)
      data
    end

    # List Attachments
    # @param invoice_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InvoiceAttachmentsListResponse, Integer, Hash)>] InvoiceAttachmentsListResponse data, response status code and response headers
    def list_attachments_api_v1_documents_invoice_id_attachments_get_with_http_info(invoice_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoiceAttachmentsApi.list_attachments_api_v1_documents_invoice_id_attachments_get ...'
      end
      # verify the required parameter 'invoice_id' is set
      if @api_client.config.client_side_validation && invoice_id.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_id' when calling InvoiceAttachmentsApi.list_attachments_api_v1_documents_invoice_id_attachments_get"
      end
      # resource path
      local_var_path = '/api/v1/documents/{invoice_id}/attachments'.sub('{' + 'invoice_id' + '}', CGI.escape(invoice_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InvoiceAttachmentsListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"InvoiceAttachmentsApi.list_attachments_api_v1_documents_invoice_id_attachments_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoiceAttachmentsApi#list_attachments_api_v1_documents_invoice_id_attachments_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
