=begin
#InvoicePDFs

#InvoicePDFs turns a JSON document into a polished PDF — invoices, credit notes, quotes, receipts, proformas, purchase orders and delivery notes. The API validates your data, computes totals correctly (tax, discounts, shipping), and returns a downloadable, professional PDF.  This package is the official client for the InvoicePDFs API, generated from the OpenAPI specification.  Documentation: https://invoicepdfs.com

The version of the OpenAPI document: 0.2.0

Generated by: https://openapi-generator.tech
Generator version: 7.7.0

=end

require 'cgi'

module InvoicePDFs
  class JobsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Cancel Job
    # @param job_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [JobResponse]
    def cancel_job_api_v1_jobs_job_id_cancel_post(job_id, opts = {})
      data, _status_code, _headers = cancel_job_api_v1_jobs_job_id_cancel_post_with_http_info(job_id, opts)
      data
    end

    # Cancel Job
    # @param job_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(JobResponse, Integer, Hash)>] JobResponse data, response status code and response headers
    def cancel_job_api_v1_jobs_job_id_cancel_post_with_http_info(job_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JobsApi.cancel_job_api_v1_jobs_job_id_cancel_post ...'
      end
      # verify the required parameter 'job_id' is set
      if @api_client.config.client_side_validation && job_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_id' when calling JobsApi.cancel_job_api_v1_jobs_job_id_cancel_post"
      end
      # resource path
      local_var_path = '/api/v1/jobs/{job_id}/cancel'.sub('{' + 'job_id' + '}', CGI.escape(job_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'JobResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"JobsApi.cancel_job_api_v1_jobs_job_id_cancel_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JobsApi#cancel_job_api_v1_jobs_job_id_cancel_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Job
    # @param job_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [JobResponse]
    def get_job_api_v1_jobs_job_id_get(job_id, opts = {})
      data, _status_code, _headers = get_job_api_v1_jobs_job_id_get_with_http_info(job_id, opts)
      data
    end

    # Get Job
    # @param job_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(JobResponse, Integer, Hash)>] JobResponse data, response status code and response headers
    def get_job_api_v1_jobs_job_id_get_with_http_info(job_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JobsApi.get_job_api_v1_jobs_job_id_get ...'
      end
      # verify the required parameter 'job_id' is set
      if @api_client.config.client_side_validation && job_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_id' when calling JobsApi.get_job_api_v1_jobs_job_id_get"
      end
      # resource path
      local_var_path = '/api/v1/jobs/{job_id}'.sub('{' + 'job_id' + '}', CGI.escape(job_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'JobResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"JobsApi.get_job_api_v1_jobs_job_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JobsApi#get_job_api_v1_jobs_job_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retry Job
    # @param job_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [JobResponse]
    def retry_job_api_v1_jobs_job_id_retry_post(job_id, opts = {})
      data, _status_code, _headers = retry_job_api_v1_jobs_job_id_retry_post_with_http_info(job_id, opts)
      data
    end

    # Retry Job
    # @param job_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(JobResponse, Integer, Hash)>] JobResponse data, response status code and response headers
    def retry_job_api_v1_jobs_job_id_retry_post_with_http_info(job_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JobsApi.retry_job_api_v1_jobs_job_id_retry_post ...'
      end
      # verify the required parameter 'job_id' is set
      if @api_client.config.client_side_validation && job_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_id' when calling JobsApi.retry_job_api_v1_jobs_job_id_retry_post"
      end
      # resource path
      local_var_path = '/api/v1/jobs/{job_id}/retry'.sub('{' + 'job_id' + '}', CGI.escape(job_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'JobResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"JobsApi.retry_job_api_v1_jobs_job_id_retry_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JobsApi#retry_job_api_v1_jobs_job_id_retry_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
