=begin
#InvoicePDFs

#InvoicePDFs turns a JSON document into a polished PDF — invoices, credit notes, quotes, receipts, proformas, purchase orders and delivery notes. The API validates your data, computes totals correctly (tax, discounts, shipping), and returns a downloadable, professional PDF.  This package is the official client for the InvoicePDFs API, generated from the OpenAPI specification.  Documentation: https://invoicepdfs.com

The version of the OpenAPI document: 0.2.0

Generated by: https://openapi-generator.tech
Generator version: 7.7.0

=end

require 'cgi'

module InvoicePDFs
  class NumberingSequencesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Consume Sequence Number
    # Consume and return the next number, incrementing the counter.
    # @param sequence_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [NumberingSequenceResponse]
    def consume_sequence_number(sequence_id, opts = {})
      data, _status_code, _headers = consume_sequence_number_with_http_info(sequence_id, opts)
      data
    end

    # Consume Sequence Number
    # Consume and return the next number, incrementing the counter.
    # @param sequence_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(NumberingSequenceResponse, Integer, Hash)>] NumberingSequenceResponse data, response status code and response headers
    def consume_sequence_number_with_http_info(sequence_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NumberingSequencesApi.consume_sequence_number ...'
      end
      # verify the required parameter 'sequence_id' is set
      if @api_client.config.client_side_validation && sequence_id.nil?
        fail ArgumentError, "Missing the required parameter 'sequence_id' when calling NumberingSequencesApi.consume_sequence_number"
      end
      # resource path
      local_var_path = '/api/v1/numbering-sequences/{sequence_id}/next'.sub('{' + 'sequence_id' + '}', CGI.escape(sequence_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'NumberingSequenceResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"NumberingSequencesApi.consume_sequence_number",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NumberingSequencesApi#consume_sequence_number\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Sequence
    # @param numbering_sequence_create_request [NumberingSequenceCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [NumberingSequenceResponse]
    def create_sequence(numbering_sequence_create_request, opts = {})
      data, _status_code, _headers = create_sequence_with_http_info(numbering_sequence_create_request, opts)
      data
    end

    # Create Sequence
    # @param numbering_sequence_create_request [NumberingSequenceCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(NumberingSequenceResponse, Integer, Hash)>] NumberingSequenceResponse data, response status code and response headers
    def create_sequence_with_http_info(numbering_sequence_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NumberingSequencesApi.create_sequence ...'
      end
      # verify the required parameter 'numbering_sequence_create_request' is set
      if @api_client.config.client_side_validation && numbering_sequence_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'numbering_sequence_create_request' when calling NumberingSequencesApi.create_sequence"
      end
      # resource path
      local_var_path = '/api/v1/numbering-sequences'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(numbering_sequence_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'NumberingSequenceResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"NumberingSequencesApi.create_sequence",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NumberingSequencesApi#create_sequence\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Sequence
    # @param sequence_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [SimpleBoolResponse]
    def delete_sequence(sequence_id, opts = {})
      data, _status_code, _headers = delete_sequence_with_http_info(sequence_id, opts)
      data
    end

    # Delete Sequence
    # @param sequence_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SimpleBoolResponse, Integer, Hash)>] SimpleBoolResponse data, response status code and response headers
    def delete_sequence_with_http_info(sequence_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NumberingSequencesApi.delete_sequence ...'
      end
      # verify the required parameter 'sequence_id' is set
      if @api_client.config.client_side_validation && sequence_id.nil?
        fail ArgumentError, "Missing the required parameter 'sequence_id' when calling NumberingSequencesApi.delete_sequence"
      end
      # resource path
      local_var_path = '/api/v1/numbering-sequences/{sequence_id}'.sub('{' + 'sequence_id' + '}', CGI.escape(sequence_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SimpleBoolResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"NumberingSequencesApi.delete_sequence",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NumberingSequencesApi#delete_sequence\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Sequence
    # @param sequence_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [NumberingSequenceResponse]
    def get_sequence(sequence_id, opts = {})
      data, _status_code, _headers = get_sequence_with_http_info(sequence_id, opts)
      data
    end

    # Get Sequence
    # @param sequence_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(NumberingSequenceResponse, Integer, Hash)>] NumberingSequenceResponse data, response status code and response headers
    def get_sequence_with_http_info(sequence_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NumberingSequencesApi.get_sequence ...'
      end
      # verify the required parameter 'sequence_id' is set
      if @api_client.config.client_side_validation && sequence_id.nil?
        fail ArgumentError, "Missing the required parameter 'sequence_id' when calling NumberingSequencesApi.get_sequence"
      end
      # resource path
      local_var_path = '/api/v1/numbering-sequences/{sequence_id}'.sub('{' + 'sequence_id' + '}', CGI.escape(sequence_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'NumberingSequenceResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"NumberingSequencesApi.get_sequence",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NumberingSequencesApi#get_sequence\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Sequences
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [String] :cursor 
    # @return [NumberingSequencesListResponse]
    def list_sequences(opts = {})
      data, _status_code, _headers = list_sequences_with_http_info(opts)
      data
    end

    # List Sequences
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [String] :cursor 
    # @return [Array<(NumberingSequencesListResponse, Integer, Hash)>] NumberingSequencesListResponse data, response status code and response headers
    def list_sequences_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NumberingSequencesApi.list_sequences ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling NumberingSequencesApi.list_sequences, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling NumberingSequencesApi.list_sequences, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/v1/numbering-sequences'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'NumberingSequencesListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"NumberingSequencesApi.list_sequences",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NumberingSequencesApi#list_sequences\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Preview Sequence
    # @param sequence_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [NumberingSequencePreviewResponse]
    def preview_sequence(sequence_id, opts = {})
      data, _status_code, _headers = preview_sequence_with_http_info(sequence_id, opts)
      data
    end

    # Preview Sequence
    # @param sequence_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(NumberingSequencePreviewResponse, Integer, Hash)>] NumberingSequencePreviewResponse data, response status code and response headers
    def preview_sequence_with_http_info(sequence_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NumberingSequencesApi.preview_sequence ...'
      end
      # verify the required parameter 'sequence_id' is set
      if @api_client.config.client_side_validation && sequence_id.nil?
        fail ArgumentError, "Missing the required parameter 'sequence_id' when calling NumberingSequencesApi.preview_sequence"
      end
      # resource path
      local_var_path = '/api/v1/numbering-sequences/{sequence_id}/preview'.sub('{' + 'sequence_id' + '}', CGI.escape(sequence_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'NumberingSequencePreviewResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"NumberingSequencesApi.preview_sequence",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NumberingSequencesApi#preview_sequence\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Sequence
    # @param sequence_id [String] 
    # @param numbering_sequence_patch_request [NumberingSequencePatchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [NumberingSequenceResponse]
    def update_sequence(sequence_id, numbering_sequence_patch_request, opts = {})
      data, _status_code, _headers = update_sequence_with_http_info(sequence_id, numbering_sequence_patch_request, opts)
      data
    end

    # Update Sequence
    # @param sequence_id [String] 
    # @param numbering_sequence_patch_request [NumberingSequencePatchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(NumberingSequenceResponse, Integer, Hash)>] NumberingSequenceResponse data, response status code and response headers
    def update_sequence_with_http_info(sequence_id, numbering_sequence_patch_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NumberingSequencesApi.update_sequence ...'
      end
      # verify the required parameter 'sequence_id' is set
      if @api_client.config.client_side_validation && sequence_id.nil?
        fail ArgumentError, "Missing the required parameter 'sequence_id' when calling NumberingSequencesApi.update_sequence"
      end
      # verify the required parameter 'numbering_sequence_patch_request' is set
      if @api_client.config.client_side_validation && numbering_sequence_patch_request.nil?
        fail ArgumentError, "Missing the required parameter 'numbering_sequence_patch_request' when calling NumberingSequencesApi.update_sequence"
      end
      # resource path
      local_var_path = '/api/v1/numbering-sequences/{sequence_id}'.sub('{' + 'sequence_id' + '}', CGI.escape(sequence_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(numbering_sequence_patch_request)

      # return_type
      return_type = opts[:debug_return_type] || 'NumberingSequenceResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"NumberingSequencesApi.update_sequence",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NumberingSequencesApi#update_sequence\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
