=begin
#InvoicePDFs

#InvoicePDFs turns a JSON document into a polished PDF — invoices, credit notes, quotes, receipts, proformas, purchase orders and delivery notes. The API validates your data, computes totals correctly (tax, discounts, shipping), and returns a downloadable, professional PDF.  This package is the official client for the InvoicePDFs API, generated from the OpenAPI specification.  Documentation: https://invoicepdfs.com

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.7.0

=end

require 'cgi'

module InvoicePDFs
  class PaymentsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Payment
    # @param invoice_id [String] 
    # @param payment_create_request [PaymentCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [PaymentResponse]
    def create_payment_api_v1_invoices_invoice_id_payments_post(invoice_id, payment_create_request, opts = {})
      data, _status_code, _headers = create_payment_api_v1_invoices_invoice_id_payments_post_with_http_info(invoice_id, payment_create_request, opts)
      data
    end

    # Create Payment
    # @param invoice_id [String] 
    # @param payment_create_request [PaymentCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PaymentResponse, Integer, Hash)>] PaymentResponse data, response status code and response headers
    def create_payment_api_v1_invoices_invoice_id_payments_post_with_http_info(invoice_id, payment_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentsApi.create_payment_api_v1_invoices_invoice_id_payments_post ...'
      end
      # verify the required parameter 'invoice_id' is set
      if @api_client.config.client_side_validation && invoice_id.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_id' when calling PaymentsApi.create_payment_api_v1_invoices_invoice_id_payments_post"
      end
      # verify the required parameter 'payment_create_request' is set
      if @api_client.config.client_side_validation && payment_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'payment_create_request' when calling PaymentsApi.create_payment_api_v1_invoices_invoice_id_payments_post"
      end
      # resource path
      local_var_path = '/api/v1/invoices/{invoice_id}/payments'.sub('{' + 'invoice_id' + '}', CGI.escape(invoice_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(payment_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"PaymentsApi.create_payment_api_v1_invoices_invoice_id_payments_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentsApi#create_payment_api_v1_invoices_invoice_id_payments_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Payment
    # @param payment_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [SimpleBoolResponse]
    def delete_payment_api_v1_payments_payment_id_delete(payment_id, opts = {})
      data, _status_code, _headers = delete_payment_api_v1_payments_payment_id_delete_with_http_info(payment_id, opts)
      data
    end

    # Delete Payment
    # @param payment_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SimpleBoolResponse, Integer, Hash)>] SimpleBoolResponse data, response status code and response headers
    def delete_payment_api_v1_payments_payment_id_delete_with_http_info(payment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentsApi.delete_payment_api_v1_payments_payment_id_delete ...'
      end
      # verify the required parameter 'payment_id' is set
      if @api_client.config.client_side_validation && payment_id.nil?
        fail ArgumentError, "Missing the required parameter 'payment_id' when calling PaymentsApi.delete_payment_api_v1_payments_payment_id_delete"
      end
      # resource path
      local_var_path = '/api/v1/payments/{payment_id}'.sub('{' + 'payment_id' + '}', CGI.escape(payment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SimpleBoolResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"PaymentsApi.delete_payment_api_v1_payments_payment_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentsApi#delete_payment_api_v1_payments_payment_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Payment
    # @param payment_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [PaymentResponse]
    def get_payment_api_v1_payments_payment_id_get(payment_id, opts = {})
      data, _status_code, _headers = get_payment_api_v1_payments_payment_id_get_with_http_info(payment_id, opts)
      data
    end

    # Get Payment
    # @param payment_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PaymentResponse, Integer, Hash)>] PaymentResponse data, response status code and response headers
    def get_payment_api_v1_payments_payment_id_get_with_http_info(payment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentsApi.get_payment_api_v1_payments_payment_id_get ...'
      end
      # verify the required parameter 'payment_id' is set
      if @api_client.config.client_side_validation && payment_id.nil?
        fail ArgumentError, "Missing the required parameter 'payment_id' when calling PaymentsApi.get_payment_api_v1_payments_payment_id_get"
      end
      # resource path
      local_var_path = '/api/v1/payments/{payment_id}'.sub('{' + 'payment_id' + '}', CGI.escape(payment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"PaymentsApi.get_payment_api_v1_payments_payment_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentsApi#get_payment_api_v1_payments_payment_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Invoice Payments
    # @param invoice_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [String] :cursor 
    # @return [PaymentsListResponse]
    def list_invoice_payments_api_v1_invoices_invoice_id_payments_get(invoice_id, opts = {})
      data, _status_code, _headers = list_invoice_payments_api_v1_invoices_invoice_id_payments_get_with_http_info(invoice_id, opts)
      data
    end

    # List Invoice Payments
    # @param invoice_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [String] :cursor 
    # @return [Array<(PaymentsListResponse, Integer, Hash)>] PaymentsListResponse data, response status code and response headers
    def list_invoice_payments_api_v1_invoices_invoice_id_payments_get_with_http_info(invoice_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentsApi.list_invoice_payments_api_v1_invoices_invoice_id_payments_get ...'
      end
      # verify the required parameter 'invoice_id' is set
      if @api_client.config.client_side_validation && invoice_id.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_id' when calling PaymentsApi.list_invoice_payments_api_v1_invoices_invoice_id_payments_get"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling PaymentsApi.list_invoice_payments_api_v1_invoices_invoice_id_payments_get, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling PaymentsApi.list_invoice_payments_api_v1_invoices_invoice_id_payments_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/v1/invoices/{invoice_id}/payments'.sub('{' + 'invoice_id' + '}', CGI.escape(invoice_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentsListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"PaymentsApi.list_invoice_payments_api_v1_invoices_invoice_id_payments_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentsApi#list_invoice_payments_api_v1_invoices_invoice_id_payments_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Payment
    # @param payment_id [String] 
    # @param payment_patch_request [PaymentPatchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [PaymentResponse]
    def update_payment_api_v1_payments_payment_id_patch(payment_id, payment_patch_request, opts = {})
      data, _status_code, _headers = update_payment_api_v1_payments_payment_id_patch_with_http_info(payment_id, payment_patch_request, opts)
      data
    end

    # Update Payment
    # @param payment_id [String] 
    # @param payment_patch_request [PaymentPatchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PaymentResponse, Integer, Hash)>] PaymentResponse data, response status code and response headers
    def update_payment_api_v1_payments_payment_id_patch_with_http_info(payment_id, payment_patch_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentsApi.update_payment_api_v1_payments_payment_id_patch ...'
      end
      # verify the required parameter 'payment_id' is set
      if @api_client.config.client_side_validation && payment_id.nil?
        fail ArgumentError, "Missing the required parameter 'payment_id' when calling PaymentsApi.update_payment_api_v1_payments_payment_id_patch"
      end
      # verify the required parameter 'payment_patch_request' is set
      if @api_client.config.client_side_validation && payment_patch_request.nil?
        fail ArgumentError, "Missing the required parameter 'payment_patch_request' when calling PaymentsApi.update_payment_api_v1_payments_payment_id_patch"
      end
      # resource path
      local_var_path = '/api/v1/payments/{payment_id}'.sub('{' + 'payment_id' + '}', CGI.escape(payment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(payment_patch_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"PaymentsApi.update_payment_api_v1_payments_payment_id_patch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentsApi#update_payment_api_v1_payments_payment_id_patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
