=begin
#InvoicePDFs

#InvoicePDFs turns a JSON document into a polished PDF — invoices, credit notes, quotes, receipts, proformas, purchase orders and delivery notes. The API validates your data, computes totals correctly (tax, discounts, shipping), and returns a downloadable, professional PDF.  This package is the official client for the InvoicePDFs API, generated from the OpenAPI specification.  Documentation: https://invoicepdfs.com

The version of the OpenAPI document: 0.2.0

Generated by: https://openapi-generator.tech
Generator version: 7.7.0

=end

require 'cgi'

module InvoicePDFs
  class RecurringInvoicesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Cancel Recurring Invoice
    # @param recurring_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [RecurringInvoiceResponse]
    def cancel_recurring_invoice_api_v1_recurring_invoices_recurring_id_delete(recurring_id, opts = {})
      data, _status_code, _headers = cancel_recurring_invoice_api_v1_recurring_invoices_recurring_id_delete_with_http_info(recurring_id, opts)
      data
    end

    # Cancel Recurring Invoice
    # @param recurring_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RecurringInvoiceResponse, Integer, Hash)>] RecurringInvoiceResponse data, response status code and response headers
    def cancel_recurring_invoice_api_v1_recurring_invoices_recurring_id_delete_with_http_info(recurring_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RecurringInvoicesApi.cancel_recurring_invoice_api_v1_recurring_invoices_recurring_id_delete ...'
      end
      # verify the required parameter 'recurring_id' is set
      if @api_client.config.client_side_validation && recurring_id.nil?
        fail ArgumentError, "Missing the required parameter 'recurring_id' when calling RecurringInvoicesApi.cancel_recurring_invoice_api_v1_recurring_invoices_recurring_id_delete"
      end
      # resource path
      local_var_path = '/api/v1/recurring-invoices/{recurring_id}'.sub('{' + 'recurring_id' + '}', CGI.escape(recurring_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RecurringInvoiceResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"RecurringInvoicesApi.cancel_recurring_invoice_api_v1_recurring_invoices_recurring_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RecurringInvoicesApi#cancel_recurring_invoice_api_v1_recurring_invoices_recurring_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Recurring Invoice
    # @param recurring_invoice_create_request [RecurringInvoiceCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [RecurringInvoiceResponse]
    def create_recurring_invoice_api_v1_recurring_invoices_post(recurring_invoice_create_request, opts = {})
      data, _status_code, _headers = create_recurring_invoice_api_v1_recurring_invoices_post_with_http_info(recurring_invoice_create_request, opts)
      data
    end

    # Create Recurring Invoice
    # @param recurring_invoice_create_request [RecurringInvoiceCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RecurringInvoiceResponse, Integer, Hash)>] RecurringInvoiceResponse data, response status code and response headers
    def create_recurring_invoice_api_v1_recurring_invoices_post_with_http_info(recurring_invoice_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RecurringInvoicesApi.create_recurring_invoice_api_v1_recurring_invoices_post ...'
      end
      # verify the required parameter 'recurring_invoice_create_request' is set
      if @api_client.config.client_side_validation && recurring_invoice_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'recurring_invoice_create_request' when calling RecurringInvoicesApi.create_recurring_invoice_api_v1_recurring_invoices_post"
      end
      # resource path
      local_var_path = '/api/v1/recurring-invoices'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(recurring_invoice_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'RecurringInvoiceResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"RecurringInvoicesApi.create_recurring_invoice_api_v1_recurring_invoices_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RecurringInvoicesApi#create_recurring_invoice_api_v1_recurring_invoices_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Recurring Invoice
    # @param recurring_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [RecurringInvoiceResponse]
    def get_recurring_invoice_api_v1_recurring_invoices_recurring_id_get(recurring_id, opts = {})
      data, _status_code, _headers = get_recurring_invoice_api_v1_recurring_invoices_recurring_id_get_with_http_info(recurring_id, opts)
      data
    end

    # Get Recurring Invoice
    # @param recurring_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RecurringInvoiceResponse, Integer, Hash)>] RecurringInvoiceResponse data, response status code and response headers
    def get_recurring_invoice_api_v1_recurring_invoices_recurring_id_get_with_http_info(recurring_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RecurringInvoicesApi.get_recurring_invoice_api_v1_recurring_invoices_recurring_id_get ...'
      end
      # verify the required parameter 'recurring_id' is set
      if @api_client.config.client_side_validation && recurring_id.nil?
        fail ArgumentError, "Missing the required parameter 'recurring_id' when calling RecurringInvoicesApi.get_recurring_invoice_api_v1_recurring_invoices_recurring_id_get"
      end
      # resource path
      local_var_path = '/api/v1/recurring-invoices/{recurring_id}'.sub('{' + 'recurring_id' + '}', CGI.escape(recurring_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RecurringInvoiceResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"RecurringInvoicesApi.get_recurring_invoice_api_v1_recurring_invoices_recurring_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RecurringInvoicesApi#get_recurring_invoice_api_v1_recurring_invoices_recurring_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Generated Invoices
    # @param recurring_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [String] :cursor 
    # @return [InvoicesListResponse]
    def list_generated_invoices_api_v1_recurring_invoices_recurring_id_invoices_get(recurring_id, opts = {})
      data, _status_code, _headers = list_generated_invoices_api_v1_recurring_invoices_recurring_id_invoices_get_with_http_info(recurring_id, opts)
      data
    end

    # List Generated Invoices
    # @param recurring_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [String] :cursor 
    # @return [Array<(InvoicesListResponse, Integer, Hash)>] InvoicesListResponse data, response status code and response headers
    def list_generated_invoices_api_v1_recurring_invoices_recurring_id_invoices_get_with_http_info(recurring_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RecurringInvoicesApi.list_generated_invoices_api_v1_recurring_invoices_recurring_id_invoices_get ...'
      end
      # verify the required parameter 'recurring_id' is set
      if @api_client.config.client_side_validation && recurring_id.nil?
        fail ArgumentError, "Missing the required parameter 'recurring_id' when calling RecurringInvoicesApi.list_generated_invoices_api_v1_recurring_invoices_recurring_id_invoices_get"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling RecurringInvoicesApi.list_generated_invoices_api_v1_recurring_invoices_recurring_id_invoices_get, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling RecurringInvoicesApi.list_generated_invoices_api_v1_recurring_invoices_recurring_id_invoices_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/v1/recurring-invoices/{recurring_id}/invoices'.sub('{' + 'recurring_id' + '}', CGI.escape(recurring_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InvoicesListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"RecurringInvoicesApi.list_generated_invoices_api_v1_recurring_invoices_recurring_id_invoices_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RecurringInvoicesApi#list_generated_invoices_api_v1_recurring_invoices_recurring_id_invoices_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Recurring Invoices
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [String] :cursor 
    # @option opts [String] :status 
    # @return [RecurringInvoicesListResponse]
    def list_recurring_invoices_api_v1_recurring_invoices_get(opts = {})
      data, _status_code, _headers = list_recurring_invoices_api_v1_recurring_invoices_get_with_http_info(opts)
      data
    end

    # List Recurring Invoices
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [String] :cursor 
    # @option opts [String] :status 
    # @return [Array<(RecurringInvoicesListResponse, Integer, Hash)>] RecurringInvoicesListResponse data, response status code and response headers
    def list_recurring_invoices_api_v1_recurring_invoices_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RecurringInvoicesApi.list_recurring_invoices_api_v1_recurring_invoices_get ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling RecurringInvoicesApi.list_recurring_invoices_api_v1_recurring_invoices_get, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling RecurringInvoicesApi.list_recurring_invoices_api_v1_recurring_invoices_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/v1/recurring-invoices'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RecurringInvoicesListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"RecurringInvoicesApi.list_recurring_invoices_api_v1_recurring_invoices_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RecurringInvoicesApi#list_recurring_invoices_api_v1_recurring_invoices_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch Recurring Invoice
    # @param recurring_id [String] 
    # @param recurring_invoice_patch_request [RecurringInvoicePatchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [RecurringInvoiceResponse]
    def patch_recurring_invoice_api_v1_recurring_invoices_recurring_id_patch(recurring_id, recurring_invoice_patch_request, opts = {})
      data, _status_code, _headers = patch_recurring_invoice_api_v1_recurring_invoices_recurring_id_patch_with_http_info(recurring_id, recurring_invoice_patch_request, opts)
      data
    end

    # Patch Recurring Invoice
    # @param recurring_id [String] 
    # @param recurring_invoice_patch_request [RecurringInvoicePatchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RecurringInvoiceResponse, Integer, Hash)>] RecurringInvoiceResponse data, response status code and response headers
    def patch_recurring_invoice_api_v1_recurring_invoices_recurring_id_patch_with_http_info(recurring_id, recurring_invoice_patch_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RecurringInvoicesApi.patch_recurring_invoice_api_v1_recurring_invoices_recurring_id_patch ...'
      end
      # verify the required parameter 'recurring_id' is set
      if @api_client.config.client_side_validation && recurring_id.nil?
        fail ArgumentError, "Missing the required parameter 'recurring_id' when calling RecurringInvoicesApi.patch_recurring_invoice_api_v1_recurring_invoices_recurring_id_patch"
      end
      # verify the required parameter 'recurring_invoice_patch_request' is set
      if @api_client.config.client_side_validation && recurring_invoice_patch_request.nil?
        fail ArgumentError, "Missing the required parameter 'recurring_invoice_patch_request' when calling RecurringInvoicesApi.patch_recurring_invoice_api_v1_recurring_invoices_recurring_id_patch"
      end
      # resource path
      local_var_path = '/api/v1/recurring-invoices/{recurring_id}'.sub('{' + 'recurring_id' + '}', CGI.escape(recurring_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(recurring_invoice_patch_request)

      # return_type
      return_type = opts[:debug_return_type] || 'RecurringInvoiceResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"RecurringInvoicesApi.patch_recurring_invoice_api_v1_recurring_invoices_recurring_id_patch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RecurringInvoicesApi#patch_recurring_invoice_api_v1_recurring_invoices_recurring_id_patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Pause Recurring Invoice
    # @param recurring_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [RecurringInvoiceResponse]
    def pause_recurring_invoice_api_v1_recurring_invoices_recurring_id_pause_post(recurring_id, opts = {})
      data, _status_code, _headers = pause_recurring_invoice_api_v1_recurring_invoices_recurring_id_pause_post_with_http_info(recurring_id, opts)
      data
    end

    # Pause Recurring Invoice
    # @param recurring_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RecurringInvoiceResponse, Integer, Hash)>] RecurringInvoiceResponse data, response status code and response headers
    def pause_recurring_invoice_api_v1_recurring_invoices_recurring_id_pause_post_with_http_info(recurring_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RecurringInvoicesApi.pause_recurring_invoice_api_v1_recurring_invoices_recurring_id_pause_post ...'
      end
      # verify the required parameter 'recurring_id' is set
      if @api_client.config.client_side_validation && recurring_id.nil?
        fail ArgumentError, "Missing the required parameter 'recurring_id' when calling RecurringInvoicesApi.pause_recurring_invoice_api_v1_recurring_invoices_recurring_id_pause_post"
      end
      # resource path
      local_var_path = '/api/v1/recurring-invoices/{recurring_id}/pause'.sub('{' + 'recurring_id' + '}', CGI.escape(recurring_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RecurringInvoiceResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"RecurringInvoicesApi.pause_recurring_invoice_api_v1_recurring_invoices_recurring_id_pause_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RecurringInvoicesApi#pause_recurring_invoice_api_v1_recurring_invoices_recurring_id_pause_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Resume Recurring Invoice
    # @param recurring_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [RecurringInvoiceResponse]
    def resume_recurring_invoice_api_v1_recurring_invoices_recurring_id_resume_post(recurring_id, opts = {})
      data, _status_code, _headers = resume_recurring_invoice_api_v1_recurring_invoices_recurring_id_resume_post_with_http_info(recurring_id, opts)
      data
    end

    # Resume Recurring Invoice
    # @param recurring_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RecurringInvoiceResponse, Integer, Hash)>] RecurringInvoiceResponse data, response status code and response headers
    def resume_recurring_invoice_api_v1_recurring_invoices_recurring_id_resume_post_with_http_info(recurring_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RecurringInvoicesApi.resume_recurring_invoice_api_v1_recurring_invoices_recurring_id_resume_post ...'
      end
      # verify the required parameter 'recurring_id' is set
      if @api_client.config.client_side_validation && recurring_id.nil?
        fail ArgumentError, "Missing the required parameter 'recurring_id' when calling RecurringInvoicesApi.resume_recurring_invoice_api_v1_recurring_invoices_recurring_id_resume_post"
      end
      # resource path
      local_var_path = '/api/v1/recurring-invoices/{recurring_id}/resume'.sub('{' + 'recurring_id' + '}', CGI.escape(recurring_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RecurringInvoiceResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"RecurringInvoicesApi.resume_recurring_invoice_api_v1_recurring_invoices_recurring_id_resume_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RecurringInvoicesApi#resume_recurring_invoice_api_v1_recurring_invoices_recurring_id_resume_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
