=begin
#InvoicePDFs

#InvoicePDFs turns a JSON document into a polished PDF — invoices, credit notes, quotes, receipts, proformas, purchase orders and delivery notes. The API validates your data, computes totals correctly (tax, discounts, shipping), and returns a downloadable, professional PDF.  This package is the official client for the InvoicePDFs API, generated from the OpenAPI specification.  Documentation: https://invoicepdfs.com

The version of the OpenAPI document: 0.1.2

Generated by: https://openapi-generator.tech
Generator version: 7.7.0

=end

require 'cgi'

module InvoicePDFs
  class RendersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Download Render
    # @param render_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [File]
    def download_render_api_v1_renders_render_id_download_get(render_id, opts = {})
      data, _status_code, _headers = download_render_api_v1_renders_render_id_download_get_with_http_info(render_id, opts)
      data
    end

    # Download Render
    # @param render_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(File, Integer, Hash)>] File data, response status code and response headers
    def download_render_api_v1_renders_render_id_download_get_with_http_info(render_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RendersApi.download_render_api_v1_renders_render_id_download_get ...'
      end
      # verify the required parameter 'render_id' is set
      if @api_client.config.client_side_validation && render_id.nil?
        fail ArgumentError, "Missing the required parameter 'render_id' when calling RendersApi.download_render_api_v1_renders_render_id_download_get"
      end
      # resource path
      local_var_path = '/api/v1/renders/{render_id}/download'.sub('{' + 'render_id' + '}', CGI.escape(render_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/pdf', 'application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'File'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"RendersApi.download_render_api_v1_renders_render_id_download_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RendersApi#download_render_api_v1_renders_render_id_download_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Render
    # @param render_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def get_render_api_v1_renders_render_id_get(render_id, opts = {})
      data, _status_code, _headers = get_render_api_v1_renders_render_id_get_with_http_info(render_id, opts)
      data
    end

    # Get Render
    # @param render_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def get_render_api_v1_renders_render_id_get_with_http_info(render_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RendersApi.get_render_api_v1_renders_render_id_get ...'
      end
      # verify the required parameter 'render_id' is set
      if @api_client.config.client_side_validation && render_id.nil?
        fail ArgumentError, "Missing the required parameter 'render_id' when calling RendersApi.get_render_api_v1_renders_render_id_get"
      end
      # resource path
      local_var_path = '/api/v1/renders/{render_id}'.sub('{' + 'render_id' + '}', CGI.escape(render_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"RendersApi.get_render_api_v1_renders_render_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RendersApi#get_render_api_v1_renders_render_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
