=begin
#InvoicePDFs

#InvoicePDFs turns a JSON document into a polished PDF — invoices, credit notes, quotes, receipts, proformas, purchase orders and delivery notes. The API validates your data, computes totals correctly (tax, discounts, shipping), and returns a downloadable, professional PDF.  This package is the official client for the InvoicePDFs API, generated from the OpenAPI specification.  Documentation: https://invoicepdfs.com

The version of the OpenAPI document: 0.1.3

Generated by: https://openapi-generator.tech
Generator version: 7.7.0

=end

require 'cgi'

module InvoicePDFs
  class TaxRatesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Tax Rate
    # @param tax_rate_create_request [TaxRateCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [TaxRateResponse]
    def create_tax_rate_api_v1_tax_rates_post(tax_rate_create_request, opts = {})
      data, _status_code, _headers = create_tax_rate_api_v1_tax_rates_post_with_http_info(tax_rate_create_request, opts)
      data
    end

    # Create Tax Rate
    # @param tax_rate_create_request [TaxRateCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TaxRateResponse, Integer, Hash)>] TaxRateResponse data, response status code and response headers
    def create_tax_rate_api_v1_tax_rates_post_with_http_info(tax_rate_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaxRatesApi.create_tax_rate_api_v1_tax_rates_post ...'
      end
      # verify the required parameter 'tax_rate_create_request' is set
      if @api_client.config.client_side_validation && tax_rate_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'tax_rate_create_request' when calling TaxRatesApi.create_tax_rate_api_v1_tax_rates_post"
      end
      # resource path
      local_var_path = '/api/v1/tax-rates'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(tax_rate_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'TaxRateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"TaxRatesApi.create_tax_rate_api_v1_tax_rates_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxRatesApi#create_tax_rate_api_v1_tax_rates_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Tax Rate
    # @param tax_rate_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [SimpleBoolResponse]
    def delete_tax_rate_api_v1_tax_rates_tax_rate_id_delete(tax_rate_id, opts = {})
      data, _status_code, _headers = delete_tax_rate_api_v1_tax_rates_tax_rate_id_delete_with_http_info(tax_rate_id, opts)
      data
    end

    # Delete Tax Rate
    # @param tax_rate_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SimpleBoolResponse, Integer, Hash)>] SimpleBoolResponse data, response status code and response headers
    def delete_tax_rate_api_v1_tax_rates_tax_rate_id_delete_with_http_info(tax_rate_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaxRatesApi.delete_tax_rate_api_v1_tax_rates_tax_rate_id_delete ...'
      end
      # verify the required parameter 'tax_rate_id' is set
      if @api_client.config.client_side_validation && tax_rate_id.nil?
        fail ArgumentError, "Missing the required parameter 'tax_rate_id' when calling TaxRatesApi.delete_tax_rate_api_v1_tax_rates_tax_rate_id_delete"
      end
      # resource path
      local_var_path = '/api/v1/tax-rates/{tax_rate_id}'.sub('{' + 'tax_rate_id' + '}', CGI.escape(tax_rate_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SimpleBoolResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"TaxRatesApi.delete_tax_rate_api_v1_tax_rates_tax_rate_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxRatesApi#delete_tax_rate_api_v1_tax_rates_tax_rate_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Tax Rate
    # @param tax_rate_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [TaxRateResponse]
    def get_tax_rate_api_v1_tax_rates_tax_rate_id_get(tax_rate_id, opts = {})
      data, _status_code, _headers = get_tax_rate_api_v1_tax_rates_tax_rate_id_get_with_http_info(tax_rate_id, opts)
      data
    end

    # Get Tax Rate
    # @param tax_rate_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TaxRateResponse, Integer, Hash)>] TaxRateResponse data, response status code and response headers
    def get_tax_rate_api_v1_tax_rates_tax_rate_id_get_with_http_info(tax_rate_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaxRatesApi.get_tax_rate_api_v1_tax_rates_tax_rate_id_get ...'
      end
      # verify the required parameter 'tax_rate_id' is set
      if @api_client.config.client_side_validation && tax_rate_id.nil?
        fail ArgumentError, "Missing the required parameter 'tax_rate_id' when calling TaxRatesApi.get_tax_rate_api_v1_tax_rates_tax_rate_id_get"
      end
      # resource path
      local_var_path = '/api/v1/tax-rates/{tax_rate_id}'.sub('{' + 'tax_rate_id' + '}', CGI.escape(tax_rate_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TaxRateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"TaxRatesApi.get_tax_rate_api_v1_tax_rates_tax_rate_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxRatesApi#get_tax_rate_api_v1_tax_rates_tax_rate_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Tax Rates
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [String] :cursor 
    # @return [TaxRatesListResponse]
    def list_tax_rates_api_v1_tax_rates_get(opts = {})
      data, _status_code, _headers = list_tax_rates_api_v1_tax_rates_get_with_http_info(opts)
      data
    end

    # List Tax Rates
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [String] :cursor 
    # @return [Array<(TaxRatesListResponse, Integer, Hash)>] TaxRatesListResponse data, response status code and response headers
    def list_tax_rates_api_v1_tax_rates_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaxRatesApi.list_tax_rates_api_v1_tax_rates_get ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling TaxRatesApi.list_tax_rates_api_v1_tax_rates_get, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling TaxRatesApi.list_tax_rates_api_v1_tax_rates_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/v1/tax-rates'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TaxRatesListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"TaxRatesApi.list_tax_rates_api_v1_tax_rates_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxRatesApi#list_tax_rates_api_v1_tax_rates_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Tax Rate
    # @param tax_rate_id [String] 
    # @param tax_rate_patch_request [TaxRatePatchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [TaxRateResponse]
    def update_tax_rate_api_v1_tax_rates_tax_rate_id_patch(tax_rate_id, tax_rate_patch_request, opts = {})
      data, _status_code, _headers = update_tax_rate_api_v1_tax_rates_tax_rate_id_patch_with_http_info(tax_rate_id, tax_rate_patch_request, opts)
      data
    end

    # Update Tax Rate
    # @param tax_rate_id [String] 
    # @param tax_rate_patch_request [TaxRatePatchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TaxRateResponse, Integer, Hash)>] TaxRateResponse data, response status code and response headers
    def update_tax_rate_api_v1_tax_rates_tax_rate_id_patch_with_http_info(tax_rate_id, tax_rate_patch_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaxRatesApi.update_tax_rate_api_v1_tax_rates_tax_rate_id_patch ...'
      end
      # verify the required parameter 'tax_rate_id' is set
      if @api_client.config.client_side_validation && tax_rate_id.nil?
        fail ArgumentError, "Missing the required parameter 'tax_rate_id' when calling TaxRatesApi.update_tax_rate_api_v1_tax_rates_tax_rate_id_patch"
      end
      # verify the required parameter 'tax_rate_patch_request' is set
      if @api_client.config.client_side_validation && tax_rate_patch_request.nil?
        fail ArgumentError, "Missing the required parameter 'tax_rate_patch_request' when calling TaxRatesApi.update_tax_rate_api_v1_tax_rates_tax_rate_id_patch"
      end
      # resource path
      local_var_path = '/api/v1/tax-rates/{tax_rate_id}'.sub('{' + 'tax_rate_id' + '}', CGI.escape(tax_rate_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(tax_rate_patch_request)

      # return_type
      return_type = opts[:debug_return_type] || 'TaxRateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"TaxRatesApi.update_tax_rate_api_v1_tax_rates_tax_rate_id_patch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxRatesApi#update_tax_rate_api_v1_tax_rates_tax_rate_id_patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
