=begin
#InvoicePDFs

#InvoicePDFs turns a JSON document into a polished PDF — invoices, credit notes, quotes, receipts, proformas, purchase orders and delivery notes. The API validates your data, computes totals correctly (tax, discounts, shipping), and returns a downloadable, professional PDF.  This package is the official client for the InvoicePDFs API, generated from the OpenAPI specification.  Documentation: https://invoicepdfs.com

The version of the OpenAPI document: 0.2.0

Generated by: https://openapi-generator.tech
Generator version: 7.7.0

=end

require 'cgi'

module InvoicePDFs
  class TemplateVersionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Template Version
    # @param template_id [String] 
    # @param template_version_create_request [TemplateVersionCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [TemplateVersionResponse]
    def create_template_version(template_id, template_version_create_request, opts = {})
      data, _status_code, _headers = create_template_version_with_http_info(template_id, template_version_create_request, opts)
      data
    end

    # Create Template Version
    # @param template_id [String] 
    # @param template_version_create_request [TemplateVersionCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TemplateVersionResponse, Integer, Hash)>] TemplateVersionResponse data, response status code and response headers
    def create_template_version_with_http_info(template_id, template_version_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TemplateVersionsApi.create_template_version ...'
      end
      # verify the required parameter 'template_id' is set
      if @api_client.config.client_side_validation && template_id.nil?
        fail ArgumentError, "Missing the required parameter 'template_id' when calling TemplateVersionsApi.create_template_version"
      end
      # verify the required parameter 'template_version_create_request' is set
      if @api_client.config.client_side_validation && template_version_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'template_version_create_request' when calling TemplateVersionsApi.create_template_version"
      end
      # resource path
      local_var_path = '/api/v1/templates/{template_id}/versions'.sub('{' + 'template_id' + '}', CGI.escape(template_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(template_version_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'TemplateVersionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"TemplateVersionsApi.create_template_version",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TemplateVersionsApi#create_template_version\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Template Version
    # @param template_id [String] 
    # @param version [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [TemplateVersionResponse]
    def get_template_version(template_id, version, opts = {})
      data, _status_code, _headers = get_template_version_with_http_info(template_id, version, opts)
      data
    end

    # Get Template Version
    # @param template_id [String] 
    # @param version [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TemplateVersionResponse, Integer, Hash)>] TemplateVersionResponse data, response status code and response headers
    def get_template_version_with_http_info(template_id, version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TemplateVersionsApi.get_template_version ...'
      end
      # verify the required parameter 'template_id' is set
      if @api_client.config.client_side_validation && template_id.nil?
        fail ArgumentError, "Missing the required parameter 'template_id' when calling TemplateVersionsApi.get_template_version"
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling TemplateVersionsApi.get_template_version"
      end
      # resource path
      local_var_path = '/api/v1/templates/{template_id}/versions/{version}'.sub('{' + 'template_id' + '}', CGI.escape(template_id.to_s)).sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TemplateVersionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"TemplateVersionsApi.get_template_version",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TemplateVersionsApi#get_template_version\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Template Versions
    # @param template_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [TemplateVersionsListResponse]
    def list_template_versions(template_id, opts = {})
      data, _status_code, _headers = list_template_versions_with_http_info(template_id, opts)
      data
    end

    # List Template Versions
    # @param template_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TemplateVersionsListResponse, Integer, Hash)>] TemplateVersionsListResponse data, response status code and response headers
    def list_template_versions_with_http_info(template_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TemplateVersionsApi.list_template_versions ...'
      end
      # verify the required parameter 'template_id' is set
      if @api_client.config.client_side_validation && template_id.nil?
        fail ArgumentError, "Missing the required parameter 'template_id' when calling TemplateVersionsApi.list_template_versions"
      end
      # resource path
      local_var_path = '/api/v1/templates/{template_id}/versions'.sub('{' + 'template_id' + '}', CGI.escape(template_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TemplateVersionsListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"TemplateVersionsApi.list_template_versions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TemplateVersionsApi#list_template_versions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
