=begin
#InvoicePDFs

#InvoicePDFs turns a JSON document into a polished PDF — invoices, credit notes, quotes, receipts, proformas, purchase orders and delivery notes. The API validates your data, computes totals correctly (tax, discounts, shipping), and returns a downloadable, professional PDF.  This package is the official client for the InvoicePDFs API, generated from the OpenAPI specification.  Documentation: https://invoicepdfs.com

The version of the OpenAPI document: 0.1.3

Generated by: https://openapi-generator.tech
Generator version: 7.7.0

=end

require 'cgi'

module InvoicePDFs
  class TemplatesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Template
    # @param template_create_request [TemplateCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CustomTemplateResponse]
    def create_template_api_v1_templates_custom_post(template_create_request, opts = {})
      data, _status_code, _headers = create_template_api_v1_templates_custom_post_with_http_info(template_create_request, opts)
      data
    end

    # Create Template
    # @param template_create_request [TemplateCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CustomTemplateResponse, Integer, Hash)>] CustomTemplateResponse data, response status code and response headers
    def create_template_api_v1_templates_custom_post_with_http_info(template_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TemplatesApi.create_template_api_v1_templates_custom_post ...'
      end
      # verify the required parameter 'template_create_request' is set
      if @api_client.config.client_side_validation && template_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'template_create_request' when calling TemplatesApi.create_template_api_v1_templates_custom_post"
      end
      # resource path
      local_var_path = '/api/v1/templates/custom'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(template_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CustomTemplateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"TemplatesApi.create_template_api_v1_templates_custom_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TemplatesApi#create_template_api_v1_templates_custom_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Template
    # @param template_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_template_api_v1_templates_custom_template_id_delete(template_id, opts = {})
      delete_template_api_v1_templates_custom_template_id_delete_with_http_info(template_id, opts)
      nil
    end

    # Delete Template
    # @param template_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_template_api_v1_templates_custom_template_id_delete_with_http_info(template_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TemplatesApi.delete_template_api_v1_templates_custom_template_id_delete ...'
      end
      # verify the required parameter 'template_id' is set
      if @api_client.config.client_side_validation && template_id.nil?
        fail ArgumentError, "Missing the required parameter 'template_id' when calling TemplatesApi.delete_template_api_v1_templates_custom_template_id_delete"
      end
      # resource path
      local_var_path = '/api/v1/templates/custom/{template_id}'.sub('{' + 'template_id' + '}', CGI.escape(template_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"TemplatesApi.delete_template_api_v1_templates_custom_template_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TemplatesApi#delete_template_api_v1_templates_custom_template_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Duplicate Template
    # @param template_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CustomTemplateResponse]
    def duplicate_template_api_v1_templates_custom_template_id_duplicate_post(template_id, opts = {})
      data, _status_code, _headers = duplicate_template_api_v1_templates_custom_template_id_duplicate_post_with_http_info(template_id, opts)
      data
    end

    # Duplicate Template
    # @param template_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CustomTemplateResponse, Integer, Hash)>] CustomTemplateResponse data, response status code and response headers
    def duplicate_template_api_v1_templates_custom_template_id_duplicate_post_with_http_info(template_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TemplatesApi.duplicate_template_api_v1_templates_custom_template_id_duplicate_post ...'
      end
      # verify the required parameter 'template_id' is set
      if @api_client.config.client_side_validation && template_id.nil?
        fail ArgumentError, "Missing the required parameter 'template_id' when calling TemplatesApi.duplicate_template_api_v1_templates_custom_template_id_duplicate_post"
      end
      # resource path
      local_var_path = '/api/v1/templates/custom/{template_id}/duplicate'.sub('{' + 'template_id' + '}', CGI.escape(template_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CustomTemplateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"TemplatesApi.duplicate_template_api_v1_templates_custom_template_id_duplicate_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TemplatesApi#duplicate_template_api_v1_templates_custom_template_id_duplicate_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Builtin Template
    # @param template_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [TemplateDetailResponse]
    def get_builtin_template_api_v1_templates_builtin_template_id_get(template_id, opts = {})
      data, _status_code, _headers = get_builtin_template_api_v1_templates_builtin_template_id_get_with_http_info(template_id, opts)
      data
    end

    # Get Builtin Template
    # @param template_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TemplateDetailResponse, Integer, Hash)>] TemplateDetailResponse data, response status code and response headers
    def get_builtin_template_api_v1_templates_builtin_template_id_get_with_http_info(template_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TemplatesApi.get_builtin_template_api_v1_templates_builtin_template_id_get ...'
      end
      # verify the required parameter 'template_id' is set
      if @api_client.config.client_side_validation && template_id.nil?
        fail ArgumentError, "Missing the required parameter 'template_id' when calling TemplatesApi.get_builtin_template_api_v1_templates_builtin_template_id_get"
      end
      # resource path
      local_var_path = '/api/v1/templates/builtin/{template_id}'.sub('{' + 'template_id' + '}', CGI.escape(template_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TemplateDetailResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"TemplatesApi.get_builtin_template_api_v1_templates_builtin_template_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TemplatesApi#get_builtin_template_api_v1_templates_builtin_template_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Custom Template
    # @param template_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CustomTemplateResponse]
    def get_custom_template_api_v1_templates_custom_template_id_get(template_id, opts = {})
      data, _status_code, _headers = get_custom_template_api_v1_templates_custom_template_id_get_with_http_info(template_id, opts)
      data
    end

    # Get Custom Template
    # @param template_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CustomTemplateResponse, Integer, Hash)>] CustomTemplateResponse data, response status code and response headers
    def get_custom_template_api_v1_templates_custom_template_id_get_with_http_info(template_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TemplatesApi.get_custom_template_api_v1_templates_custom_template_id_get ...'
      end
      # verify the required parameter 'template_id' is set
      if @api_client.config.client_side_validation && template_id.nil?
        fail ArgumentError, "Missing the required parameter 'template_id' when calling TemplatesApi.get_custom_template_api_v1_templates_custom_template_id_get"
      end
      # resource path
      local_var_path = '/api/v1/templates/custom/{template_id}'.sub('{' + 'template_id' + '}', CGI.escape(template_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CustomTemplateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"TemplatesApi.get_custom_template_api_v1_templates_custom_template_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TemplatesApi#get_custom_template_api_v1_templates_custom_template_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Template
    # @param template_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [TemplateDetailResponse]
    def get_template_api_v1_templates_template_id_get(template_id, opts = {})
      data, _status_code, _headers = get_template_api_v1_templates_template_id_get_with_http_info(template_id, opts)
      data
    end

    # Get Template
    # @param template_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TemplateDetailResponse, Integer, Hash)>] TemplateDetailResponse data, response status code and response headers
    def get_template_api_v1_templates_template_id_get_with_http_info(template_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TemplatesApi.get_template_api_v1_templates_template_id_get ...'
      end
      # verify the required parameter 'template_id' is set
      if @api_client.config.client_side_validation && template_id.nil?
        fail ArgumentError, "Missing the required parameter 'template_id' when calling TemplatesApi.get_template_api_v1_templates_template_id_get"
      end
      # resource path
      local_var_path = '/api/v1/templates/{template_id}'.sub('{' + 'template_id' + '}', CGI.escape(template_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TemplateDetailResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"TemplatesApi.get_template_api_v1_templates_template_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TemplatesApi#get_template_api_v1_templates_template_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Custom Templates
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [String] :cursor 
    # @return [CustomTemplatesListResponse]
    def list_custom_templates_api_v1_templates_custom_get(opts = {})
      data, _status_code, _headers = list_custom_templates_api_v1_templates_custom_get_with_http_info(opts)
      data
    end

    # List Custom Templates
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [String] :cursor 
    # @return [Array<(CustomTemplatesListResponse, Integer, Hash)>] CustomTemplatesListResponse data, response status code and response headers
    def list_custom_templates_api_v1_templates_custom_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TemplatesApi.list_custom_templates_api_v1_templates_custom_get ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling TemplatesApi.list_custom_templates_api_v1_templates_custom_get, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling TemplatesApi.list_custom_templates_api_v1_templates_custom_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/v1/templates/custom'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CustomTemplatesListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"TemplatesApi.list_custom_templates_api_v1_templates_custom_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TemplatesApi#list_custom_templates_api_v1_templates_custom_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch Template
    # @param template_id [String] 
    # @param template_patch_request [TemplatePatchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CustomTemplateResponse]
    def patch_template_api_v1_templates_custom_template_id_patch(template_id, template_patch_request, opts = {})
      data, _status_code, _headers = patch_template_api_v1_templates_custom_template_id_patch_with_http_info(template_id, template_patch_request, opts)
      data
    end

    # Patch Template
    # @param template_id [String] 
    # @param template_patch_request [TemplatePatchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CustomTemplateResponse, Integer, Hash)>] CustomTemplateResponse data, response status code and response headers
    def patch_template_api_v1_templates_custom_template_id_patch_with_http_info(template_id, template_patch_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TemplatesApi.patch_template_api_v1_templates_custom_template_id_patch ...'
      end
      # verify the required parameter 'template_id' is set
      if @api_client.config.client_side_validation && template_id.nil?
        fail ArgumentError, "Missing the required parameter 'template_id' when calling TemplatesApi.patch_template_api_v1_templates_custom_template_id_patch"
      end
      # verify the required parameter 'template_patch_request' is set
      if @api_client.config.client_side_validation && template_patch_request.nil?
        fail ArgumentError, "Missing the required parameter 'template_patch_request' when calling TemplatesApi.patch_template_api_v1_templates_custom_template_id_patch"
      end
      # resource path
      local_var_path = '/api/v1/templates/custom/{template_id}'.sub('{' + 'template_id' + '}', CGI.escape(template_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(template_patch_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CustomTemplateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"TemplatesApi.patch_template_api_v1_templates_custom_template_id_patch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TemplatesApi#patch_template_api_v1_templates_custom_template_id_patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Preview Template
    # @param template_id [String] 
    # @param app_schemas_v1_document_render_request [AppSchemasV1DocumentRenderRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key 
    # @return [Object]
    def preview_template_api_v1_templates_template_id_preview_post(template_id, app_schemas_v1_document_render_request, opts = {})
      data, _status_code, _headers = preview_template_api_v1_templates_template_id_preview_post_with_http_info(template_id, app_schemas_v1_document_render_request, opts)
      data
    end

    # Preview Template
    # @param template_id [String] 
    # @param app_schemas_v1_document_render_request [AppSchemasV1DocumentRenderRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def preview_template_api_v1_templates_template_id_preview_post_with_http_info(template_id, app_schemas_v1_document_render_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TemplatesApi.preview_template_api_v1_templates_template_id_preview_post ...'
      end
      # verify the required parameter 'template_id' is set
      if @api_client.config.client_side_validation && template_id.nil?
        fail ArgumentError, "Missing the required parameter 'template_id' when calling TemplatesApi.preview_template_api_v1_templates_template_id_preview_post"
      end
      # verify the required parameter 'app_schemas_v1_document_render_request' is set
      if @api_client.config.client_side_validation && app_schemas_v1_document_render_request.nil?
        fail ArgumentError, "Missing the required parameter 'app_schemas_v1_document_render_request' when calling TemplatesApi.preview_template_api_v1_templates_template_id_preview_post"
      end
      # resource path
      local_var_path = '/api/v1/templates/{template_id}/preview'.sub('{' + 'template_id' + '}', CGI.escape(template_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(app_schemas_v1_document_render_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"TemplatesApi.preview_template_api_v1_templates_template_id_preview_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TemplatesApi#preview_template_api_v1_templates_template_id_preview_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Publish Template
    # @param template_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CustomTemplateResponse]
    def publish_template_api_v1_templates_custom_template_id_publish_post(template_id, opts = {})
      data, _status_code, _headers = publish_template_api_v1_templates_custom_template_id_publish_post_with_http_info(template_id, opts)
      data
    end

    # Publish Template
    # @param template_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CustomTemplateResponse, Integer, Hash)>] CustomTemplateResponse data, response status code and response headers
    def publish_template_api_v1_templates_custom_template_id_publish_post_with_http_info(template_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TemplatesApi.publish_template_api_v1_templates_custom_template_id_publish_post ...'
      end
      # verify the required parameter 'template_id' is set
      if @api_client.config.client_side_validation && template_id.nil?
        fail ArgumentError, "Missing the required parameter 'template_id' when calling TemplatesApi.publish_template_api_v1_templates_custom_template_id_publish_post"
      end
      # resource path
      local_var_path = '/api/v1/templates/custom/{template_id}/publish'.sub('{' + 'template_id' + '}', CGI.escape(template_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CustomTemplateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"TemplatesApi.publish_template_api_v1_templates_custom_template_id_publish_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TemplatesApi#publish_template_api_v1_templates_custom_template_id_publish_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Templates
    # @param [Hash] opts the optional parameters
    # @return [TemplatesListResponse]
    def templates_api_v1_templates_get(opts = {})
      data, _status_code, _headers = templates_api_v1_templates_get_with_http_info(opts)
      data
    end

    # Templates
    # @param [Hash] opts the optional parameters
    # @return [Array<(TemplatesListResponse, Integer, Hash)>] TemplatesListResponse data, response status code and response headers
    def templates_api_v1_templates_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TemplatesApi.templates_api_v1_templates_get ...'
      end
      # resource path
      local_var_path = '/api/v1/templates'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TemplatesListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"TemplatesApi.templates_api_v1_templates_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TemplatesApi#templates_api_v1_templates_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
