=begin
#InvoicePDFs

#InvoicePDFs turns a JSON document into a polished PDF — invoices, credit notes, quotes, receipts, proformas, purchase orders and delivery notes. The API validates your data, computes totals correctly (tax, discounts, shipping), and returns a downloadable, professional PDF.  This package is the official client for the InvoicePDFs API, generated from the OpenAPI specification.  Documentation: https://invoicepdfs.com

The version of the OpenAPI document: 0.1.2

Generated by: https://openapi-generator.tech
Generator version: 7.7.0

=end

require 'cgi'

module InvoicePDFs
  class WebhooksApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Webhook Endpoint
    # @param webhook_endpoint_create_request [WebhookEndpointCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [WebhookEndpointResponse]
    def create_webhook_endpoint_api_v1_webhook_endpoints_post(webhook_endpoint_create_request, opts = {})
      data, _status_code, _headers = create_webhook_endpoint_api_v1_webhook_endpoints_post_with_http_info(webhook_endpoint_create_request, opts)
      data
    end

    # Create Webhook Endpoint
    # @param webhook_endpoint_create_request [WebhookEndpointCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(WebhookEndpointResponse, Integer, Hash)>] WebhookEndpointResponse data, response status code and response headers
    def create_webhook_endpoint_api_v1_webhook_endpoints_post_with_http_info(webhook_endpoint_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.create_webhook_endpoint_api_v1_webhook_endpoints_post ...'
      end
      # verify the required parameter 'webhook_endpoint_create_request' is set
      if @api_client.config.client_side_validation && webhook_endpoint_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'webhook_endpoint_create_request' when calling WebhooksApi.create_webhook_endpoint_api_v1_webhook_endpoints_post"
      end
      # resource path
      local_var_path = '/api/v1/webhook-endpoints'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(webhook_endpoint_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'WebhookEndpointResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"WebhooksApi.create_webhook_endpoint_api_v1_webhook_endpoints_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#create_webhook_endpoint_api_v1_webhook_endpoints_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Webhook Endpoint
    # @param endpoint_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [SimpleBoolResponse]
    def delete_webhook_endpoint_api_v1_webhook_endpoints_endpoint_id_delete(endpoint_id, opts = {})
      data, _status_code, _headers = delete_webhook_endpoint_api_v1_webhook_endpoints_endpoint_id_delete_with_http_info(endpoint_id, opts)
      data
    end

    # Delete Webhook Endpoint
    # @param endpoint_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SimpleBoolResponse, Integer, Hash)>] SimpleBoolResponse data, response status code and response headers
    def delete_webhook_endpoint_api_v1_webhook_endpoints_endpoint_id_delete_with_http_info(endpoint_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.delete_webhook_endpoint_api_v1_webhook_endpoints_endpoint_id_delete ...'
      end
      # verify the required parameter 'endpoint_id' is set
      if @api_client.config.client_side_validation && endpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'endpoint_id' when calling WebhooksApi.delete_webhook_endpoint_api_v1_webhook_endpoints_endpoint_id_delete"
      end
      # resource path
      local_var_path = '/api/v1/webhook-endpoints/{endpoint_id}'.sub('{' + 'endpoint_id' + '}', CGI.escape(endpoint_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SimpleBoolResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"WebhooksApi.delete_webhook_endpoint_api_v1_webhook_endpoints_endpoint_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#delete_webhook_endpoint_api_v1_webhook_endpoints_endpoint_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Webhook Delivery
    # @param delivery_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [WebhookDeliveryResponse]
    def get_webhook_delivery_api_v1_webhook_deliveries_delivery_id_get(delivery_id, opts = {})
      data, _status_code, _headers = get_webhook_delivery_api_v1_webhook_deliveries_delivery_id_get_with_http_info(delivery_id, opts)
      data
    end

    # Get Webhook Delivery
    # @param delivery_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(WebhookDeliveryResponse, Integer, Hash)>] WebhookDeliveryResponse data, response status code and response headers
    def get_webhook_delivery_api_v1_webhook_deliveries_delivery_id_get_with_http_info(delivery_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.get_webhook_delivery_api_v1_webhook_deliveries_delivery_id_get ...'
      end
      # verify the required parameter 'delivery_id' is set
      if @api_client.config.client_side_validation && delivery_id.nil?
        fail ArgumentError, "Missing the required parameter 'delivery_id' when calling WebhooksApi.get_webhook_delivery_api_v1_webhook_deliveries_delivery_id_get"
      end
      # resource path
      local_var_path = '/api/v1/webhook-deliveries/{delivery_id}'.sub('{' + 'delivery_id' + '}', CGI.escape(delivery_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WebhookDeliveryResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"WebhooksApi.get_webhook_delivery_api_v1_webhook_deliveries_delivery_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#get_webhook_delivery_api_v1_webhook_deliveries_delivery_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Webhook Endpoint
    # @param endpoint_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [WebhookEndpointResponse]
    def get_webhook_endpoint_api_v1_webhook_endpoints_endpoint_id_get(endpoint_id, opts = {})
      data, _status_code, _headers = get_webhook_endpoint_api_v1_webhook_endpoints_endpoint_id_get_with_http_info(endpoint_id, opts)
      data
    end

    # Get Webhook Endpoint
    # @param endpoint_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(WebhookEndpointResponse, Integer, Hash)>] WebhookEndpointResponse data, response status code and response headers
    def get_webhook_endpoint_api_v1_webhook_endpoints_endpoint_id_get_with_http_info(endpoint_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.get_webhook_endpoint_api_v1_webhook_endpoints_endpoint_id_get ...'
      end
      # verify the required parameter 'endpoint_id' is set
      if @api_client.config.client_side_validation && endpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'endpoint_id' when calling WebhooksApi.get_webhook_endpoint_api_v1_webhook_endpoints_endpoint_id_get"
      end
      # resource path
      local_var_path = '/api/v1/webhook-endpoints/{endpoint_id}'.sub('{' + 'endpoint_id' + '}', CGI.escape(endpoint_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WebhookEndpointResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"WebhooksApi.get_webhook_endpoint_api_v1_webhook_endpoints_endpoint_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#get_webhook_endpoint_api_v1_webhook_endpoints_endpoint_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Webhook Deliveries
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [String] :cursor 
    # @return [WebhookDeliveriesListResponse]
    def list_webhook_deliveries_api_v1_webhook_deliveries_get(opts = {})
      data, _status_code, _headers = list_webhook_deliveries_api_v1_webhook_deliveries_get_with_http_info(opts)
      data
    end

    # List Webhook Deliveries
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [String] :cursor 
    # @return [Array<(WebhookDeliveriesListResponse, Integer, Hash)>] WebhookDeliveriesListResponse data, response status code and response headers
    def list_webhook_deliveries_api_v1_webhook_deliveries_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.list_webhook_deliveries_api_v1_webhook_deliveries_get ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling WebhooksApi.list_webhook_deliveries_api_v1_webhook_deliveries_get, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling WebhooksApi.list_webhook_deliveries_api_v1_webhook_deliveries_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/v1/webhook-deliveries'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WebhookDeliveriesListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"WebhooksApi.list_webhook_deliveries_api_v1_webhook_deliveries_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#list_webhook_deliveries_api_v1_webhook_deliveries_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Webhook Endpoints
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [String] :cursor 
    # @return [WebhookEndpointsListResponse]
    def list_webhook_endpoints_api_v1_webhook_endpoints_get(opts = {})
      data, _status_code, _headers = list_webhook_endpoints_api_v1_webhook_endpoints_get_with_http_info(opts)
      data
    end

    # List Webhook Endpoints
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [String] :cursor 
    # @return [Array<(WebhookEndpointsListResponse, Integer, Hash)>] WebhookEndpointsListResponse data, response status code and response headers
    def list_webhook_endpoints_api_v1_webhook_endpoints_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.list_webhook_endpoints_api_v1_webhook_endpoints_get ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling WebhooksApi.list_webhook_endpoints_api_v1_webhook_endpoints_get, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling WebhooksApi.list_webhook_endpoints_api_v1_webhook_endpoints_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/v1/webhook-endpoints'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WebhookEndpointsListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"WebhooksApi.list_webhook_endpoints_api_v1_webhook_endpoints_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#list_webhook_endpoints_api_v1_webhook_endpoints_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retry Webhook Delivery
    # @param delivery_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [WebhookDeliveryResponse]
    def retry_webhook_delivery_api_v1_webhook_deliveries_delivery_id_retry_post(delivery_id, opts = {})
      data, _status_code, _headers = retry_webhook_delivery_api_v1_webhook_deliveries_delivery_id_retry_post_with_http_info(delivery_id, opts)
      data
    end

    # Retry Webhook Delivery
    # @param delivery_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(WebhookDeliveryResponse, Integer, Hash)>] WebhookDeliveryResponse data, response status code and response headers
    def retry_webhook_delivery_api_v1_webhook_deliveries_delivery_id_retry_post_with_http_info(delivery_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.retry_webhook_delivery_api_v1_webhook_deliveries_delivery_id_retry_post ...'
      end
      # verify the required parameter 'delivery_id' is set
      if @api_client.config.client_side_validation && delivery_id.nil?
        fail ArgumentError, "Missing the required parameter 'delivery_id' when calling WebhooksApi.retry_webhook_delivery_api_v1_webhook_deliveries_delivery_id_retry_post"
      end
      # resource path
      local_var_path = '/api/v1/webhook-deliveries/{delivery_id}/retry'.sub('{' + 'delivery_id' + '}', CGI.escape(delivery_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WebhookDeliveryResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"WebhooksApi.retry_webhook_delivery_api_v1_webhook_deliveries_delivery_id_retry_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#retry_webhook_delivery_api_v1_webhook_deliveries_delivery_id_retry_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Rotate Webhook Secret
    # @param endpoint_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [WebhookSecretResponse]
    def rotate_webhook_secret_api_v1_webhook_endpoints_endpoint_id_rotate_secret_post(endpoint_id, opts = {})
      data, _status_code, _headers = rotate_webhook_secret_api_v1_webhook_endpoints_endpoint_id_rotate_secret_post_with_http_info(endpoint_id, opts)
      data
    end

    # Rotate Webhook Secret
    # @param endpoint_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(WebhookSecretResponse, Integer, Hash)>] WebhookSecretResponse data, response status code and response headers
    def rotate_webhook_secret_api_v1_webhook_endpoints_endpoint_id_rotate_secret_post_with_http_info(endpoint_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.rotate_webhook_secret_api_v1_webhook_endpoints_endpoint_id_rotate_secret_post ...'
      end
      # verify the required parameter 'endpoint_id' is set
      if @api_client.config.client_side_validation && endpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'endpoint_id' when calling WebhooksApi.rotate_webhook_secret_api_v1_webhook_endpoints_endpoint_id_rotate_secret_post"
      end
      # resource path
      local_var_path = '/api/v1/webhook-endpoints/{endpoint_id}/rotate-secret'.sub('{' + 'endpoint_id' + '}', CGI.escape(endpoint_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WebhookSecretResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"WebhooksApi.rotate_webhook_secret_api_v1_webhook_endpoints_endpoint_id_rotate_secret_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#rotate_webhook_secret_api_v1_webhook_endpoints_endpoint_id_rotate_secret_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Test Webhook Endpoint
    # @param endpoint_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [WebhookDeliveryResponse]
    def test_webhook_endpoint_api_v1_webhook_endpoints_endpoint_id_test_post(endpoint_id, opts = {})
      data, _status_code, _headers = test_webhook_endpoint_api_v1_webhook_endpoints_endpoint_id_test_post_with_http_info(endpoint_id, opts)
      data
    end

    # Test Webhook Endpoint
    # @param endpoint_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(WebhookDeliveryResponse, Integer, Hash)>] WebhookDeliveryResponse data, response status code and response headers
    def test_webhook_endpoint_api_v1_webhook_endpoints_endpoint_id_test_post_with_http_info(endpoint_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.test_webhook_endpoint_api_v1_webhook_endpoints_endpoint_id_test_post ...'
      end
      # verify the required parameter 'endpoint_id' is set
      if @api_client.config.client_side_validation && endpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'endpoint_id' when calling WebhooksApi.test_webhook_endpoint_api_v1_webhook_endpoints_endpoint_id_test_post"
      end
      # resource path
      local_var_path = '/api/v1/webhook-endpoints/{endpoint_id}/test'.sub('{' + 'endpoint_id' + '}', CGI.escape(endpoint_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WebhookDeliveryResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"WebhooksApi.test_webhook_endpoint_api_v1_webhook_endpoints_endpoint_id_test_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#test_webhook_endpoint_api_v1_webhook_endpoints_endpoint_id_test_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Webhook Endpoint
    # @param endpoint_id [String] 
    # @param webhook_endpoint_patch_request [WebhookEndpointPatchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [WebhookEndpointResponse]
    def update_webhook_endpoint_api_v1_webhook_endpoints_endpoint_id_patch(endpoint_id, webhook_endpoint_patch_request, opts = {})
      data, _status_code, _headers = update_webhook_endpoint_api_v1_webhook_endpoints_endpoint_id_patch_with_http_info(endpoint_id, webhook_endpoint_patch_request, opts)
      data
    end

    # Update Webhook Endpoint
    # @param endpoint_id [String] 
    # @param webhook_endpoint_patch_request [WebhookEndpointPatchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(WebhookEndpointResponse, Integer, Hash)>] WebhookEndpointResponse data, response status code and response headers
    def update_webhook_endpoint_api_v1_webhook_endpoints_endpoint_id_patch_with_http_info(endpoint_id, webhook_endpoint_patch_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.update_webhook_endpoint_api_v1_webhook_endpoints_endpoint_id_patch ...'
      end
      # verify the required parameter 'endpoint_id' is set
      if @api_client.config.client_side_validation && endpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'endpoint_id' when calling WebhooksApi.update_webhook_endpoint_api_v1_webhook_endpoints_endpoint_id_patch"
      end
      # verify the required parameter 'webhook_endpoint_patch_request' is set
      if @api_client.config.client_side_validation && webhook_endpoint_patch_request.nil?
        fail ArgumentError, "Missing the required parameter 'webhook_endpoint_patch_request' when calling WebhooksApi.update_webhook_endpoint_api_v1_webhook_endpoints_endpoint_id_patch"
      end
      # resource path
      local_var_path = '/api/v1/webhook-endpoints/{endpoint_id}'.sub('{' + 'endpoint_id' + '}', CGI.escape(endpoint_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(webhook_endpoint_patch_request)

      # return_type
      return_type = opts[:debug_return_type] || 'WebhookEndpointResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"WebhooksApi.update_webhook_endpoint_api_v1_webhook_endpoints_endpoint_id_patch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#update_webhook_endpoint_api_v1_webhook_endpoints_endpoint_id_patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
