=begin
#InvoicePDFs

#InvoicePDFs turns a JSON document into a polished PDF — invoices, credit notes, quotes, receipts, proformas, purchase orders and delivery notes. The API validates your data, computes totals correctly (tax, discounts, shipping), and returns a downloadable, professional PDF.  This package is the official client for the InvoicePDFs API, generated from the OpenAPI specification.  Documentation: https://invoicepdfs.com

The version of the OpenAPI document: 0.3.0

Generated by: https://openapi-generator.tech
Generator version: 7.7.0

=end

require 'cgi'

module InvoicePDFs
  class WebhooksApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Webhook Endpoint
    # Register a URL to receive events.  The endpoint starts active and begins receiving the events you list.  The response carries the signing secret, and is the only one that ever will — store it now. Reading or listing endpoints never returns it, and the only way to get another is `rotate_webhook_secret`, which stops this one working.
    # @param webhook_endpoint_create_request [WebhookEndpointCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [WebhookEndpointCreatedResponse]
    def create_webhook_endpoint(webhook_endpoint_create_request, opts = {})
      data, _status_code, _headers = create_webhook_endpoint_with_http_info(webhook_endpoint_create_request, opts)
      data
    end

    # Create Webhook Endpoint
    # Register a URL to receive events.  The endpoint starts active and begins receiving the events you list.  The response carries the signing secret, and is the only one that ever will — store it now. Reading or listing endpoints never returns it, and the only way to get another is &#x60;rotate_webhook_secret&#x60;, which stops this one working.
    # @param webhook_endpoint_create_request [WebhookEndpointCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(WebhookEndpointCreatedResponse, Integer, Hash)>] WebhookEndpointCreatedResponse data, response status code and response headers
    def create_webhook_endpoint_with_http_info(webhook_endpoint_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.create_webhook_endpoint ...'
      end
      # verify the required parameter 'webhook_endpoint_create_request' is set
      if @api_client.config.client_side_validation && webhook_endpoint_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'webhook_endpoint_create_request' when calling WebhooksApi.create_webhook_endpoint"
      end
      # resource path
      local_var_path = '/api/v1/webhook-endpoints'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(webhook_endpoint_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'WebhookEndpointCreatedResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"WebhooksApi.create_webhook_endpoint",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#create_webhook_endpoint\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Webhook Endpoint
    # Remove an endpoint and its delivery history.  The endpoint's delivery records are deleted with it, including any still waiting to be retried. To stop deliveries without losing the history, set `is_active` to false instead.
    # @param endpoint_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [SimpleBoolResponse]
    def delete_webhook_endpoint(endpoint_id, opts = {})
      data, _status_code, _headers = delete_webhook_endpoint_with_http_info(endpoint_id, opts)
      data
    end

    # Delete Webhook Endpoint
    # Remove an endpoint and its delivery history.  The endpoint&#39;s delivery records are deleted with it, including any still waiting to be retried. To stop deliveries without losing the history, set &#x60;is_active&#x60; to false instead.
    # @param endpoint_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SimpleBoolResponse, Integer, Hash)>] SimpleBoolResponse data, response status code and response headers
    def delete_webhook_endpoint_with_http_info(endpoint_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.delete_webhook_endpoint ...'
      end
      # verify the required parameter 'endpoint_id' is set
      if @api_client.config.client_side_validation && endpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'endpoint_id' when calling WebhooksApi.delete_webhook_endpoint"
      end
      # resource path
      local_var_path = '/api/v1/webhook-endpoints/{endpoint_id}'.sub('{' + 'endpoint_id' + '}', CGI.escape(endpoint_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SimpleBoolResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"WebhooksApi.delete_webhook_endpoint",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#delete_webhook_endpoint\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Webhook Delivery
    # One webhook delivery by id — an HTTP POST to one of your endpoints.  Not to be confused with `get_delivery`, which is an email sent to a customer.
    # @param delivery_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [WebhookDeliveryResponse]
    def get_webhook_delivery(delivery_id, opts = {})
      data, _status_code, _headers = get_webhook_delivery_with_http_info(delivery_id, opts)
      data
    end

    # Get Webhook Delivery
    # One webhook delivery by id — an HTTP POST to one of your endpoints.  Not to be confused with &#x60;get_delivery&#x60;, which is an email sent to a customer.
    # @param delivery_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(WebhookDeliveryResponse, Integer, Hash)>] WebhookDeliveryResponse data, response status code and response headers
    def get_webhook_delivery_with_http_info(delivery_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.get_webhook_delivery ...'
      end
      # verify the required parameter 'delivery_id' is set
      if @api_client.config.client_side_validation && delivery_id.nil?
        fail ArgumentError, "Missing the required parameter 'delivery_id' when calling WebhooksApi.get_webhook_delivery"
      end
      # resource path
      local_var_path = '/api/v1/webhook-deliveries/{delivery_id}'.sub('{' + 'delivery_id' + '}', CGI.escape(delivery_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WebhookDeliveryResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"WebhooksApi.get_webhook_delivery",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#get_webhook_delivery\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Webhook Endpoint
    # One webhook endpoint by id.
    # @param endpoint_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [WebhookEndpointResponse]
    def get_webhook_endpoint(endpoint_id, opts = {})
      data, _status_code, _headers = get_webhook_endpoint_with_http_info(endpoint_id, opts)
      data
    end

    # Get Webhook Endpoint
    # One webhook endpoint by id.
    # @param endpoint_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(WebhookEndpointResponse, Integer, Hash)>] WebhookEndpointResponse data, response status code and response headers
    def get_webhook_endpoint_with_http_info(endpoint_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.get_webhook_endpoint ...'
      end
      # verify the required parameter 'endpoint_id' is set
      if @api_client.config.client_side_validation && endpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'endpoint_id' when calling WebhooksApi.get_webhook_endpoint"
      end
      # resource path
      local_var_path = '/api/v1/webhook-endpoints/{endpoint_id}'.sub('{' + 'endpoint_id' + '}', CGI.escape(endpoint_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WebhookEndpointResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"WebhooksApi.get_webhook_endpoint",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#get_webhook_endpoint\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Webhook Deliveries
    # Every webhook delivery attempt on the account, newest first.  One row per attempt to POST an event to one of your endpoints, with the HTTP status and attempt count. For emails sent to your customers, see `get_delivery`.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [String] :cursor 
    # @return [WebhookDeliveriesListResponse]
    def list_webhook_deliveries(opts = {})
      data, _status_code, _headers = list_webhook_deliveries_with_http_info(opts)
      data
    end

    # List Webhook Deliveries
    # Every webhook delivery attempt on the account, newest first.  One row per attempt to POST an event to one of your endpoints, with the HTTP status and attempt count. For emails sent to your customers, see &#x60;get_delivery&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [String] :cursor 
    # @return [Array<(WebhookDeliveriesListResponse, Integer, Hash)>] WebhookDeliveriesListResponse data, response status code and response headers
    def list_webhook_deliveries_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.list_webhook_deliveries ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling WebhooksApi.list_webhook_deliveries, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling WebhooksApi.list_webhook_deliveries, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/v1/webhook-deliveries'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WebhookDeliveriesListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"WebhooksApi.list_webhook_deliveries",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#list_webhook_deliveries\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Webhook Endpoints
    # Every webhook endpoint registered on the account, newest first.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [String] :cursor 
    # @return [WebhookEndpointsListResponse]
    def list_webhook_endpoints(opts = {})
      data, _status_code, _headers = list_webhook_endpoints_with_http_info(opts)
      data
    end

    # List Webhook Endpoints
    # Every webhook endpoint registered on the account, newest first.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [String] :cursor 
    # @return [Array<(WebhookEndpointsListResponse, Integer, Hash)>] WebhookEndpointsListResponse data, response status code and response headers
    def list_webhook_endpoints_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.list_webhook_endpoints ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling WebhooksApi.list_webhook_endpoints, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling WebhooksApi.list_webhook_endpoints, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/v1/webhook-endpoints'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WebhookEndpointsListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"WebhooksApi.list_webhook_endpoints",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#list_webhook_endpoints\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retry Webhook Delivery
    # Send a failed or pending webhook delivery again, immediately.  Resets the attempt counter on the same delivery and dispatches it without waiting for the retry schedule. Failed deliveries are already retried automatically with backoff, so this is for after those are exhausted — or to send a delivery created by `test_webhook_endpoint`.  Refused with 409 in any other status. To re-send an email, use `retry_delivery`.
    # @param delivery_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [WebhookDeliveryResponse]
    def retry_webhook_delivery(delivery_id, opts = {})
      data, _status_code, _headers = retry_webhook_delivery_with_http_info(delivery_id, opts)
      data
    end

    # Retry Webhook Delivery
    # Send a failed or pending webhook delivery again, immediately.  Resets the attempt counter on the same delivery and dispatches it without waiting for the retry schedule. Failed deliveries are already retried automatically with backoff, so this is for after those are exhausted — or to send a delivery created by &#x60;test_webhook_endpoint&#x60;.  Refused with 409 in any other status. To re-send an email, use &#x60;retry_delivery&#x60;.
    # @param delivery_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(WebhookDeliveryResponse, Integer, Hash)>] WebhookDeliveryResponse data, response status code and response headers
    def retry_webhook_delivery_with_http_info(delivery_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.retry_webhook_delivery ...'
      end
      # verify the required parameter 'delivery_id' is set
      if @api_client.config.client_side_validation && delivery_id.nil?
        fail ArgumentError, "Missing the required parameter 'delivery_id' when calling WebhooksApi.retry_webhook_delivery"
      end
      # resource path
      local_var_path = '/api/v1/webhook-deliveries/{delivery_id}/retry'.sub('{' + 'delivery_id' + '}', CGI.escape(delivery_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WebhookDeliveryResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"WebhooksApi.retry_webhook_delivery",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#retry_webhook_delivery\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Rotate Webhook Secret
    # Issue a new signing secret and return it.  This is the only response that contains the secret, so it is also how you obtain the first one after creating an endpoint. The previous secret stops being accepted immediately: signatures computed with it will not verify.
    # @param endpoint_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [WebhookSecretResponse]
    def rotate_webhook_secret(endpoint_id, opts = {})
      data, _status_code, _headers = rotate_webhook_secret_with_http_info(endpoint_id, opts)
      data
    end

    # Rotate Webhook Secret
    # Issue a new signing secret and return it.  This is the only response that contains the secret, so it is also how you obtain the first one after creating an endpoint. The previous secret stops being accepted immediately: signatures computed with it will not verify.
    # @param endpoint_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(WebhookSecretResponse, Integer, Hash)>] WebhookSecretResponse data, response status code and response headers
    def rotate_webhook_secret_with_http_info(endpoint_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.rotate_webhook_secret ...'
      end
      # verify the required parameter 'endpoint_id' is set
      if @api_client.config.client_side_validation && endpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'endpoint_id' when calling WebhooksApi.rotate_webhook_secret"
      end
      # resource path
      local_var_path = '/api/v1/webhook-endpoints/{endpoint_id}/rotate-secret'.sub('{' + 'endpoint_id' + '}', CGI.escape(endpoint_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WebhookSecretResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"WebhooksApi.rotate_webhook_secret",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#rotate_webhook_secret\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Test Webhook Endpoint
    # Send a test event to this endpoint.  Delivers a `test` event immediately, so you can confirm the URL is reachable and your signature check works before real events depend on it.  Returns straight away with the delivery in `pending`; follow it with `get_webhook_delivery` to see whether it arrived.
    # @param endpoint_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [WebhookDeliveryResponse]
    def test_webhook_endpoint(endpoint_id, opts = {})
      data, _status_code, _headers = test_webhook_endpoint_with_http_info(endpoint_id, opts)
      data
    end

    # Test Webhook Endpoint
    # Send a test event to this endpoint.  Delivers a &#x60;test&#x60; event immediately, so you can confirm the URL is reachable and your signature check works before real events depend on it.  Returns straight away with the delivery in &#x60;pending&#x60;; follow it with &#x60;get_webhook_delivery&#x60; to see whether it arrived.
    # @param endpoint_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(WebhookDeliveryResponse, Integer, Hash)>] WebhookDeliveryResponse data, response status code and response headers
    def test_webhook_endpoint_with_http_info(endpoint_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.test_webhook_endpoint ...'
      end
      # verify the required parameter 'endpoint_id' is set
      if @api_client.config.client_side_validation && endpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'endpoint_id' when calling WebhooksApi.test_webhook_endpoint"
      end
      # resource path
      local_var_path = '/api/v1/webhook-endpoints/{endpoint_id}/test'.sub('{' + 'endpoint_id' + '}', CGI.escape(endpoint_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WebhookDeliveryResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"WebhooksApi.test_webhook_endpoint",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#test_webhook_endpoint\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Webhook Endpoint
    # Change an endpoint's URL, description, event list or active flag.  Only the fields you send are changed. Setting `is_active` to false stops new deliveries while keeping the endpoint and its history, which is the reversible alternative to deleting it.
    # @param endpoint_id [String] 
    # @param webhook_endpoint_patch_request [WebhookEndpointPatchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [WebhookEndpointResponse]
    def update_webhook_endpoint(endpoint_id, webhook_endpoint_patch_request, opts = {})
      data, _status_code, _headers = update_webhook_endpoint_with_http_info(endpoint_id, webhook_endpoint_patch_request, opts)
      data
    end

    # Update Webhook Endpoint
    # Change an endpoint&#39;s URL, description, event list or active flag.  Only the fields you send are changed. Setting &#x60;is_active&#x60; to false stops new deliveries while keeping the endpoint and its history, which is the reversible alternative to deleting it.
    # @param endpoint_id [String] 
    # @param webhook_endpoint_patch_request [WebhookEndpointPatchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(WebhookEndpointResponse, Integer, Hash)>] WebhookEndpointResponse data, response status code and response headers
    def update_webhook_endpoint_with_http_info(endpoint_id, webhook_endpoint_patch_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.update_webhook_endpoint ...'
      end
      # verify the required parameter 'endpoint_id' is set
      if @api_client.config.client_side_validation && endpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'endpoint_id' when calling WebhooksApi.update_webhook_endpoint"
      end
      # verify the required parameter 'webhook_endpoint_patch_request' is set
      if @api_client.config.client_side_validation && webhook_endpoint_patch_request.nil?
        fail ArgumentError, "Missing the required parameter 'webhook_endpoint_patch_request' when calling WebhooksApi.update_webhook_endpoint"
      end
      # resource path
      local_var_path = '/api/v1/webhook-endpoints/{endpoint_id}'.sub('{' + 'endpoint_id' + '}', CGI.escape(endpoint_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(webhook_endpoint_patch_request)

      # return_type
      return_type = opts[:debug_return_type] || 'WebhookEndpointResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"WebhooksApi.update_webhook_endpoint",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#update_webhook_endpoint\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
