=begin
#InvoicePDFs

#InvoicePDFs turns a JSON document into a polished PDF — invoices, credit notes, quotes, receipts, proformas, purchase orders and delivery notes. The API validates your data, computes totals correctly (tax, discounts, shipping), and returns a downloadable, professional PDF.  This package is the official client for the InvoicePDFs API, generated from the OpenAPI specification.  Documentation: https://invoicepdfs.com

The version of the OpenAPI document: 0.1.2

Generated by: https://openapi-generator.tech
Generator version: 7.7.0

=end

require 'cgi'

module InvoicePDFs
  class WorkspacesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Member
    # @param workspace_id [String] 
    # @param workspace_member_create_request [WorkspaceMemberCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key 
    # @return [WorkspaceMembersListResponse]
    def create_member_api_v1_workspaces_workspace_id_members_post(workspace_id, workspace_member_create_request, opts = {})
      data, _status_code, _headers = create_member_api_v1_workspaces_workspace_id_members_post_with_http_info(workspace_id, workspace_member_create_request, opts)
      data
    end

    # Create Member
    # @param workspace_id [String] 
    # @param workspace_member_create_request [WorkspaceMemberCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key 
    # @return [Array<(WorkspaceMembersListResponse, Integer, Hash)>] WorkspaceMembersListResponse data, response status code and response headers
    def create_member_api_v1_workspaces_workspace_id_members_post_with_http_info(workspace_id, workspace_member_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkspacesApi.create_member_api_v1_workspaces_workspace_id_members_post ...'
      end
      # verify the required parameter 'workspace_id' is set
      if @api_client.config.client_side_validation && workspace_id.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_id' when calling WorkspacesApi.create_member_api_v1_workspaces_workspace_id_members_post"
      end
      # verify the required parameter 'workspace_member_create_request' is set
      if @api_client.config.client_side_validation && workspace_member_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_member_create_request' when calling WorkspacesApi.create_member_api_v1_workspaces_workspace_id_members_post"
      end
      # resource path
      local_var_path = '/api/v1/workspaces/{workspace_id}/members'.sub('{' + 'workspace_id' + '}', CGI.escape(workspace_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(workspace_member_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'WorkspaceMembersListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"WorkspacesApi.create_member_api_v1_workspaces_workspace_id_members_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkspacesApi#create_member_api_v1_workspaces_workspace_id_members_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Workspace
    # @param workspace_create_request [WorkspaceCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key 
    # @return [WorkspaceResponse]
    def create_workspace_api_v1_workspaces_post(workspace_create_request, opts = {})
      data, _status_code, _headers = create_workspace_api_v1_workspaces_post_with_http_info(workspace_create_request, opts)
      data
    end

    # Create Workspace
    # @param workspace_create_request [WorkspaceCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key 
    # @return [Array<(WorkspaceResponse, Integer, Hash)>] WorkspaceResponse data, response status code and response headers
    def create_workspace_api_v1_workspaces_post_with_http_info(workspace_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkspacesApi.create_workspace_api_v1_workspaces_post ...'
      end
      # verify the required parameter 'workspace_create_request' is set
      if @api_client.config.client_side_validation && workspace_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_create_request' when calling WorkspacesApi.create_workspace_api_v1_workspaces_post"
      end
      # resource path
      local_var_path = '/api/v1/workspaces'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(workspace_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'WorkspaceResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"WorkspacesApi.create_workspace_api_v1_workspaces_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkspacesApi#create_workspace_api_v1_workspaces_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Member
    # @param workspace_id [String] 
    # @param member_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [SimpleBoolResponse]
    def delete_member_api_v1_workspaces_workspace_id_members_member_id_delete(workspace_id, member_id, opts = {})
      data, _status_code, _headers = delete_member_api_v1_workspaces_workspace_id_members_member_id_delete_with_http_info(workspace_id, member_id, opts)
      data
    end

    # Delete Member
    # @param workspace_id [String] 
    # @param member_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SimpleBoolResponse, Integer, Hash)>] SimpleBoolResponse data, response status code and response headers
    def delete_member_api_v1_workspaces_workspace_id_members_member_id_delete_with_http_info(workspace_id, member_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkspacesApi.delete_member_api_v1_workspaces_workspace_id_members_member_id_delete ...'
      end
      # verify the required parameter 'workspace_id' is set
      if @api_client.config.client_side_validation && workspace_id.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_id' when calling WorkspacesApi.delete_member_api_v1_workspaces_workspace_id_members_member_id_delete"
      end
      # verify the required parameter 'member_id' is set
      if @api_client.config.client_side_validation && member_id.nil?
        fail ArgumentError, "Missing the required parameter 'member_id' when calling WorkspacesApi.delete_member_api_v1_workspaces_workspace_id_members_member_id_delete"
      end
      # resource path
      local_var_path = '/api/v1/workspaces/{workspace_id}/members/{member_id}'.sub('{' + 'workspace_id' + '}', CGI.escape(workspace_id.to_s)).sub('{' + 'member_id' + '}', CGI.escape(member_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SimpleBoolResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"WorkspacesApi.delete_member_api_v1_workspaces_workspace_id_members_member_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkspacesApi#delete_member_api_v1_workspaces_workspace_id_members_member_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Workspace
    # @param workspace_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [SimpleBoolResponse]
    def delete_workspace_api_v1_workspaces_workspace_id_delete(workspace_id, opts = {})
      data, _status_code, _headers = delete_workspace_api_v1_workspaces_workspace_id_delete_with_http_info(workspace_id, opts)
      data
    end

    # Delete Workspace
    # @param workspace_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SimpleBoolResponse, Integer, Hash)>] SimpleBoolResponse data, response status code and response headers
    def delete_workspace_api_v1_workspaces_workspace_id_delete_with_http_info(workspace_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkspacesApi.delete_workspace_api_v1_workspaces_workspace_id_delete ...'
      end
      # verify the required parameter 'workspace_id' is set
      if @api_client.config.client_side_validation && workspace_id.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_id' when calling WorkspacesApi.delete_workspace_api_v1_workspaces_workspace_id_delete"
      end
      # resource path
      local_var_path = '/api/v1/workspaces/{workspace_id}'.sub('{' + 'workspace_id' + '}', CGI.escape(workspace_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SimpleBoolResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"WorkspacesApi.delete_workspace_api_v1_workspaces_workspace_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkspacesApi#delete_workspace_api_v1_workspaces_workspace_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Workspace
    # @param workspace_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [WorkspaceResponse]
    def get_workspace_api_v1_workspaces_workspace_id_get(workspace_id, opts = {})
      data, _status_code, _headers = get_workspace_api_v1_workspaces_workspace_id_get_with_http_info(workspace_id, opts)
      data
    end

    # Get Workspace
    # @param workspace_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(WorkspaceResponse, Integer, Hash)>] WorkspaceResponse data, response status code and response headers
    def get_workspace_api_v1_workspaces_workspace_id_get_with_http_info(workspace_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkspacesApi.get_workspace_api_v1_workspaces_workspace_id_get ...'
      end
      # verify the required parameter 'workspace_id' is set
      if @api_client.config.client_side_validation && workspace_id.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_id' when calling WorkspacesApi.get_workspace_api_v1_workspaces_workspace_id_get"
      end
      # resource path
      local_var_path = '/api/v1/workspaces/{workspace_id}'.sub('{' + 'workspace_id' + '}', CGI.escape(workspace_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WorkspaceResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"WorkspacesApi.get_workspace_api_v1_workspaces_workspace_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkspacesApi#get_workspace_api_v1_workspaces_workspace_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Members
    # @param workspace_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [WorkspaceMembersListResponse]
    def list_members_api_v1_workspaces_workspace_id_members_get(workspace_id, opts = {})
      data, _status_code, _headers = list_members_api_v1_workspaces_workspace_id_members_get_with_http_info(workspace_id, opts)
      data
    end

    # List Members
    # @param workspace_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(WorkspaceMembersListResponse, Integer, Hash)>] WorkspaceMembersListResponse data, response status code and response headers
    def list_members_api_v1_workspaces_workspace_id_members_get_with_http_info(workspace_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkspacesApi.list_members_api_v1_workspaces_workspace_id_members_get ...'
      end
      # verify the required parameter 'workspace_id' is set
      if @api_client.config.client_side_validation && workspace_id.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_id' when calling WorkspacesApi.list_members_api_v1_workspaces_workspace_id_members_get"
      end
      # resource path
      local_var_path = '/api/v1/workspaces/{workspace_id}/members'.sub('{' + 'workspace_id' + '}', CGI.escape(workspace_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WorkspaceMembersListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"WorkspacesApi.list_members_api_v1_workspaces_workspace_id_members_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkspacesApi#list_members_api_v1_workspaces_workspace_id_members_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Workspaces
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [String] :cursor 
    # @return [WorkspacesListResponse]
    def list_workspaces_api_v1_workspaces_get(opts = {})
      data, _status_code, _headers = list_workspaces_api_v1_workspaces_get_with_http_info(opts)
      data
    end

    # List Workspaces
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [String] :cursor 
    # @return [Array<(WorkspacesListResponse, Integer, Hash)>] WorkspacesListResponse data, response status code and response headers
    def list_workspaces_api_v1_workspaces_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkspacesApi.list_workspaces_api_v1_workspaces_get ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling WorkspacesApi.list_workspaces_api_v1_workspaces_get, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling WorkspacesApi.list_workspaces_api_v1_workspaces_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/v1/workspaces'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WorkspacesListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"WorkspacesApi.list_workspaces_api_v1_workspaces_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkspacesApi#list_workspaces_api_v1_workspaces_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch Member
    # @param workspace_id [String] 
    # @param member_id [String] 
    # @param workspace_member_patch_request [WorkspaceMemberPatchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [WorkspaceMemberOut]
    def patch_member_api_v1_workspaces_workspace_id_members_member_id_patch(workspace_id, member_id, workspace_member_patch_request, opts = {})
      data, _status_code, _headers = patch_member_api_v1_workspaces_workspace_id_members_member_id_patch_with_http_info(workspace_id, member_id, workspace_member_patch_request, opts)
      data
    end

    # Patch Member
    # @param workspace_id [String] 
    # @param member_id [String] 
    # @param workspace_member_patch_request [WorkspaceMemberPatchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(WorkspaceMemberOut, Integer, Hash)>] WorkspaceMemberOut data, response status code and response headers
    def patch_member_api_v1_workspaces_workspace_id_members_member_id_patch_with_http_info(workspace_id, member_id, workspace_member_patch_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkspacesApi.patch_member_api_v1_workspaces_workspace_id_members_member_id_patch ...'
      end
      # verify the required parameter 'workspace_id' is set
      if @api_client.config.client_side_validation && workspace_id.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_id' when calling WorkspacesApi.patch_member_api_v1_workspaces_workspace_id_members_member_id_patch"
      end
      # verify the required parameter 'member_id' is set
      if @api_client.config.client_side_validation && member_id.nil?
        fail ArgumentError, "Missing the required parameter 'member_id' when calling WorkspacesApi.patch_member_api_v1_workspaces_workspace_id_members_member_id_patch"
      end
      # verify the required parameter 'workspace_member_patch_request' is set
      if @api_client.config.client_side_validation && workspace_member_patch_request.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_member_patch_request' when calling WorkspacesApi.patch_member_api_v1_workspaces_workspace_id_members_member_id_patch"
      end
      # resource path
      local_var_path = '/api/v1/workspaces/{workspace_id}/members/{member_id}'.sub('{' + 'workspace_id' + '}', CGI.escape(workspace_id.to_s)).sub('{' + 'member_id' + '}', CGI.escape(member_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(workspace_member_patch_request)

      # return_type
      return_type = opts[:debug_return_type] || 'WorkspaceMemberOut'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"WorkspacesApi.patch_member_api_v1_workspaces_workspace_id_members_member_id_patch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkspacesApi#patch_member_api_v1_workspaces_workspace_id_members_member_id_patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch Workspace
    # @param workspace_id [String] 
    # @param workspace_patch_request [WorkspacePatchRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key 
    # @return [WorkspaceResponse]
    def patch_workspace_api_v1_workspaces_workspace_id_patch(workspace_id, workspace_patch_request, opts = {})
      data, _status_code, _headers = patch_workspace_api_v1_workspaces_workspace_id_patch_with_http_info(workspace_id, workspace_patch_request, opts)
      data
    end

    # Patch Workspace
    # @param workspace_id [String] 
    # @param workspace_patch_request [WorkspacePatchRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key 
    # @return [Array<(WorkspaceResponse, Integer, Hash)>] WorkspaceResponse data, response status code and response headers
    def patch_workspace_api_v1_workspaces_workspace_id_patch_with_http_info(workspace_id, workspace_patch_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkspacesApi.patch_workspace_api_v1_workspaces_workspace_id_patch ...'
      end
      # verify the required parameter 'workspace_id' is set
      if @api_client.config.client_side_validation && workspace_id.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_id' when calling WorkspacesApi.patch_workspace_api_v1_workspaces_workspace_id_patch"
      end
      # verify the required parameter 'workspace_patch_request' is set
      if @api_client.config.client_side_validation && workspace_patch_request.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_patch_request' when calling WorkspacesApi.patch_workspace_api_v1_workspaces_workspace_id_patch"
      end
      # resource path
      local_var_path = '/api/v1/workspaces/{workspace_id}'.sub('{' + 'workspace_id' + '}', CGI.escape(workspace_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(workspace_patch_request)

      # return_type
      return_type = opts[:debug_return_type] || 'WorkspaceResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"WorkspacesApi.patch_workspace_api_v1_workspaces_workspace_id_patch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkspacesApi#patch_workspace_api_v1_workspaces_workspace_id_patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
